<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>包崇庆</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/baocongqing.png" width="170" height="210"/>
		</div>
		<div class="in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>包崇庆</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>美术学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>“1+3”研究生</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			      
			<p>欲成东师志 必下磨杵功
包崇庆，男，中共党员，东北师范大学美术学院2013级本科生。三年综合排名专业第一，大二大三学年所有专业课程（19门）单科排名第一，平均学分绩点达4.92。曾获国家奖学金、宝钢奖学金。现任校学生会宣传部部长、美术学院团委副书记、青马学会会长、年级长、班长等职务。
勤于学习使他成绩优异，躬于实践使他视野开阔，勇于创新使他捷报频传，敢于担当使他领军集体，甘于奉献使他不断成长。他用汗水播撒了希望的种子，用智慧收获了成功的喜悦，用激情绘出了生命的彩虹。他用自己的实际行动诠释了美院学子的青春热血，展现了美术人的艺术风采。
学习——三更灯火五更鸡，正是男儿读书时
勤奋刻苦是他的内在精神，夜以继日是他的生活常态。每天端坐在画板前，他的脊椎早已不堪负重，身上的膏药味儿与颜料的混合，更使他坚定了为艺术而奋斗的心。曾经一度对“飞尘”（版画的一种技法）过敏的他，每天都带着几层口罩作画，画室的闷热，颜料的腐蚀，他后悔过么？没有！只因他坚信有多少人赞叹地喝彩，就有多少一个人挑灯夜战仍不悔的通宵；有多少振奋人心的誓词，就有多少默默付出的辛劳。清晨第一个走进教室，深夜最后一个离开画室，三年的坚持让他收获颇丰。
在学业成绩上，从入学之初的年级100名到年级322人中排名第一，平均学分基点达4.92，三年综合排名专业第一，并获“宝钢优秀学生奖学金”“国家奖学金”“校长奖学金”“优秀学生干部奖学金”“教师技能奖学金”“社会实践奖学金”“优秀学生”等荣誉。
在专业竞赛上，他的作品十余次入选省级国家级画展，其中有一幅作品获全国大学生美育作品展中“一等奖”，作为我校首个本科生作品入选由“八大美术学院”联合举办的全国第十三届版画教学年会（全国仅有20所高校具有推荐作品资格），作品《屹立》入选第四届国际小版画暨藏书票双年展（参加评选的艺术家来自50个国家和地区）。相比获奖，他更珍惜的是那一路上经历的酸甜苦辣，因为喜欢，所以他认为一切的坚持都是值得的；因为热爱，所以他从不惧怕失败。为了掌握熟练的版画技法，他经历了上百次的版画技法的尝试，为了创作出更好的作品，他经常在画室工作到下半夜，并直接躺在地板上小憩一会，早上六七点爬起，来到版画实验室，赶紧配制着三氯化铁腐蚀液，测试腐蚀度。空旷的画室，狭小的腐蚀间，见证了他的成长与蜕变。
工作——衣带渐宽终不悔，为伊消得人憔悴
在保证专业学习的同时，他积极投身到丰富多彩的学生工作之中。作为校学生会宣传部部长，他为了设计校园橱窗展板、宣传海报时常通宵达旦昼夜不眠，为了拍摄一期微信推送的照片，他凌晨去拍摄东师的光景。作为美术学院团委副书记，为了举办一场精彩的团日活动，前后近十次的彩排，为了展现美术学院的风采，五四评优时无数次的修改申请材料。再苦再累，他从不抱怨；再难再险，他从不退缩。务实工作让他多次获得校级“优秀学生干部”、“五四红旗团干部”、“五四优秀团员”、“五四红旗团员”等荣誉称号。因为真诚，他得到同学们满意的反馈和老师们放心的托付。因为真诚，他不断成长，在年轻的战场挥洒汗水，不留遗憾。
科研——纸上得来终觉浅，绝知此事要躬行
在科研方面踏实是他的准则他还在科研的道路上积极求索，积极参加各类科研创新活动。他曾先后主持参与“国家级大学生创新创业计划项目”一项，“中央高校基本科研业务项目”四项、并有两篇文章发表于省级核心期刊、一篇论文获省级论文赛“二等奖”。
“在科学上没有平坦的大道，只有不畏劳苦沿着陡峭山路攀登的人，才有希望达到光辉的顶点”。科研的从来不是一帆风顺的。作为一名本科生，没有任何科研经验，作为艺术生他理论基础差，但是他克服一切困难，向大家证明美术生也可以做科研，同样可以做到很精彩。
志愿——随风潜入夜，润物细无声
“身怀感恩之心，着力回报社会”是每一个学生应尽的职责。不管是暑期支教还是社区敬老，不管是义务募捐还是爱心助学，都活跃着他的身影。他曾利用两个暑期的时间分别赴河南郏县城关一中、贵州黔东南山岗小学、吉林榆树蓝天幼儿园等地进行支教。大学期间他还长期参与长春新智自闭症儿童学校的志愿服务，现在也是厚普公益学校的爱心教师。连续两年多次获得“优秀志愿者”、“爱心教师”、“优秀班主任”等荣誉称号。作为一名东师学子，他力求在志愿服务中回报社会，在公益活动中砥砺品格。
东师四载，乘风追梦。归根到底追的是美术人的成长梦，作为一名当代大学生、作为一名中共党员，他一直将横渠先生张载所倡的“为天地立心，为生民立命，为往圣继绝学，为万世开太平”作为自己的立世宣言，他愿沿着艺术的道路，绘制着青春的画卷。他愿努力成为一个有格局的人，坚持真理、正直做人，宽容待人，懂得感恩，胸怀世界，拥有艺术人生的大气象、大意境、大趣味！
			</p>
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>


	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
