<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>chengjunming</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/chengjunming.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>程钧铭</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>历史文化学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研(中国人民大学)</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>“修身成均怀高志，笃行《溯园》永铭心” 
★校学生自办学术期刊《溯园》编辑部第一副主任、编委会副主编（副主编中唯一1名本科生）、《溯园》改版的第一参与人、《溯园》编辑部创始人
★以专业成绩第一名保送中国人民大学中国近现代史专业
★学校首个“本硕博一体化”学生学术论坛“青史论坛”创始人
★曾独立汇总编辑了《溯园》改版调研报告（65000字），同时作为第一参与人参与起草了《溯园编辑部章程》和《溯园编辑部制度汇编》（两份文件共计35000字），受到学院高度肯定
★教育部历史学学部工作会议等5大国内外顶级学术会议标兵志愿者

程钧铭，女，1995年7月生于山东省泰安市，中国共产党党员，东北师范大学历史文化学院历史学专业2013级本科生。曾任学院学生会副主席、“史苑”朋辈导师团副团长、2013级本科生年级学习委员。曾先后获校长奖学金、二等奖学金、三等奖学金、优秀学生干部奖学金和校优秀学生、五四红旗团员、五四红旗志愿者、校级优秀教务助理等十余项奖励。
有人问她：你本科三年里做的最有意义的、令自己最难忘的一件事是什么？她的答案坚定且唯一，那就是作为《溯园》编辑部的创始人、副主任、副主编，用两年整的时间完成了学生学术期刊《溯园》的改版！如果说大一下学期加入《溯园》的她仅仅算是对历史专业“初窥门径”的小学生，那历经两年不懈努力手捧改版后《溯园》的程钧铭则真正成长为了一名坚定的学术“守望者”。
上篇：“玉经琢磨多成器，剑拔沉埋便倚天”——她以勤勉铸《溯园》
韩东育老师在新生入学第一课上的谆谆告诫给她留下了深深的印记：“选择了历史系就是选择了一条相对漫长的学术道路，这个漫长意味着你至少要耐得住寂寞，至少要坐十年冷板凳”。那时的她就下定决心，不论这条路多长都要试着走下去。三年来，有的同学选择了做项目提高科研能力，有的同学选择了写论文培养学术水平，而她，选择了与众不同的方式——参与《溯园》的改版、发刊。
《溯园》是有着28年历史的史苑学生自办学术刊物，得知改版筹委会招聘，她马上递交报名表并成功成为筹委会的一员。还记得，作为大一学生的她，接到的第一项任务，是从办刊的角度去调研历史学科国家顶级期刊《历史研究》。这是一项虽然具有标志性意义但却极富挑战性的任务，调研结果将直接影响和决定《溯园》改版发刊的基本原则。她接下了这项工作并圆满完成。两周，15天，她在过刊室中查阅了《历史研究》1954年创刊以来60年内所有能找到的期刊，仔细研读比较，从封面设计到编校排版，从栏目设置到征稿启示，甚至是封底的条形码和价格都进行了详细的分类统计和认真的深度分析。她的调研结果翔实细致，为《溯园》的改版提供了宝贵而准确的一手参考资料。正是看到了她的研究潜力和工作能力，筹委会果断决定将独立汇总编辑《溯园》改版调研报告这一重要任务交给她这个“初出茅庐”的“大一小孩”，而现在看来，这一决定无疑是非常正确的，因为它不仅成就了《溯园》，也成就了一位年轻的学人。一个多月的时间里，她除了上课时间几乎都泡在学院期刊室，为了了解办刊理念，她甚至找到了各刊物发刊词作者写的与办刊有关的文章、日记，边看边记录边整理。42天后，她用完了两本白稿纸，终于完成了65000字的改版调研报告，为《溯园》成功改版奠定了坚实的基础。完成报告的那天很冷，可是拿着沉甸甸报告的她却特别兴奋，她不知道报告能不能通过，却第一次体会到想要潜心研究点东西是什么滋味，40多天坐冷板凳的滋味很苦，可她却懂得了学术研究的旨趣正是要勤勉奋进、苦中作乐。
筹备调研只是改版的“前奏”，接下来的两年里，她不改初心，坚持不懈，在《溯园》改版过程中的每一个关键节点都倾注了心血和努力。参与起草《溯园》的《章程》和《制度汇编》，她参考了《中国社会科学》等数十家行内知名出版社、杂志社的制度规范，遍阅全国知名高校学报的核心章程，逐字逐条推敲《溯园》章程制度，做到了初稿一出即基本成型；组建编辑部，她协助博士主任定部门、选编辑、做培训，细心考察每一个成员的优长与特点，最大限度的提升了团队的效率与水平；为了实现封面初始设计的“深海龙宫蓝”，她带队去印刷厂一个色块一个色块的试，最后终于从几乎分不出差别的几个版本中选出了最满意的一版；为了适应投稿的“专业多样性”，她广泛阅读了世界史、中国史、考古学和旅游管理各个专业十余个主要研究方向的核心书目，努力使自己成为“一专多能”的专业编辑；为了实现《溯园》“国家级学术水平、优秀省级刊物办刊水平”的目标，她以身作则，带领责任编辑们严格执行“三审三校”流程，对确定刊发的稿件逐字、逐句、逐个标点进行编辑校对，一点错误也不放过，平均每篇稿件至少要校对8遍……两年时间不长，但却占了本科阶段的一半时光。正是在这样一段重要而又难忘的日子里，程钧铭带领着她的团队，用默默无闻的勤勉与坚持，铸就了《溯园》今日的辉煌。
下篇：“时人不识凌云木，直待凌云始道高”：《溯园》助她成典范
她始终相信自己的历史学学术科研之路将是一个漫长的积累过程，而这一过程又因有了《溯园》相伴而变得愈加坚实和厚重。在她看来，《溯园》锤炼了她的学术品格，使她逐渐明确了自己的学术方向，养成了良好的学术规范，提升了自己的综合能力，两年里时光难忘，收获良多。
在《溯园》的影响下，她选修了大量专业选修课来提高自己的专业能力，用在编辑《溯园》稿件过程中学到的学术规范认真的完成所有的课业论文，通过对各个专业方向的深入了解最终确定了自己未来的研究方向——中国近现代史，她的成绩也逐步提升，由年级第47名一路上升成为专业排名第一；她将对《溯园》的投入同样数倍投入于自己的学业，入学以来几乎没有在凌晨1点前睡过觉，为了防止自己打瞌睡，她整个冬天都没穿过一次棉拖鞋，实在困了她就用冷水洗洗脸，或者打开走廊的窗子吹吹风；她坚信“事非经过不知道”，并将在编辑部积累的经验应用到了其他学生工作之中，担任学院学生会副主席，创办了学校首个“本硕博一体化”学生学术论坛“青史论坛”，2年来累计78名本硕博主讲人做主题发言，已有近600名史苑学子直接参与活动，作为标兵志愿者和会务组核心成员，她承担了教育部历史学部会议和“东亚思想史”国际学术研讨会会议记录和综述材料整理，获得了会务组的高度肯定……她相信《溯园》，相信那些编过的稿件、排过的版面、校对过的词句终将成为自己在历史研究中的坚实基础和未来发展路上的不竭动力，能够使自己在今后成长之路上走的更加扎实、稳重。在她看来，学习没有捷径，行到水穷处莫要放弃，唯坚持方能求真知。正是在《溯园》编辑日积月累的过程中，她逐步成长为“凌云之木”，成为了学弟学妹们学习的标兵和典范。

“两年磨一剑，出鞘见其锋”。2014年，《历史研究》创刊60周年之际，《溯园》启动改版，程钧铭是亲历并见证；2016年，《溯园》改版成功之际，程钧铭以专业第1名的成绩保送中国人民大学中国近现代史专业。《溯园》使她成长，她使《溯园》成真！这就是她，程钧铭，历代《溯园》人精神的缩影。她是一位执着的学人，是一位有担当的青年学术团队“带头人”，更是一位甘于奉献、成就朋辈的耕耘者。本科三年，她凭借自身踏实的“青史《溯园》之旅”在成就自己的同时使学院千余学生在专业学术能力提升方面受益，史苑后辈学人，必当感佩其所作之贡献，并以她为先辈楷模而继续努力！
甘坐十年冷板凳，坚守史苑学术魂。
修身成均怀高志，笃行溯园永铭心。
——历史文化学院程钧铭
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>


	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
