<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>guoyanbing</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/guoyanbin.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>郭艳斌</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>教育学部</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>读研（北师大）</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
					
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>要让每一个孩子都享有人生出彩的机会
郭艳斌，男，东北师范大学教育学部2013级教育学专业本科生。大学期间，他的学习成绩优异，连续四个学期专业第一，大学三年综合排名位列专业第一。科研能力较强，曾在《吉林省教育学院学报》上以第一作者的身份发表省级论文1篇，主持并完成多项国家级、院级科研；社会实践经验丰富,曾主持并完成暑期校级社会实践1项并获优秀结题，多次参与东北师范大学农村教育研究所的寒、暑假社会实践活动并获特等奖1次，一等奖3次，三等奖1次。如今，他已被保送至北京师范大学教育经济研究所，即将开启新的征程。
人生的精彩就在于选择与坚守之间
怀着改变中国教育的赤诚之心，看着“教育学”这个高大上的专业名称，高考结束填报志愿时，郭艳斌满心欢喜地在第一志愿选择了“教育学”并顺利被中国教育学研究的重镇之一——东北师范大学教育学部录取。升入大学以后，“教育学是什么”、“教育对个人的影响”、“教育对社会的作用”……诸如此类的问题扑面而来，但这对于改变中国应试教育的现状、改变落后地区的教育又有什么用？可以说，专业课所学内容让包括郭艳斌在内的很多同学都感到“不解”，与他们的预期也有很大出入，加之，很多学姐学长都在说“教育学本科毕业不好找工作”、“教育学没前途”等等消极的话，对此，郭艳斌的很多同学都动摇了，或者直接转到别的学院，或者打算考二学历以备“不时之需”，事实上，他也徘徊过、犹豫过，甚至也想过转专业，但是，当夜深人静的时候，他还是会质问自己，当初那个口口声声说要通过学习教育学来改变中国教育现状的郭艳斌到哪儿去了。转专业也许意味着本科毕业好找工作、好就业，但同样意味着，在理想与现实面前，他退缩了，他屈服了。不过，幸运的是，他最终选择了坚守，坚守自己的梦想，坚信自己的选择。
徘徊是暂时的，未来是美好的。自大二上学期以来，他横下一条心，专心学业，奋起直追，一扫大一时的颓废和犹豫，每天从早上8点到晚上10点，除了上课和参加一些活动以外，他基本都呆在图书馆，以至于图书馆的很多老师都认识了他。正是这样的付出与坚持，使他连续四个学期斩获专业第一成为了可能，综合排名也由大一时的50%上升至现在的5%（第一名）。郭艳斌学习之投入从他完成作业的态度可略知一二，一门专业课的论文作业从酝酿到成形历经数月，多次易稿，最终在老师的指导下，以第一作者的身份成功发表在《吉林省教育学院学报》上。所有的付出与坚持都没有白费，大学至今，郭艳斌获得过“国家奖学金”、“国家励志奖学金”、“校长奖学金”、“学校励志奖学金”、“优秀学生”荣誉称号等多项奖学金和荣誉称号。
很多同学都非常好奇郭艳斌是如何“逆袭”成功的，他的动力何在，特别是在同学们普遍对所学专业感到“失望”并想出各种“退路”的情况下，他是如何下定决心专心学业的，对此，他这样回应道，“做事还是要放眼长远，不要在乎眼前一城一地的得失，或许本科毕业找一份工作，可以享受一个相对安逸的生活，但是如果有机会让自己的研究成果造福亿万学子，我们理当选择后者。而且从大环境来看，教育一定会越来越受重视，我们有理由相信选择教育即意味着选择了人类最有前途的职业之一”。
大三暑假，他凭借扎实的专业基础、突出的综合素质入围了厦门大学、北师大中国基础教育质量监测中心等高校的保研夏令营并拿到相应的Offer。大四，他顺利获得保研资格并通过了北师大教育经济研究所的保研复试。从厦大的高等教育学到北师大监测中心的教育测量与评价，再到北师大教育经济研究所的教育经济学，郭艳斌能在三个完全不同的研究方向中自如地“切换”，这与他三年的付出和积累是分不开的，与东师三年的培养更是密不可分的。
人生的精彩就在于选择与坚守之间，郭艳斌选择了教育学，正是他不忘初心的选择改变了他自己，正是他矢志不移的坚守让他离自己的梦想更近一步。
用行动证明选择，用实践丰富人生
大学三年，郭艳斌积极参与一系列与教育相关的社会实践活动，从东北到华北，从中原到华南，他社会实践的足迹踏遍祖国的大江南北，从“单独二孩”政策到“全面二孩”政策，从学前教育到义务教育，他调研的主题基本涵盖了教育的各大主要领域。大二暑假伊始，郭艳斌就同数十名同学赴河南省平顶山市郏县茨琶镇吴寨社区学校进行了为期一周的支教活动，同一群“稚嫩”的小面孔朝夕相处。每当看到小朋友渴望知识的眼神却囿于客观条件无法使自己的愿望得到满足时，他都忍不住为之动容。每当夜深人静时，他就会陷入沉思，思考曾几何时自己也是他们中的一员，思考农村学子最需要的到底是什么，他们与城市孩子相比最大的劣势是什么等等。事实上，来自农村的他，对农村学校再了解不过，在国家政策强有力的推动下，农村教育硬件有了明显改善，但与城市地区相比，广大中西部落后地区的师资力量仍显薄弱，教育“软件”明显处于劣势，这也更坚定了他推动教育公平的决心。支教结束后，郭艳斌又投入对随迁子女学习与生活状况的调查中，他组织了几位来自广东潮汕地区的同学，一道对广东省揭阳市大量的随迁子女及其父母进行了大规模地调研，获得了随迁子女学习与生活状况的宝贵资料，并在当年暑期校级社会实践的评选中获得“优秀团队”称号。
“教育学是偏理论的，多到教育一线走走看看是非常必要的，甚至是必须的”，谈及社会实践，郭艳斌总是有很多话要说，“作为一个学习和研究教育的人而言，我们要用自己力所能及的方式为中国教育的进步贡献自己的一份力量，这是每一个教育人应有的责任与使命”。他是这么说的，也是这么做的，大学三年，他利用寒暑假的时间、依托东北师大农村教育研究所这一平台，他访谈过农村小学的校长，深入了解特岗教师对农村教育的影响，也紧跟国家政策对“单独二孩”、“全面二孩”政策实施对学前教育、义务教育乃至整个教育体系的影响进行过大规模的问卷调查。
情怀要落地，理想要生根
郭艳斌出身在黄土高原一个普通的乡村，无忧无虑地在农村度过了小学六年、初中三年，直到中考结束，升入一所省级重点高中，当他看到自己与城市学生在视野、思维、语言等各个方面的巨大差距时，心灵第一次受到了震撼，他第一次发现中国教育资源的城乡差异是如此地明显。再优秀的农村学生恐怕也只能与泥巴打交道，而出身城市的学生从小就接触到了博物馆、图书馆。起点的差异让包括郭艳斌在内的广大中西部落后地区的农村学生输在了起点上，也让郭艳斌第一次觉醒了。因此，在大学选择专业时，他怀着改变中国教育的决心和信心，毅然决然地选择了教育学。
当本科临近尾声，人生的又一次选择出现时，郭艳斌凭借优异的成绩保送北师大。这一次，他选择了教育经济与管理专业。
情怀要落地，理想要生根。如果说郭艳斌三年前选择教育学是情怀使然，那么今天他选择教育经济与管理专业则是深思熟虑的结果。面对厦大等高校抛出的橄榄枝，他放弃了。因为通过大学三年的学习以及自己十多年的求学经历，他更明白中国教育的改革与发展不仅需要情怀，更需要合理的顶层设计、资源的恰当分配、精准的教育扶贫，数以亿计的身处底层的孩子们需要更多切实的资源和物质的保障。这一切与教育经济与管理的研究是分不开的，而北师大的教育经济与管理无疑是全国最强的，选择它，意味着，他离梦想更近了一步。
从村小、重点高中到“211”高校再到“985”高校，郭艳斌的求学历程完整地演绎了一个寒门子弟的蜕变与成长，也正是这样丰富的人生经历坚定了他的每一个选择。面对未来，他说“让每一个孩子都享有人生出彩的机会是他最大的愿景”。
</p>
			     
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>


	<script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
