<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>houwenyu</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		   <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/houwenyu.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>侯文宇</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>地理科学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>北大城环学院</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p> 不忘初心，追求卓越
青春，为每一段全力以赴的时光而感动
侯文宇，女，中共党员，地理科学学院地理信息科学专业2013级本科生，现已保送到北京大学城市与环境学院继续深造。曾任班级团支书，院学生会副主席，现任校学生会学研部部长，学生工作突出，多次获得优秀学生干部奖学金。专业成绩排名第一，曾获得校长奖学金、一等奖学金、连续三年获得优秀学生等荣誉称号，德智体美全面发展，参加校园各项文体活动并获得优异奖项。

“不忘初心，追求卓越“，这是侯文宇的座右铭，在东北师大的四年学生时光里，她一直以此严格要求自己，用超越自我的信念和不懈坚持的努力追求自己的梦想，留下独属自己的一份份感动。
学无止境，全神贯注
2013年她走进了东北师范大学，第一眼看到的就是图书馆，感叹着其具有的深厚学习资源，这后来也成为了她日夜奋斗的地方。何为大学，是一个学习怎样自学的地方，她总是主动地抓住机会，不断汲取知识。课堂上的第一排总有她的身影，上课时一个突然地想法，一个不会的问题，她会马上记下来，在课后追着老师问，在图书馆查阅相关的资料。三年，厚厚的笔记和图书馆近百本的借书记录都记载着她对初心的坚持。广泛的涉猎，不懈的坚持，侯文宇同学的专业课全部优秀，专业成绩位列第一，多次获得校长奖学金、一等奖学金、连续三年获得优秀学生等荣誉称号。
谈及科研，她说“要耐得住寂寞”，在进行不同植被冠层的多角度方向反射特性研究工作时，需要对142个方向，不同植被进行数据收集，比起实验室外多彩的生活，科研显得艰苦许多，可她却选择坚持，所做的数据在两组对照中正确率最高。专业的性质，需要大量对着电脑，有时为了进行简单的地图矢量，一做就要坐一整天，看得头昏眼花，可她却乐在其中。所做的研究得到有效的结论，参加的专业竞赛获得一定的奖项，这一段段全力以赴的时光让她感动。
美国著名地理学家索尔曾说，地理学家的训练就是实地考察的训练。多次野外实习，走遍东北三省和南方各省，由于出色的实习能力，她被学院推举，参加2015年的国家理科基地联合实习，与40多所高校老师学生交流合作。在同北大南大等高校学生的竞争中，成功担任组长，领导组内来自12所高校的优秀学生，代表小组成员进行创新报告，获得一致好评。暑假烈阳下走在广州丹霞地貌深谷的雨林里，湿热的空气让她全身湿透，还要坚持进行土壤标本的提取，爬山涉谷，她用脚步丈量祖国的山河。这一段段实习的时光增加着她实习的里程数，更增加着她实践的技能。
肩负责任，全心投入
丰富的学生工作经历是侯文宇大学时代最宝贵的财富，也是让她付出最多、收获最多、成长最多的一段经历。侯文宇曾多次获得优秀学生干部奖学金和优秀学生干部、五四红旗团干部的荣誉称号。
总有人说“精力是有限的”，的确，但那些觉得学生工作会影响学习的人其实并没有把精力用到极致。从班级团支书到院学生会副主席再到校学生会学研部部长，侯文宇一步步的走过来，收获无数奋斗的回忆。
进入一个优秀的团队，先做的是干事，也许做的是一些最琐碎的事情，但这却培养了她的纪律性。那个冬天冒着大雪，一边呼哧呼哧的喘着气，一边努力地将摆台的桌子从综合楼抬到北苑的身影，她还记得。一步步走来，从接受任务到自己掌控大局，考虑细节，管理团队，她的格局在不断地提高。刚刚接手学研部的工作，她也曾有过迷茫，但她迅速的进入状态，着手准备教师技能大赛这个学校最精品的活动。为选手提供最优的平台，是她主持团队无数次讨论，修改无数次策划，多方搜集最精确教材资料的结果。她带领团队和参赛选手一次次磨合，力求每位参赛选手在台上都能有一个精彩的表现，最终她做到了。
这一段段全力以赴的时光让她硕果累累，她举办的团日活动“关爱自闭症儿童” 获得校园十佳团日活动，她的班级被评为“优秀团支部”， 2014-2015年度她在学院出色的工作安排使学院在全校运动会上破纪录的拿到第三名的好成绩，她组织举办的东北师范大学教师技能大赛获得一致好评。丰富的学生工作让她多了份做事的韧性。 
激扬青春，全面发展
20岁的青春是不断超越自我的时期，她通过学习、广泛的读书提升自己的价值，通过做有意义的学生工作，与他人合作，创造更多的机遇，开阔更高的视野，通过积极地参加活动，去考虑和寻找自己的兴趣方向。
由辩启智，她担任地理学院辩论领队，与同学一起获得第三届“我的中国梦”校级辩论赛冠军，并获得 “最佳领队”称号。在北苑，几个人聚在一起，讨论创设各种情境，常常兴奋的忘记吃饭，直到饭香不断涌鼻，才想起吃饭。这些一起奋斗的时光给她带来无限回忆，长期辩论训练则提高了她的逻辑思维能力、语言表达能力。
关注时事，她作为一名党员，时刻关注国家大事，社会热点问题，在“我做时事评论员”比赛中获得第一名。大一的她，在与一群学姐学长竞争中，尽管有些劣势，但精彩的时事演讲和临场应变赢得了阵阵的掌声，凭借自己自信出色的发挥获得全场最高投票数，荣获最佳人气奖，在这背后是她查阅无数资料，修改无数次演讲稿和不断的背诵练习。
提升教技，课业繁忙，她每天利用下课零碎时间描画地图，并独创了三角法徒手画中国地图，最终在地理基本功大赛中获得一等奖和最佳课件设计奖，并选派到学校参加教师技能大赛。
体育艺术，双管齐下。她在与素昧平生的其他院同学合作中，充分发挥了自己地形图识记的专业优势，获得校园定向越野二等奖，同时也结下了深厚的友谊。她从小学习小提琴，按压琴弦，手指指尖总会磨出一层茧子，她的努力换来了通过国家小提琴乐器艺术水平考试10级的认定。体育的训练培养了她坚韧的精神，音乐的熏陶让她更具有创造力，乐器的学习还让她明白做事不能懈怠。
辩论、教技、演讲、运动、音乐，她在每项中都做出了自己的精彩，而这些荣誉后面却是她不为人知的辛苦。也有委屈的泪水，也有想要放弃的念头，也有孤独的时候。当别人逛街卧谈时，她在查阅资料，当别人已经进入梦乡时，她在无人的走廊里照着镜子练习仪态，但她不后悔，不断提升自己，做到德智体美全面突破。三年来她与同学、队友全力以赴、共同拼搏的汗水与感动都留在回忆中，映衬着师大这片温情的土地。
收获硕果，全力以赴
在今年保研阶段，北京师范、中科院地理所、浙江大学都向她抛出了橄榄枝，她在拒绝时对老师说“请让我去追寻我的梦，我想在博雅塔下继续编织我的梦。”她的真诚打动了老师，每个和她接触过的老师都和她成为了朋友，并邀请她学成后继续交流合作，到家中做客。
９月她参加了北大的面试，穿着校会定制的衣服，上面张扬的写着“我是文宇”，表达着她的热情和自信。面试时，老师问她，“你觉得你的大学过的怎么样？”她站在台上注视着老师说“我觉得我的大学时光过的很值，我为我每段全力以赴的时光而感动，我为我现在取得的所有一切感到艳羡，因为这就是青春，是我努力创造的青春。”老师向她做出一个ｏｋ的手势，说“你过了”。她将进入北大城市与环境学院继续深造，这为她将来的科研开启了更具有实际应用价值的方向，也搭建了一个更高端、更广阔的平台。无论她身处何地，都不会忘记东师这个母校，这个承载她无数感动时光的美丽的校园。
锻铸更加精彩的青春、发现能量无限的自己，是她始终的梦想坚持，心之所向，以梦为马，她会谨记自己的座右铭：“不忘初心，追求卓越”，在以后的学习生活工作中努力，超越自我，创造更多全力以赴的感动。
</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>


	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
