<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>linke</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/linke.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>林可</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>文学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>就业</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p> 行稳致远，静水流深
林可，男，文学院2013级汉语言文学专业本科生。三年综合排名年级第二。曾荣获国家奖学金、校长奖学金（两年）、明德奖学金（两年）、学有专长奖学金、教师技能奖学金、“五四优秀团员”称号、“优秀学生”称号（三年）、东北师范大学第一届“国学春秋”传统文化知识大赛冠军。曾担任厚普公益学校初中语文组教师（三年）；协助徐强教授进行《人间送小温——汪曾祺年谱》（2016年6月广陵书社出版）的最后核实与校对工作；发表论文《“内法酒”考释》（RCCSE）；参与2016年国家级大学生创新创业训练项目——《〈全唐诗〉中反映我国东北地域的诗歌之辑录与研究》。2016年9月，成功签约重庆一中。
雨后初晴的日子，常常看见他独自一人漫步在学林之中，黑松挺拔而葳蕤，阳光如流水一样从交错的枝叶中泻下，光影斑驳，弥散着泥土湿润的气息与时光醇厚的味道。这一切的一切都在静静地讲述着一个有志青年不懈奋斗的故事。
初心永记，方得始终
    三年前八月的一个傍晚，他走进了这所被誉为“人民教师的摇篮”的大学。当他看见灯火通明的图书馆时，心中默想着大学的课业一定要下功夫学习，“学不成名誓不还”。大概是夙愿，一个风华正茂的有志青年、一所提倡“尊重的教育”的师范大学，就这样走在了一起。所幸他来到了东北师大，正因为心向往之，故必当竭力所为。
被称为“文苑大学霸”的他，其实刚开始进图书馆学习时，似乎也略显腼腆甚至于些无所适从，不知看什么书，也不知该怎么看书。直到一场讲座与一次集体观影的出现，彻底改变了他的人生足迹。
他直到现在还记得，入学教育时学院组织新生聆听文学院85岁高龄的孙中田老教授的一场讲座。那场讲座持续3小时之久，从为学到为人，从说梦到圆梦，从经验得失到谆谆教导，他听得是那么的认真与专注。话语之中饱含对年轻一代学子的期待，不敷衍，不做作，他被孙老先生治学、为人、处世各方面的丰富阅历与深刻感悟给他以良好的引导与深深的启迪。因此，他明确了自己的目标——开辟属于自己的读书天地，老老实实读书。
后来，学校又组织新生观看电影《冯志远》，更是深深地打动了这个年华正盛的青年。他抱定决心要努力读书，像冯志远学长一样扎根祖国的基础教育事业，奉献自己的青春。
之后，开始了他大学的读书生活，从读《野草》《围城》等文学作品开始，渐而至于陈望道的《修辞学发凡》、朱德熙的《语法讲义》，范文澜的《文心雕龙注》，叶嘉莹的《唐宋词名家论稿》，袁行霈的《中国诗歌艺术研究》等等。三年多读书生活的结果，除了给他留下了大量的读书笔记，更让他养成了“屏息凝神”学知识、做学问的功夫。
习近平主席说：“生活与学习总是充满希望的，成功总是属于积极进取、不懈追求的人们。”闲云潭影日悠悠，物换星移几度秋。在过去的一千多个日子里，他正是始终怀揣着“长风破浪会有时，直挂云帆济沧海”般的理想，认真、踏实地干好每一件事，才能在大一学年与大二上、大三上连续三年获取专业第一的好成绩。正是他用辛勤的汗水才浇灌出这些美丽的花朵，才演绎出这样一段关于读书与成长的故事。
志愿光荣，闪耀青春
艾青曾说：“为什么我的眼里常含泪水，因为我对这土地爱得深沉！”大一那年，他加入了东北师范大学厚普公益学校语文组这个大家庭，义务为来自长春各区县的贫困家庭子女授课，并且一做就是三年。他有这样一个信念：因为喜欢，所以选择；因为奉献，所以快乐。对他来说，厚普不仅是他提升教技的舞台，还是他热心公益、服务社会的一个重要的平台。回首成长路，他对厚普公益学校的爱与日俱增，爱她充满人文情怀的教育理念，爱她合理有序的管理体制，爱她对志愿教师的关怀与培养，爱她“海纳百川”的气韵，更爱她“勇于担当，甘献青春”的责任感。正是由于厚普人的责任感，才会有一届又一届厚普人的薪火相传，才会有厚普精神的发扬光大。
要想真正了解一个人，要长期观察他所做的事。三年来，林可凭借着自己对志愿服务有增无减的热情，坚守在厚普的语文课堂上，勤耕不缀。我们可以看到，富有责任感与热情心的他也会在今后的人生中长期奉献自己的光和热，造福更多的学生！
莫道学术非我辈，只须勤奋便寻常
对大多数同学来说，搞科研，写论文似乎是一件高不可攀的事情，然而当问及林可为何能在短短的三年之间发表一篇高质量论文与申请一项国创项目时，他微微一笑，说：“大概是勤奋让我变得更加敏锐与智慧的吧，在这方面，徐强老师和王小岩老师是我的引路人。”
现在的他回想起学术入门的种种经历时，总能想到徐强老师在《文史哲写作》开课时说的“要重视案头功夫与脚底功夫，多写，多走，‘屏息凝神’地做学问”。从整理《朱自清日记》中的人名、地名开始，到《汪谱》的核查与校对，这些看似不算科研的基础学术训练培养了他严谨、踏实、认真的学术态度。因此，他才能在书海之中发现“内法酒”是一个可以进一步研究考释的词语，兴趣也便由此而生。为了获取更多的关于“内法酒”的文献资料，他又通过国家图书馆中国基本古籍数据库不断搜索实例。凭借这个大型平台，他搜罗出历代尤其是宋明之际上千个与“内法酒”有关系的句子，并一一输入电脑加以排比。2015年长春的那个夏天热得像个蒸笼，熬到半夜的他通常也是汗干到半夜。在实际写作时，他通常是通盘斟酌、整体推敲，框架是否匀称精巧，论证是否环环相扣，虽疲惫而心情不错，最终自信而从容地将稿子投给学报编辑部。然而，事情并没有想象中的那样容易，编辑部的施编辑不断来电让修改原文，从英文摘要的“in the Song Dynasty”是否需要有“the”,到“撮录”一词是否合适，再到引文注释中的“景印文渊阁四库全书”是否需要去掉“景印”等等，都会进行不断的讨论与商量，一遍一遍地修改文章，最终将论文发表在江苏省苏州教育学院学报上，没有花一分钱版面费。
   想来，他是幸运的，这样的研究、读书与志愿服务生活不仅让他学得了深广的知识，更在其中修炼了他做事的恒心、信心、耐心并且认识到好多品性淳厚、志向坚定的老师以及同学。他们站在他的前面，仰之弥高，钻之弥坚，令他不能不努力地去学，去做！
回望来时路，林可的每一次踏步都自信而充满力量，我们相信他会沿着自己的梦想之路一步一步地走下去，不断创造新的辉煌，为教育教学添砖加瓦，为母校争光。
			</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>

 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
