<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>liujaun</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/liujuan.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>刘娟</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>化学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			
		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>刘娟，女，东北师范大学化学学院化学专业2013级本科生。
孩儿立志出乡关，学不成名誓不还。如今在距家千里之外的北国，她似乎实现了年少时的愿望。痛经至亲的阴阳相隔，历十年寒窗苦读，一朝高考中榜，三年光阴毅付科研，终有小成。她始终坚信德国哲学家海德的名言：“春天不播种，夏天就不会成长，秋天就不会有收获，冬天就不能品尝。”所有的苦难只是涅槃的圣火，她穿过重重荆棘定能完成人生的蜕变。所以，她愈清醒愈努力，愈努力愈感恩。
命途多舛，意未消沉
她出生在冬天，一个幸福的四口之家，至少在2007年大年二十七晚上之前是。在那之前，她像所有顽皮的小孩一样天不怕，地不怕。突然就再也见不到爸爸了，九岁的她很长一段时间都以为是梦，所以在爸爸的葬礼上她很淡漠的看着泣不成声的妈妈，一滴眼泪也没有流。后来，家成了冰冷的空间，妈妈外出打工，她带着四岁的弟弟，靠爷爷奶奶照顾生活。从那以后她开始静默，开始超出年龄的成熟与坚强，开始疯狂的向书本寻找安全感。
顺利升入初中重点班，她每天看书看到半夜，她需要优秀来让家人安心，予亲人希望。她中考考的尤其好，小镇的初中从来没人可以考的那么好，可是为了县城中学允诺的奖助学金，她毅然放弃了众人期盼的进市里最好的中学的机会。尽管那在中考前是她如此渴望的学校。
高中依然三更起，五更眠，永远以高标准要求自己。她最喜欢莎士比亚，他说：“一个人在他的生命盛年，只知道吃吃睡睡，他还算什么东西，简直不过是一头牲畜。”她自然是做不成，也决不会做牲畜，她想做马克思所说的真正的人-思维的人，她心里坚定的想为家人撑起一片天，想去更远的地方，做更大的事。
造烛求明，读书求理
高考后，她成为村里第一个一本院校的大学生，在众望所归，翘首企楚中和妈妈硬座33个小时，跋涉2245公里来到东北师范大学。及后又送妈妈硬座回去，心中五味杂陈，暗自下定决心，孩儿定不负慈母三春晖般的恩情。大学绝不会成为她的象牙塔，而一定是大炼炉。
从起点到终点，其间的距离就是途中。她从不把上大学当作人生的终点，在她看来，她始终只是行走在路上。大学只是一个打开新世界的窗口，一双助你完成向社会融合的手。“雄关漫道真如铁，而今迈步从头越”，一切从零开始，千里之行，始于足下，她立志以此为起点，从新书写大字人生。
大一开始的课程学的很艰难，因为她高中学的最好的是语文和英语，对于不擅长的高数和大学物理，很难谈得上得心应手。但是她从没想过放弃，最喜欢的就是“屡败屡战”。高数做题思路打不开，她就采用题海战术，课后题做得滚瓜烂熟；物理抽象弄不懂，她就看浅显易懂的参考书，寻根究底不肯休。正是凭着这份坚忍不拔的意志，她学习上不落人后，大一学年在112个同学中排第六，拿到国家励志奖学金，校长奖学金，评为东北师范大学优秀学生。增广贤文有言“书山有路勤为径，学海无涯苦作舟”，既然书山学海在远方，有路由舟，她必然只会风雨兼程，义无反顾。
她是腼腆害羞的南方姑娘，在直爽的北方氛围里她显得格格不入。大一刚来几天就召开了竞选班干的年级会，看着同学们一个个竞选的神采飞扬，从小一直是学习委员的她，坐在下面不由得心砰砰乱跳，最后开完会回来她心情很沉重，因为她最终也没敢站上去在黑板的竞选名单添上自己的名字。她为自己惭愧，可是她明白“don’t cry for split milk”的道理，她开始积极的参加社团面试，红着脸也要展示自己，终于被多个社团所接纳。在社团活动上，完成百花齐放，她参加向阳协会，制作报纸，仔细认真的校对字体字号，标点符号和排版；参加大创，学习创业，逼着自己走寝宣传创业活动；参加爱心使者团，心怀感恩，参演话剧饰演残疾人真情流露；参加国际学生交流协会，协助准备晚会，台前幕后不辞劳苦；也参加学院运动会开幕式的扇子舞表演，日日操练为学院争荣誉。剩下的时间她都用来在图书馆看书，各类名著经典她都甘之如饴，曾经发下豪言壮语“要看完图书馆所有想看的书”，虽然言语不免年少轻狂，却真诚的表达了她对文字从一而终的喜爱。
斯文在兹，缘结于此
她小时候最喜欢的书是十万个为什么和世界未解之谜，她对所有无法用科学解释的事物充满好奇。她大一最喜欢的课是实验课，连化学试剂也觉得好闻，烧杯，量筒，就像她熟悉的厨房的瓶瓶罐罐。她一度认为自己会成为一个优秀科研工作者。可是当她满怀着热情进入无机实验室，第一次接触多酸复杂的结构和全英的论文让她举步维艰，她开始迷惑，怀疑，退缩，甚至想放弃自己成为女科学家的理想。理想很丰满，现实却骨感，她开始上师资课，理想于她似乎渐行渐远。
峰回路转，大二上学期对分析化学兴趣不泯，不甘沉沦，和导师打电话拼命争取，得以进入分析实验室。大二的课程任务本已经是繁重而艰难，何况因为要重新回到科研之路，她必须重修两门专业课，但她却愿意破釜沉舟，一往无前。她课上听讲全神贯注，做笔记一丝不苟，争取不浪费上课的每一分钟。她常常一下专业课就往实验室跑，边做着实验边复习专业知识，再有时间就自己看网上视频学习Photoshop和origin等专业软件的操作。
博士师兄见她勤勉，开始给她布置任务，她开始得到系统的科研训练。从配制试剂到熟练仪器，从阅读文献到实验操作，从重复实验到设计实验。每天迎着朝阳出寝，踏着月光回寝，室友都觉得满满是“晨兴理荒秽，带月荷锄归”的即视感。皇天不负有心人，她做实验竟然开始博得师兄的连连称赞，信心倍增，毅然退掉所有社团专心致志的投入科研。她明白有舍才有得的道理，不敢贪心，义无反顾的走在自己选择的独木桥上。
春天的辛勤播种，到秋天果然硕果连连，她以第一作者身份在Chinese chemical letters上发表了自己的第一篇SCI论文，影响因子为1.947。母不嫌子丑，她欣喜的接受自己孕育的第一个“孩子”，愈发努力。她接着又连续担任“化学学院科研项目孵化专项资金”本科生项目和“国家级大学生创新创业训练计划项目”的负责人，这两个项目正在有条不紊的进行，即将成就她新的科研成果。今年5月她又跟随我校化学学院周明教授赴辽宁省沈阳市参加第四届碳催化研讨会，接受科学的洗礼。她如此欣喜的踏着脚步，想离科学越来越近，解开年少时的那些十万个为什么。
大学四年竟如白驹过隙，四年的兢兢业业，她终于顺利地保送南京大学，师从电化学泰斗朱俊杰教授，继续踏上追寻科学之路。大四这一年，她丝毫没有懈怠，暑假参加湖南大学，中国科学技术大学的夏令营均被录取，在家呆了一个星期又回到了学校实验室，听组会，看文献，给导师做总结汇报，她拼命想完成自己科研能力的提升。导师说，你现在的能力足以当一个优秀的研究生，但是她觉得还不够，她的野心还很大，梦想还很远，而路还很长。
她记得乔布斯说，活着就是为了改变世界，她不期望自己足以改变世界，但她确实有一个宏大的理想——想为祖国的科学事业贡献一份自己的力量。“少年智则国智，少年富则国富，少年强则国强，少年进步则国进步，少年雄于地球，则国雄于地球。”她坚信有国才有家，一个国家足够强大，子民都会被温暖。一路走来，她深受祖国母亲的厚爱，她殷殷期盼着可以给予祖国母亲以回应。虽路漫漫其修远兮，吾将上下而求索，此心当如磁针石，不指南方不肯休！
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>



	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
