<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>刘明昊</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/liuminghao.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>刘明昊</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>计算机科学与信息技术学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>中国科学院软件研究所硕博连读</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
				

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>当爱好遇见坚持，就是才华
   刘明昊，男，计算机科学与信息技术学院2013级本科生，就读于计算机科学与技术专业，中共预备党员。本科期间专业成绩稳定位于全系前三名，连年获得国家奖学金、校长奖学金、一等奖学金、学有专长奖学金、优秀学干奖学金、创新创业奖学金和“优秀学生”称号等，曾任学院第三十届学生会主席。现已保送至中国科学院软件研究所计算机科学国家重点实验室攻读博士学位。
认准目标，脚踏实地
ACM国际大学生程序设计竞赛，是目前全球最具影响力的大学生程序设计赛事，被誉为“程序设计界的奥林匹克”，在竞赛中获奖的同学一直受到各大IT公司和知名院校的欢迎。初到大学的刘明昊，也给自己定下了一个“小目标”：在ACM竞赛中获奖。刚开始，几乎全部新生都参加了学院组织的竞赛培训，可随着天气转冷，越来越多人因为各种原因选择了退出。刘明昊也并非一帆风顺，开始几个月他和很多同学都没有自己的电脑，而机房的开放时间又很有限，于是他每天下课后都会到图书馆的电子阅览室自主练习，这样才保证了真正掌握每次培训的知识。课上讲的内容没听懂，就课后多查资料帮助理解；一道题做不出来，就多做同类题目直到熟练。编写代码在很多人眼里是枯燥的，不过刘明昊说，在他经历九九八十一难、终于将程序正确运行起来时，心中的成就感早就盖过了倦意。一行一行累加的代码，也让刘明昊从一个完全的新手，变成了一名具有扎实代码功底的高手。冬去春来，在大一下学期的校级程序设计竞赛中，他一举夺得新生第一名，并顺利加入校队。不过这并不是结束，而是登上了更大的竞技场。为了备战更高级别竞赛，他和队友几乎每个周末都抽出时间交流学习，甚至每年暑假都放弃回家、主动留校集训。几年来，他和队友参赛的身影遍及北京、上海、杭州、哈尔滨、沈阳、大连等城市，共斩获亚洲区域赛金奖、全国邀请赛银奖、东北地区赛金奖和吉林省赛金奖等十余项ACM竞赛大奖，更是成功摘得我校历史上第三块亚洲区金牌。与此同时，他在其它重量级专业赛事中也屡创佳绩，曾获“蓝桥杯”全国软件和信息技术专业人才大赛总决赛二等奖、吉林省亚军，“问鼎杯”全国大学生信息安全与保密知识大赛一等奖，并在中国计算机学会程序设计能力认证考试中取得过全国前0.95%的好成绩。
学以致用，探索求真
在刘明昊看来，自己的专业不但是一种优美的艺术，更是一门实用的学问。参与竞赛好比是修炼“内功”，用自己所学去解决一些真正的问题，在他看来则更加充满挑战。除了经常帮同学们处理电脑故障，他还在课外自学了网站制作等实用技术，编写的多个网站和自动化脚本现在仍服务于广大师生。大二时，他目睹网络安全形势的严峻和身边同学安全意识的缺失，于是作为发起人和技术骨干建立起我校首个信息安全学生团队NENU_SEC，发现并主动报告了大量高危漏洞，协助有关单位处置各类网络安全事件数十个，有效保障了全校师生的数据安全。团队也因过硬的技术实力和出色的工作成效入选我校首批“互联网+”信息化支撑创业团队。他和团队成员还特地举办了多场信息安全方面的科普性讲座，积极向身边同学讲解防恶意软件和防网络诈骗的相关知识。
为了尽快接触本专业的学术热点、为将来从事更深层次的科研打好基础，他还作为团队技术负责人参与“国家级大学生创新创业训练计划”和“中央高校基本科研业务专项资金”项目三项。经过一年多时间的艰苦攻关，三个项目均以优秀成绩结题，项目核心成果成功申报国家发明专利一项、软件著作权一项。也正是这些宝贵的科研经历，使得他了解到更多的前沿领域，深感它们对社会发展的重要意义，这让他进一步坚定了毕业后继续从事本专业学习研究的目标。
全面发展，扬帆起航
在自身追求卓越的同时，刘明昊也希望和周围同学共同进步。在生活中，他总是能跟大家打成一片，幽默随和的性格也让他在同学中有了“萌昊”的称呼。他时刻以服务同学为己任，自入学后就一直认真参与学生工作，连续两年被评为校级“五四”红旗团干部，并成功当选学院第三十届学生会主席。在他的带领下，学生会全体成员通力合作，不但在合唱比赛、传统文化知识竞赛等校级大型活动中表现出色，更是成功举办了“汇四院群英、展论辩雄风”院际辩论赛、净月校区“精英风暴”学生工作交流会等一系列反响热烈的跨学院活动，以突出成绩成功荣膺我校年度“十佳学生会”称号。
优异的学业成绩、过硬的技术水平和踏实的工作作风，使得刘明昊在申请各所知名院校研究生项目时能够从容而自信。经过与来自全国各地优秀同学的激烈竞争，他如愿获得了中国科学院软件研究所、北京大学、北京航空航天大学、天津大学等知名高校和科研院所的录取意向。最终他根据自身研究兴趣，选择加入中国科学院软件研究所计算机科学国家重点实验室，拟从事自动推理与约束求解算法的研究。

当爱好遇见坚持，就是才华。刘明昊用大学四年的拼搏，在东北师大这片沃土上埋下兴趣的种子，并让它生根发芽、枝繁叶茂。他也将以最好的状态面对即将到来的研究生生活，在专业科研中精益求精，在为人处事上踏实勤奋，用更好的成绩为母校增光，为人生添彩！
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>


	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
