
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>吕天骄</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/lvtianjiao.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>吕天骄</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>外国语学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送至北京外国语大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>默然发奋，寂静欢喜
吕天骄，女，外国语学院英语专业2013级本科生。2016年宝钢奖学金获得者，曾连续三年获得国家奖学金；她竞赛成绩优异，曾获得外研社杯英语阅读大赛季军、全国大学生英语竞赛特等奖、外研社辩论公开赛冠军、外研社杯全国大学生英语辩论赛二等奖等十几个国家级奖项；学生工作方面，她是东北师范大学英语辩论社主要负责人，曾在院学生会、“东师之声”广播站、《东师青年》报社任职。三年的日积月累之后，吕天骄同学于2016年被跨专业保送至北京外国语大学国际法专业。
凡心所向，素履所往
从初中起，学习英语就是吕天骄同学的心之所向，她喜欢英语的节奏和韵律，也享受英语阅读写作的每分每秒。于是在高考填报志愿的时候她放弃了热门的经济金融类专业，毫不犹豫地选择了学习英语。这种热爱也激发了她在学习上日积月累的毅力和对自己的高标准严要求。三年多来，吕天骄同学自觉投入大量时间学习，并且乐在其中。她基本上每天都去图书馆学习，包括周末。有时，她还会利用小长假的时间来弥补比赛耽误的学业，比如在大三国庆期间她在频繁外出比赛的间歇，精雕细琢地完成了一篇三千字的英语小论文。
连续三年每学期无论专业还是综合成绩都名列第一并不仅仅是大量的时间投入那么简单，吕天骄同学对于自己的高标准严要求也起到了很大作用。大学以来每一次课堂作业和考试她都以最高标准要求自己，不容许有一丝懈怠，尽量做到完美。拿大一的每次单词听写来说，她都会提前一周就开始准备。到了最后，她就可以达到熟练背诵每一个单词的每一条英文释义，听写成绩自然也接近满分。随堂测验尚且如此，每次期中期末考试她更是十分认真对待，会自己安排阶段性复习和总结，期末时提前整理笔记准备考试。
这种持之以恒，默默投入的学习态度和习惯使得吕天骄同学在同学眼中成为了所谓的“学霸”，头脑聪明，效率奇高，比赛之余还能兼顾学习，显得毫不费力。然而满腔的学习热情和日积月累的学习信念才是真正的制胜法宝。
生如逆旅，一苇以航
在荣誉加身之际，吕天骄同学并没有囿于象牙塔，一心只读圣贤书。长期以来，吕天骄同学就坚信一个道理：语言的学习如果少了实战练习就会变成无源之水，无本之木。所以即使本身性格内敛沉默，她也逼着自己对各种英语比赛来者不拒。把每一场比赛都当成是一个莫大的机会，不断磨练自己的心智和专业水平。
前途是光明的，道路是曲折的。这句话用在吕天骄同学的比赛生涯中一点也不假。英语辩论比赛是外语比赛中难度系数最高的一项，它采用英国议会辩论制，正反双方各分为上下议院，共八名辩手，每场辩论时长一个小时。从辩题公布到登台演讲不过十五分钟的准备时间，而每个人的陈辩时间则长达七分钟，是完全脱稿的即兴论辩。过程中需要不断接受反方的质询，同时要完成构建自己论点，举例阐述和总结陈词的任务。陈辩结束之后需要认真聆听其他辩手的陈辩，并提出质询。而辩题类型更是五花八门，从政治政策到法律制度，从体育娱乐到道德伦理，还有医学，大众传媒，环保等等。大一下学期刚刚接触辩论时吕天骄同学难免发怵，但其辩证思维，逻辑说理的魅力还是使她迎难而上。
迄今为止吕天骄同学参加过的印象最深的辩论赛是在北京举办的外研社杯全国大学生英语辩论赛决赛，这是一场国家级的重大赛事，每位选手都是经过地区赛的层层筛选晋级的强手。比赛前吕天骄做了大量的准备，阅读了各学科热点的英文资料，每周在学校辩论社练习两场辩论。长期的积累给她带来了巨大的提升，正式比赛时，大一时七分钟时间说不满的她在第一场辩论时就完成了七分半的陈辩，并且觉得意犹未尽。比赛为积分制，共三天九场，对选手体力脑力都是巨大的考验。九轮比赛中最困难的是第二轮 “This house would prohibit individual investors from directly trading high-risk financial products (stocks, futures, and options etc.) and only allow institutional investors to do so.”，本院禁止个体投资人直接进行高风险金融产品交易，包括股票，期货和期权，只允许机构投资者这样做。虽然赛前恶补了大量金融知识，但在这一轮中她的表现还是稍显薄弱，所以分数不是特别理想。但吕天骄并没有就此气馁，在晋级的强压下，她在接下来的每场比赛中都发挥出色，扳回一局。尤其是在“This house believes that unsuccessful attempts of crimes should be punished the same as successful crimes.”本院认为犯罪未遂应得到和犯罪已遂相同的处罚等三场辩论中获得第一的名次。最终，吕天骄成功晋级全国二十强，获得了二等奖的荣誉。这也成为吕天骄辩论赛的转折点，能力升级后的她在以后的比赛中更加顺利。
吕天骄同学在这次比赛中的表现让带队外教兼比赛副裁判长Russ Tayor印象深刻，他说他很少见到像吕天骄同学这样在比赛尤其是辩论赛中间经历挫败之后还能再站起来的选手，吕天骄性格中的韧性使他十分欣赏。看过比赛的同学们也惊叹她的胆量。平时看上去温文沉静的女孩子一到了比赛场上便成了另一个人，侃侃而谈，顾盼生姿。对此她的回应十分简单：“紧张害怕是肯定的，但只有咬牙坚持。一回生，二回熟啊。”
稣合于言，安之若素
对吕天骄同学来说，比赛生涯中最为得意的一个奖项是外研社阅读大赛决赛季军奖。走到决赛她一共经历了三轮选拔。初赛是校级比赛，当时她发挥一般，擦边进了省复赛。但已经有了一定比赛经验的吕天骄并没有因为初赛成绩而难过，反而更加用功练习，大量阅读各类题材的文章并强化训练捕捉信息的能力和阅读做题的速度。后来在省赛中她脱颖而出，获得吉林省第一名并且晋级决赛。决赛在北京，为期一周，对于心态也是一个考验。一周的时间里，吕天骄同学待在大兴外研社中心闭关训练，保持平稳的心态。后来在整个比赛过程中她都心如止水，十分专注，遇到难题的时候先放过，完成全套题目之后回来攻克。等待成绩和名次揭晓的时候她也不急不躁，一切都像水到渠成。她在全国上千名选手中名列全国第五名，荣获季军特等奖。
后来她常常想，这就是最好的竞技状态了吧。不悲不喜，全情投入。遇到问题就解决，遇到情况就克服，极尽人事，顺应安排，坦然接受，就像那句话说的“What doesn’t kill you makes you stronger.”
学习之余，吕天骄也拥有丰富多彩的社团生活和学生工作经历。从大一起吕天骄就加入了院学生会秘书处，负责上传下达工作，并且每天发送天气预报和重要通知；在一些学校比赛中既是组织者又是参赛者。她还是东北师范大学英语辩论社的主要负责人，常年组织辩论，并且负责相关培训。除此之外，吕天骄还加入了学校“东师之声”广播站和《东师青年》报社，在广播站里录制，放送自己的英文节目；在报社负责媒体外宣。在这几个社团里，她积极主动，培养了自己学习之外的技能，也结识了一群志同道合的同学。
生活中，吕天骄同学谦虚朴素，从来没有跟别人主动说起过自己的成绩或奖项，每次考完试，比完赛之后也是默默回到图书馆，进行下一阶段的任务。这一方面是性格使然，她为人简单纯粹，对于荣誉，名声从来没有野心。努力学习、生活只是因为对于英语专业的热爱，不掺杂其他目的；另一方面，她认为自己现在的所得算不了什么，没有值得夸耀的地方。人生的路还很长，她只求执着于自己所爱的事情。尤其是作为一名东师外语人，吕天骄同学努力地践行着前辈们树立的传统，不自夸，不自傲，默然发奋，寂静欢喜。
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>



	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
