
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>马英才</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/mayingcai.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>马英才</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>经济学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>就业</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>创新创业、基层就业</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>创志心所趋•业广惟于勤
   马英才，男，经济学院金融系2013级学生，海豚湾教育科技有限公司创始人。开创大二任大学生创业中心主任、创业实践协会副会长等职的先例。曾获国家级创新创业类奖项8项：第五届全国电子商务三创赛二等奖；2014 “学创杯”全国大学生创业大赛二等奖；第三届“大智慧杯”全国三等奖；负责国家级大学生创新创业项目1项，参与2项，全球创业周峰会最佳参会团队等。曾获省级创新创业类奖项5项：第三届“创青春”全国大学生创新创业大赛吉林省银奖；2014年“挑战杯”创新创业大赛吉林省决赛铜奖；首届“互联网+”全国大学生创业大赛吉林省优秀奖；上海市科技创业基金会“创业谷”优秀创业者等。
-主要事迹
“穷且益坚，不坠青云之志；勇者无惧，达则兼善天下。”这就是马英才的成才志向。为了这个志向，进入大学以来，他将每一分钟、每一份热情都投入到勤奋学习和创业实践中，为的是综合全面的发展自我，练就过硬的创新实践素质能力，有朝一日，能够坚定地立足于社会，诚恳地服务于人民。
担虽重•穷且益坚
他来自新疆伊犁河畔的一个少数民族贫困农民家庭，在边疆农民的生活中，读书是放羊之余的享受，上学是种地之余的奢华。常年的辛苦操劳造成父母年迈多病，由于父母不识字农牧成为家庭唯一的经济来源，作为家里的男孩子，从小就承担这家里的所有农活。担虽重，穷且志益坚，他成为那个农牧民山村走出来的仅有两名大学生之一。
2012年他如愿的考入了东北师范大学少数民族预科班，他面临着三个难题“语言障碍、经济困难、基础薄弱”。中文对他来讲是第二语言甚至第三语言，为了学好汉语，他每天坚边放羊边写日记，为了练口语，他每天六点饿着肚子读文章。如今他不仅能够畅通的交流，还能流利的演讲主持，通过努力获得了普通话一级乙等。当年那几千块钱的学费是他上大学前见过最高的金额。于是他提前一个月来到长春，在学长学姐的帮助下开始做起了家教，每天从早8点到晚10点都排满了家教课，掐着点从这个小区跑向另一个小区，午饭都是在路上啃一口面包就着矿泉水。就这样攒齐了第一学年的学费。高考后虽然幸运地进入了东师，但是文化基础要比同班同学差很多，说实话对他来讲这种层次不挂科都是奇迹，但是他做到了门门功课良好。高数难，他每天深夜里做习题，英语难，他每天在路上背单词，平时没有机会去图书馆，期末他就在自习室熬通宵。预科时成绩倒数第二，大一时121/174，大二时86/174，大三时平均成绩92分。他是没有过成绩名列前茅，但是在坚持不懈中一点点突破，一次次超越。进步的梯度就是他成长的轨迹。
他也喜欢并渴望每天在图书馆看书学习生活，但是他不能，因为他得自己解决的经济来源。为了锻炼自己，他积极担任了班长、进入了经济学院学生会、大学生创业中心、创业实践协会等学生组织。他的每天不是在活动现场就是在兼职的路上，用汗水和激情记录着每一分每一秒。 2013年初他和几个朋友创办了“坦途辅导学校”，并达到了每个月8万的营业额。他与魏力、郭强等朋友组建了国通快递净月营业部，毕业季托运行李营业额达到每天4千元。但是欲想成功者必经历考验，那年期末他母亲因为长期劳作吸入过量粉尘造成左半部肺叶坏死住院。他和哥哥竭尽全力为母亲治病，如今母亲只要按时吃药便有缓解，但是每个月买药就得1800元。作为品学兼优的孝子，毅然承担起这份沉甸甸的责任。如今的他经历了“苦其心志、劳其筋骨，饿其体肤，空乏其身”，斯人已然成为了堪当大任的铮铮男儿。
是自信，让坚硬的岩石变成浮雕，是勇气，使金黄的敖菊对严寒绽放；是执着，使沧海变桑田。马英才，用实际行动一笔笔书写了自己别致的青春。
事虽难•做则必成
在这个“大众创业、万众创新”的时代，马英才拥有两个身份，一个是2013金融系的学生，一个是海豚湾教育科技有限公司的总经理。
他从学生干部立志，开创了大二时担任东北师范大学第十二届创业中心主任的先例，曾加班加点两周主持举办“千元创业计划大赛”、第四届创业计划大赛、创业课堂、双百论坛等5场校级活动赛事。带领中心获得2014年全球创业周优秀校园伙伴称号、上海市科技创业基金会俱乐部成员，代表学校参加了2014年全国少数民族大学生骨干夏令营。
他从创业竞赛起航，2014年末他组建了易参与（www.yicanyu.com）项目团队，从想法诞生到BP成形只用了7天的时间，当时团队背着门卫大爷通宵在大创办公室梳理项目。东北的冬天是异常的寒冷，他们裹着被子蜷缩在椅子上，边敲键盘边哆嗦。除了每个人眼中放出的激情和希望的光彩之外，整个世界就只剩倦容。凌晨4点左右他和乐元、王鑫等躺在会议桌上相拥在一起眯上一会儿，然后整理好现场奔向教室。坚持近半年的艰辛付出换回的是第五届全国电商挑战赛吉林省的特等奖。他暑假为了备战决赛而没有回家，甚至决赛的前一夜在客房里还在与导师陈雷演练路演和筹划答辩，南方的夏天不比北方，他因为不适应潮热而满身起痱子 ，但是他们挺进了全国20强获得二等奖的好成绩。在创业的路上他先后获得上海市科技创业基金会21期“创业谷”优秀创业者、第五届“创新、创意及创业”全国电子商务挑战赛二等奖、2014年“挑战杯”创新创业大赛实践组省铜奖，第三届“创青春”吉林省银奖（第一作者）、首届“互联网+”省赛优秀奖（第一作者）等；在本专业领域曾获得中国金融专硕案例库优秀案例《江苏吴通通讯收购北京国都互联资产案》（主要作者）、吉林省“5.4”青年优秀经济论文一等奖两篇《征收环保税的策略及影响研究》（第一作者）、《我国中小家族企业发展融资问题研究》（第一作者）等。其中国家级4项、省市级5项、校级11项。并在院长李秀敏教授的指导下为经济学院、国际汉学院等设计自主知识产权logo并制作相关产品。这层层叠叠的竞赛证书，是雄鹰劲飞的心血。这历历在目的项目路演，是骏马驰骋的印记。踏实进取，永远不变的是脚下奋斗的创业旅途，持之以恒，永远不改是心中激昂的创新精神。
他在创业实践中乘风破浪。海豚湾刚刚成立初期，公司还处于半盈利状态，第一季度公司各项罚款达4000余元，商标费、员工工资等，季末公户中只剩下2千元。他支付宝只剩下209元。为了挺过来他熬夜加班、风雨无阻的谈合作。为了省下20元的打车费，他和李楠从景阳广场冒着大雨中走回了师大本部，脚趾缝都被浸泡的裂开一道道口。整整一个暑假，一日只吃两餐他与合伙人过着仅停留在温饱线上的生活。苦难日子早晚会结束，只要不低头，便已接近成功。
不是成功总是对他情有独钟，而是执着可以让人风雨兼程。不是机遇总是对他频频招手，而是智慧可以让人卓尔不群。他在沙漠中不不停的穿梭，他为希冀而不休的吟唱，他是创新达人？他是创业青年？他是筑梦追梦路上的坚守者——一马当先的创业英才！
力虽微•行为至善
作为特别资助对象的他，曾经是林惠兰资助的中学孩子中的一个，如今他和林姐姐一起资助贵州大方县八堡长中菁小学的杨同学。2014年初他认识了联青志愿者协会的韩莉敏老师，于是每个周末节假日有空了就去看望陪伴生来就特殊的孩子们，希望能够让他们只有常人1/5的生命充满光彩和爱。2015年初在朋友的介绍下认识了刘春丽老师，他便和刘老师一起向家乡甘肃山区张家寺小学捐书。他知道只有知识是能够帮助孩子们从类似80年代的大山里走出的最佳方法。每年国庆节朋友们都会去游山玩水，但他没有，他和兄弟们组织同学们去双阳、去磐石等乡村的养老院看望陪伴孤寡老人。希望能够在祖国的生日时让老人们也能开心快乐。他们把生命献给了社会，价值和年龄耗尽，住进了养老院里，年轻人都在忙着工作旅游，那样的孤寂的岁月不是上帝想要看到的。老吾老以及人之老，如果你真的爱这个世界，那么就为他们做点什么吧。
善有很多种，小到清理道路上的障碍物，大到为了真理献出生命。坚守信仰、正直诚恳、与人为善。这就是马英才的精神追求。用自己曾经吸收的能力，释放现在的光芒，去照亮他人前行的坦途。
“任岁月洗尽浮躁，任光阴雕琢心智。愿乘风破万里浪，甘面雪创十年业。”这是马英才青春的决心。也是他一直努力筑梦的动力、一路坚定走过的真实写照。
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
