<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>孟祥云</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/mengxiangyun.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>孟祥云</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>教育学部</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>北京师范大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p> 高高山顶立，深深海底行
孟祥云，女，中共党员，教育学部心理学院2013级本科生，校会生活部部长，宿管会、学委会主任，现已成功保送北京师范大学认知神经科学与学习国家重点实验室。先后荣获国家奖学金、科研创新奖、各类单项奖学金、宝钢教育基金优秀学生奖等，连续两年被评为校优秀学生、五四红旗团干部。“高高山顶立，深深海底行”是她的座右铭，更是她四年求学路的真实写照！
脚步怎样才能不断前进？把脚印留在身后。
孟祥云从小便梦想做一名大学教师，她深信 “世界会给那些有目标和远见的人让路，奋进的青春才是最美的。”所有的课坚持坐在教室第一排、每个科目孜孜不倦做笔记是她对知识的渴求；课上思维活跃、敢于质疑，课后大量阅读文献、深入挖掘源于她对梦想的执著。因为热爱，所以不知疲倦。即使站三、四个小时，也要坚持把一场学术报告听完。大学四年她听了近百场报告，并把所有的报告整理成大纲详目。
她早已不满足于专业第一的成绩，“我想把科研当作毕生事业”，对她来说，“学习即科研，科研即生活。”她积极参加各项科研学术活动，参与国际“眼动”会议，旁听研究生组会，担当ERP实验助手，自学Matlab等编程软件，主持“国创”和校级科研，积累了丰硕的学术成果。天道酬勤，厚积乃薄发，她用专注和专业得到了北京师范大学认知神经科学与学习国家重点实验室的实习机会，北师大的“小红楼”是所有心理人都向往的圣地，习近平总书记在第三十个教师节来临之际还到此视察，了解心理学科发展及应用情况。事实上，这个机会并没有想象中那么顺利，认知神经科学作为高度跨学科性与高新技术发展为特点形成的交叉领域，心理学专业的学生并没有优势。在暑期学校的时候，已经有部分同学与导师达成拟录取意向或考察意向，而她接连被北师大及北大四位导师婉拒，她感到前所未有的无助。距离签订意向书只剩一个小时，其他同学都直接放弃了，甚至买好了回家的车票。但她要坚持自己的梦想道路，她告诉自己“不到最后一刻绝不放弃”。终于，苦心人天不负，她凭借坚持的信念敲开了北师大脑所最受同学爱戴的南云老师的门，南老师不仅肯定了她的科研素养与个人能力，更是对她永不言弃的精神赞赏有加，并向她伸出橄榄枝。“为梦想付出的一切坚持都是值得的”，孟祥云如是说。
于服务中奉献，不枉青春。
马克思说，“科学绝不是一种自私自利的享乐。有幸能够致力于科学研究的人，首先应该拿自己的学识为人类服务。”孟祥云自己也坚信，“只有学习的人生是不完美的。”她常常问自己：还能做些什么？为同学服务是她的又一乐趣，她“不忘初心”，积极服务广大同学，“越是简单的工作，越是要耐得住寂寞”。在工作中，她喜欢“拿望远镜看别人，拿放大镜看自己”，她对自己的要求是苛刻的，一份活动详细策划要改十几次，力求达到最佳效果。2016年毕业季，静湖的水中倒映了一幅巨型“再见”字样，给当时即将毕业的学长学姐和在校师生都留下了珍贵的回忆与感动。这是她在学生处老师指导下，带领宿管会团队，从最初设想到手绘、电脑图纸，一遍一遍地修改方案、再推翻、再修改，最后到实地取景拍摄，动用5个学院20位辅导员的力量，协调三舍C物业集团及南向的220个寝室。再回忆起这段经历，她依然激动不已，“愿用小窝里的一盏盏暖光，照亮你们的远方”。图书馆的座位不够，在校团委和教务处老师的帮助下，她和学委会小伙伴们携手促成了逸夫教学楼全天开放自习室。每一次光辉的背后都是无数个深夜辛苦付出的结果，她乐此不疲地在忙碌中体悟成长、服务同学。她把别人赖床的时间拿来学习，把别人玩乐的时间用来工作，作为学生干部，“人格的魅力，学习的楷模，工作的典范”是她为之骄傲的精神力量。
 “学生工作带给我非常宝贵的财富。虽然当时比别人付出了更多精力，牺牲了很多休息娱乐的时间，偶尔也会抱怨很累，但他反馈给你的是为人处事的作风，是接人待物的习惯，是统筹全局的头脑，是独当一面的能力，更是成长和成熟。”她朴实的发言却是对学弟学妹们最大的鼓舞。
只会在水泥地上走路的人，永远不会留下深深的脚印。
孟祥云出生于黑龙江伊春一个贫困的林区家庭，环境的清贫，让她从小自立自强，勇敢乐观，即使写作业时握笔的手上留下冻疮，也无法阻挡她对理想的渴望。2008年汶川地震的时候，年仅14岁的她就把全部压岁钱拿出来捐给了当地一所小学，并写信鼓励同学们“坚强地面对困难，坚定地追求梦想”，她还收到了那所学校校长和孩子们的回信，每每看到那些略微泛黄的稿纸，她的心里总有一股暖流，她要把公益当成“是一种习惯，更是一种责任”。她非常喜欢泰戈尔的一句诗：“谢谢火焰给你光明，但是不要忘了那执灯的人，他是坚忍地站在黑暗当中呢。”回首来路，国家政策的帮助和爱心人士的扶持，让她能顺利完成学业，她感到幸运，亦心怀感恩。高中“宏志班”的约定她至今铭记：在力所能及之时，帮助至少三个人。 “如果没有人去帮助别人，从众心理会导致恶性循环，而这时如果有一个人行动了，那么其他个体就会模仿这个善举，启动一个良好的氛围，这种潜移默化的影响就会带来改变。”感恩于心，奋斗于行，田家炳教育书院门前“行胜于言”的部训是她一直坚持的信念。
师范院校的学生最常做的公益活动和志愿服务就是支教，她不仅义务辅导高三学生，还总是能够学以致用，多次去省孤儿学校、自闭症学校给孩子们做心理辅导，即使不能完全打开孩子们的心扉，也要给他们带去温暖和快乐。尽管因为家庭的压力父亲积劳成疾，不久前又遭遇事故重伤，但她从未放弃“微笑面对生活”，她相信“苦难显才华”，未来通过她的努力一定更加美好。
志在峰巅的攀登者，不会陶醉在沿途的某个脚印之中。既然选择了远方，便只顾风雨兼程。她的梦想才刚刚开始，精彩未完待续。
			</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
