<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>申芳瑜</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		   <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/shenfangyu.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>申芳瑜</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>计算机科学与信息技术学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>中科院电子所直博</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>生活百变，请看我漂亮的坚持
---一个立志成为科学家的女孩的勇敢逐梦路
申芳瑜，女，中共党员，计算机科学与信息技术学院计算机科学与技术专业2013级本科生，作为一名少数民族预科生，曾任民族教育学院学研部部长，计算机科学与信息技术学院副主席，现任我校校学生会民族部部长，校信息化支撑创业团队以太网络工作室负责人，回顾四载春秋，在大学这条路上申芳瑜走得激情澎湃，沉着稳重。思想上她积极要求进步，学习上她勤奋钻研，工作上她勇于实践，科研之路上她更是一步一个脚印，用汗水换技术，用青春悟成功。三年来，她累计获得奖学金10项，校级及以上荣誉称号8项，省级及以上科研奖项7项，发表论文一篇，并代表学校参加了吉林省高校大学生创业培训营，现已保送至中科院电子所直博。
科研之花：梦想是我前进的动力
申芳瑜出生在一个普通的工人家庭，小时候，大人最常问的一个问题便是：你将来要当什么？那个时候，申芳瑜总是笑笑回答：科学家。看似一句玩笑，却成了这个小女孩奋斗了二十几年的目标与梦想。俗话说："无志之人常立志，有志之人立大志"。申芳瑜用自己大学三年的时光给自己的梦想交上了一份满意的答卷。
成为一名女科学家，带着这个遥不可及的梦想，申芳瑜踏进了东北师大的校园。那个时候稚嫩，懵懂，想成为科学家的她还不知如何下手，但她从未放弃，大一下半年，一次偶然的机会，她接触到了国创，她用她真诚的情感打动了学长学姐，开始了她的大学科研之路。她开始钻机房，钻图书馆，她说：她清晰的记得，她的第一个科研项目是做一个微信公众号，大一的时候，微信公众号还不像现在这样流行，有很多接口都没有，都需要自己去写代码，第一个任务就是将长春160公交的所有站点和往返时间通过公众号返回给用户。“一个脑袋两个大”，申芳瑜说她至今不会忘了那种感觉，一无所知的她开始学习php语言，每晚熬夜写代码，上网看视频学习，不放过任何一点时间，一个大一女孩却做着大二学生的事，就这样，一步一步，申芳瑜国创结了项，也再也没在科研这条路上回过头，她总是说：虽然科研这条路真的很累很累，但最初的梦想，又怎么可以在半路就返航？
大二，申芳瑜开始了手机软件app的制作，从零基础到拿着软件去参加比赛，三年来，勇者无畏，战果累累，她先后获得了校 “家曦杯”课外学术科技作品竞赛特等奖，“挑战杯”吉林省科技作品竞赛三等奖，"创青春"吉林省金奖，科研立项国家重点项目，全国中关村人才创客大赛二等奖。她相信，只要心怀希望不放弃，就一定会有奇迹出现。
学习之涯：知识是我前进的船桨
申芳瑜是一名少数民族预科生，高考分数的差距使她深知自己的基础比别人差那么一截，有时候，她也会困惑和迷茫，但成功的人寻找方法，失败的人寻找借口，她告诉自己“再走一步就是成功”。
三年来，在教室第一排永远可以看到她的身影，她告诉自己，基础的差距她无法弥补，她可以不做第一，但一定要做到优秀。繁忙的科研生活和学生工作已经占去了她大部分的时间，她只能每天利用所有可利用的时间去学习，每天，她都会把当天所学的书本用手机照下来，这样，即使在何时何地，她都可以去看一眼，复习一下。别人还在酣睡时，她已早起看英语，风雨不误，时间就好像海绵里的水，挤一挤，总会有的，就这样，凭借着她不懈的努力，一路追赶，她付出了比别人高一倍的努力，连续三年，她的成绩都在10%以内，并连续三年获得一等奖学金和优秀学生荣誉称号。除此之外，还获得了学有专长，教师技能，美德风范，优秀学干，少数民族齐飞等众多单项奖学金。
今年，她凭借着自己出色的专业知识，扎实的知识根底，成为了十几年来东北师范大学进入中科院电子所直博第一人，现在作为中科院电子所在东北师范大学的宣传大使，她成功的用学业为自己打开了成为女科学家的大门。
奉献之旅：工作是我前进的事业
步入大学，为了能够得到更多的锻炼，为了能全面的提升自己，大一申芳瑜就参加了班上的班委竞选，凭借不错的口才和一份真诚的心，她成功竞选为班级班长，这一干，就是三年。大二进入了院学生会主席团，大三，有幸当选为第四十二届校学生会民族部部长。她深知这是同学们的信任，是老师的重托，所以不敢有丝毫的松懈和怠慢。学生干部是一种情怀，也是一种坚守。一路上，申芳瑜用热情与奉献，立志为所有的同学带来一场又一场别开生面的精品活动。
申芳瑜还经常去敬老院看望慰问那些孤寡老人，她说，每当看到爷爷奶奶因为自己而笑开怀时，就是自己最大的幸福。
今年7月，申芳瑜有幸跟随校友会成为“重走长征路，寻访东师源”庆母校70周年校庆实践活动的一员，半个月的时间，她说，当她重温长征这段悲壮史诗的时候，时代的跨越感使她更对之产生一种跨时代的斗争激情与心灵的洗涤，这种跨越感使她油然感恩于现在，感恩于离她己远去的一代英烈，眷恋那种坚韧不拔，理想与信仰高于一切的奋斗献身精神。
创业之途：实践是我前进的力量
国务院总理李克强2014年9月在夏季达沃斯论坛上公开发出“大众创业、万众创新”的号召，“双创”一词由此开始走红。他说：大学生是实施创新驱动发展战略和推进大众创业、万众创新的生力军，既要认真扎实学习，也要投身创新创业、提高实践能力。由此，一个不怕折腾的女孩，也投身到了创新创业的队伍中。申芳瑜和几个小伙伴一起成立了以太网络工作室，利用自己做网站，做系统的特长，开始了创业的队伍。成立以来，工作室承担了校内外大部分的网站制作，有带报酬的，也有无偿的，每个合伙人都得到了自己的第一桶金。
今年，是东北师范大学70周年校庆，申芳瑜很荣幸的成为了校庆网站的制作者，那一行行代码，无不书写着她对东师的热爱。“纸上谈来终觉浅，绝知此事要躬行”，申芳瑜凭借着自己的努力，获得了“大学生创新创业大赛互联网+”吉林省金奖，并代表东北师范大学参加了吉林省高校大学生创业培训营。
生活之路：爱是我前进的航标
申芳瑜兴趣广泛，喜欢不断尝试新的事物，学习之余，积极参加各种文体活动，抓住每一个展示自己、提高自己的机会！演讲赋予她激情，主持使她敏锐，运动使她富有活力。从朗诵到运动会，从做主持人到征文大赛，都能见到她的身影。广泛地参加活动让她硕果累累，计算机学院“中国梦正青春”演讲比赛三等奖，“我的计信梦”征文大赛一等奖，教师技能大赛三等奖，运动会4*100米团体四等奖。
有限的生命因为爱而变的永恒。大学不应该只有学习，科研，工作，还要有亲情，有友情。很荣幸，申芳瑜的大学生活不是枯燥无味的，她有一群挚爱的闺蜜与朋友，她们穿同一件衣服，睡同一个被窝，因对方的悲伤而悲伤，因对方的喜悦而开心。申芳瑜说：大学，因为有爱，而变得如此炫烂多彩。
可能有人会问：申芳瑜是如何成为一个百变女郎的呢？时间是有限的，她又是如何在科研，学业，工作，创业，生活中游刃自如的呢？她说：只有一个秘诀，那就是：时间应分配得精密，使每年、每月、每天、每小时和每分钟都有它的特殊任务。用自己的梦想与坚持，成就自己的碧海蓝天。是的，申芳瑜就是这样一个女孩，她用她自己的努力，面对生活的百态，在立志成为一名优秀女科学家的梦想道路上不断前行着。
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	<script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
