<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>王天卓</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		   <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/wangtianzhuo.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>王天卓</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>生命科学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>北京大学（直博生）</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p> 最坚定的信仰，最强大的力量
特别喜欢习主席送给青年学生的那句“当代中国青年要在感悟时代、紧跟时代中珍惜韶华，自觉按照党和人民的要求锤炼自己、提高自己，做到志存高远、德才并重、情理兼修、勇于开拓，在火热的青春中放飞人生梦想，在拼搏的青春中成就事业华章。”这句话就像是天卓的故事，关于她的信仰，也关于她的力量。
她叫王天卓，来自东北师范大学生命科学学院。她看上去普通的不能再普通，是那种放在人群堆再不会有人记得的小姑娘，不论相貌还是身高。但是如果一个人的信仰能够看得见、摸得着，那她的信仰一定是最坚硬的那一个 ，她的内心一定是最强大的那一颗。
“你为什么要这么执着的来北大？”这是她在推荐免试的时候，考官问她的问题。“梦想，还有信仰”——她不假思索的回答到。是的，这是一个小姑娘的梦想和信仰，也是一个青年共产党员的梦想和信仰，一个用3000多天完成的梦！
想想从准备夏令营到获得推荐免试的资格，相信这半年多的的时间，鬼知道她经历了什么！去北大靠的是真实力，尽管三年的不谢努力并没有让她取得年级第一，但一次国家奖学金，两次校长奖学金，再加上90%以上的专业课优秀率让她有了信心。但事实仿佛并没有想象中的那么容易。曾经满怀信心的去北大一位大咖级导师课题组去面试，结果只有1／30的录取率；曾为争取到一位北大青年才俊导师课题组面试的机会，她曾挑灯夜战，在三天之内读完一百二十余页英文文献，但却被告知今年导师只想招收985学校的男生。她不相信自己就这样跟北大说再见了，也不想就这么轻易的妥协，因为这是她坚持了十一年的信仰和梦想。于是，她开启了“程门立雪”之旅。从发邮件，投简历的偶尔回复，到尝试着电话面试，到争取面试的机会，再到得知导师的名额已满。但她依然没有放弃，用扎实的专业知识，熟练的实验技能，过硬的心理素质和精神风貌和想要从事科研事业的决心争取到了北京大学医学部基础医学院分子细胞生物学与肿瘤生物学专业的唯一一个直博生名额。
念念不忘，必有回响；信仰坚定，必有力量。回想这3000多天的风雨兼程，历历在目，娓娓道来！
十一年前，她还是一名中学生，第一次走进北大校园，不知道为什么，其中的很多细节都已经模糊了，但有一个画面她却记得格外清晰。许多北大学生装扮成民国青年，中山装，蓝色上衣，白色裙子还有手中的传单，好像在还原着什么。她走上前去，才知道那天是五四青年节，才知道86年前的那一天，从这里开始，共产主义的信仰开始传递，“新青年”开始走出去。“我长大后要去北大，也要做有作为的新青年。”
2005年5月4日，悄悄埋下信仰和梦的种子。
三年前，经过两年的艰苦复读，她并没有圆梦北大。很多人对她说，“你的梦碎了，还是醒醒吧！”但她却从不这样认为，东北师大的平台同样能帮她圆梦，只不过会推迟那么几年！因为信仰不倒，梦想就不会熄灭！于是她并没有在安逸绚烂的生活中沉沦，而是在大一时就为自己制定了明确的学习计划：努力学习专业知识，仔细高效地完成老师布置的每一项任务，充分准备每一次考试。因为她深知，扎实的专业知识和娴熟的实验操作是跨进生命科学邻域的敲门砖；她更知道这是她实现北大梦的最后机会。
当然，她也不会忘记分享的快乐与收获。每逢期末之际，她会将课堂笔记与同学共享，帮助少数民族同学辅导专业课程，并将自己的学习经验讲给学弟学妹们听。时至今日，她依然清晰的记得为一位藏族同学辅导完功课后，同学轻拍她肩膀表示谢意的那种成就感和幸福感。因为在她眼里，“给永远比拿快乐”。
因为有信仰，所以有力量：她曾今为写好一次作业而认真修改，反复斟酌18次之多；她曾为获得一次更好的实验结果，被寝室阿姨锁在了门外；她也曾为心中的北大梦，连续11年的寒假去北大走走。
因为有信仰，所以有力量：大二年级，她主动与老师联系，并申请加入到魏民老师的研究团队，跟随导师做关于乳腺癌代谢方向的课题研究，并开始关注科学前沿的学术问题，阅读顶级刊物的相关文献。在近一年半的实验室学习的过程中，每当实验原理不清，她会翻阅相关书籍消化理解；遇到的初次上手的实验，她也会主动请教师兄师姐们，在沟通中一步步地锻炼着自己的实验技能，渐渐地融入科研的圈子。
因为有信仰，所以有力量：出色的科研成果需要时间的积累与沉淀，既要耐得住寂寞，坐得住冷板凳，又要吃得住辛苦，钻研下去。记得刚进实验室的时候，师兄师姐曾语重心长的跟她讲过，对一个初涉实验的本科生来说，能够在一两年的时间内在细胞生物学领域做出成果的可能性几乎为零，但她依然选择留下来坚持下去。从参加每次组会讨论开始，从阅读英文文献开始，从刷整盆的离心管开始，从装配上百盒枪头开始，从分装上千管marker开始，她一步一个脚印，到现在她已经能够流畅的阅读英文文献，掌握设计实验的思路，熟练操作western blot、质粒构建等一些列细胞生物学的实验技能。实验室的研究工作辛苦而繁重，研究的课题也往往面临巨大的挑战，早起晚归，没有假期也是常有的事，但她向来喜欢挑战难题，而且往往越是难题越能激发她战胜它的欲望，并从中寻找快乐。因为她始终相信能够探秘生命是生活对她最大的奖赏。
2013年9月1日，积淀了八年的种子破壳而出，开始光合！
一年前，当她听到有身边的同学不住的提起“如果能在哪儿看一场直播版的9.3阅兵式就好了。”并没有想太多，只是想帮他们实现。从写策划，找场地，调设备，购纪念品，她和她的伙伴们在短短的三天时间内，搞定了一切。直播那天，学院数百名师生齐看阅兵，齐唱国歌。正步震撼着她，国歌震撼着她。航拍从天安门广场，到长安街，再到北京大学，她心中的小宇宙再次燃烧了。
2015年9月3日，再也按捺不住，她要开花。
这是一个关于从种子萌发到花朵绽放的故事，这同样也是一个关于信仰与追梦的故事。她是一个有着三年多“工作经验”的大学生基层党团学生干部，她曾与她的每一位大学同学深情交谈，渐渐地她发现，周围许多曾经非常优秀的同学偏离了轨道，离成功渐行渐远。后来她发现，这些同学都有一个共性——因为无信仰，所以没力量。
今天的社会，到处都是诱惑。而当代大学生也变得前所未有的迷茫与浮躁。他们被诱惑牵扯的摇摆不定，没有未来，也不敢想未来！信仰，尤其是坚定的信仰，在当代大学生身上显得那么耀眼和可贵。如果你想加入党组织，那么请你问问自己，你是想为一份好工作而增加筹码还是真心的想帮助同学做点什么；如果你的实验室导师问你是留在本校还是去更心仪的大学读研时，你是否能给老师一个坚定、并且肯定的回答，而不是为了一个保研名额而朝三暮四；如果你想成为一名人民教师，你是否能把知识的精华留在课堂，而不是课外辅导班……
你可以没有共产主义的信仰和追求，但是你一定要有属于自己的坚定的信仰。因为坚定的信仰可以让你在梦想和现实发生碰撞的时候，让你的梦想再硬气一点；因为坚定的信仰可以让你的人生少一些功名利禄的追求，而多一些不为什么的坚持；因为坚定的信仰可以让你像红军将士一样，血战湘江，四渡赤水，巧渡金沙江，强渡大渡河，飞夺泸定桥，鏖战独树镇，勇克包座，转战乌蒙山，击退上百万穷凶极恶的追兵阻敌，征服空气稀薄的冰山雪岭，穿越渺无人烟的沼泽草地，纵横十余省，长驱二万五千里。
</p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
