<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>王司宇</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		   <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/wangsiyu.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>王司宇</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>数学与统计学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>明责任勇担当，愿为红色砥柱
王司宇同志，女，汉族，中共党员。数学与统计学院数学与应用数学专业2013级本科生。曾任数学与统计学院第六届学生党总支副书记，校青年马克思主义者学习研究会数学与统计学院分会会长。曾获得国家奖学金等20余项奖励，获得全国大学生数学竞赛一等奖，吉林省数学建模竞赛二等奖，并参加国创及科研立项课题，现已成功保研。为庆祝建党95周年、建校70周年，联合团队成员，成立“东师记忆”口述历史协会，带领团队在校内首次举办“传习数之道，承先辈风骨”口述历史系列文化活动。在我校庆祝建党95周年暨创先争优表彰活动中，被评为“校级优秀共产党员”。拼搏到无能为力，坚持到感动自己，她将“红色砥柱，先锋旗帜”当做自己终生的追求。
坚守信仰力量，不忘初心，夯实思想阵地
“组织入党一生一次，思想入党一生一世。”作为当代大学生党员，王司宇同志始终铭记一名共产党员的职责与使命。因为她知道：崇高的理想，坚定的信念，永远是共产党人的政治灵魂。大学三年，她将“强党性，塑党魂”作为自己的执着追求，砥砺前行。凭借着对党的一腔热忱，在初入大学时，她加入了学院特有的学生组织党总支，通过对红色理论的不断思考探索和信仰的日益坚定，在大三时，成功当选学院第六届学生党总支副书记。
为庆祝建党95周年，庆祝建校70周年，她联合团队成员，成立“东师记忆”口述历史协会，带领团队，在校内首次举办“传习数之道，承先辈风骨”口述历史系列文化活动，通过对学院27位离退休老教师的采访和对每场采访的详实记录，进一步追溯院史、致敬先辈、传承文化，坚持传承中有突破、务实中有创新，为学院发展凝聚强大的精神动力。其实在采访活动中也经常会有很多阻力，由于接受采访的老教师大都年纪已高，行动不便，需要学生去家里采访。而学院学生的课业又是非常繁重的，团队成员经常要晚上下课需要马上跑去老教师家里采访，以免采访到太晚，会打扰老教师休息。最多的一天安排了11场采访，为了保证每场采访的顺利进行，她整日奔走于各个采访地点：数统楼、老干部活动中心及各位老教师家里，直到晚上9点半才能吃上午饭。虽然很忙很累，但她无怨无悔，因为她见证了一位位老教师的敬业无私、甘于奉献，她深受鼓舞，更加坚定理想信念，不忘初心，知行合一。
现已将学院口述历史访谈录修订成册，学院学生通过阅读该访谈录，对校史、院史更加了解，同时感受到老先生们的求真务实，刻苦钻研的作风，敢于担当起习数之道的传承与创新。
“心中有信仰，脚下有动力。”作为学生党员，她将党的理论内化于心，外化于行，坚守内心的信仰力量。2015年暑假，她参加我校暑期“学生党员骨干班”，并作为学院代表进行总结汇报，2016年5月参加“两学一做专题网络示范班”，明党史知党情，忠实践行入党誓词。作为学院第六届学生党总支副书记，她坚信：党性修养的放松是最严重的隐患，信仰堤坝的管涌是最严重的险情。在关工委的支持下，组织学院党员、积极分子开展“以行动之实，证先锋之名，论党员先锋模范作用”主题讲座、“斩关夺隘，直击两会”、“大手拉小手——共话党章”等多次理论学习活动，身体力行，在学生党员群体中深化党员意识，把握意识形态，维护党的先进性和纯洁性，提高学院学生党员整体素质。
正因为王司宇同志时刻保持理论的清醒，政治的坚定，不忘初心，夯实思想阵地，对党无限忠诚，在我校庆祝中国共产党成立95周年暨创先争优表彰活动中，被评为“校级优秀共产党员”。
明责任勇担当，全面发展，践行党员使命
铸就东师情怀，愿为红色砥柱。她用尺子丈量自己的工作，用读秒计算自己的时间，将学习科研、学生工作、志愿服务等多方面做到了很好的兼顾，全面发展，激荡起砥砺奋进的信仰力量。
在学习科研方面，王司宇同志曾荣获国家奖学金、校长奖学金、一等奖学金、学有专长奖学金、优秀学生（3次）、全国大学生数学竞赛一等奖、吉林省数学建模竞赛二等奖。和同学共同申报科研立项《矩阵李代数的结构与分类》并顺利结题，后来又成功申报国创项目《多项式亚正规算子对的传递性及分离性问题》。最终以优异的成绩保送至东北师范大学基础数学专业，现已加入研究生讨论班。
数学与统计学院的专业课抽象难以理解，但她以自己的刻苦勤勉攻克了一个个难关。每天6点起床占座，上课认真听课，原本崭新的专业课本上，太多的空隙处都填满了她经过深思熟虑后做出的标记。由于学院专业课难度大，她组织参与了“党员一帮一”活动，帮助年级学习上有困难的同学，为他们划重点，解答问题。无论多忙，时间多紧，她都有问必答，有求必应，尽显一名党员的责任与担当。
在学生工作方面，她在大三学年担任学院第六届学生党总支副书记，并兼任校青年马克思主义者学习研究会数学与统计学院分会会长。曾荣获“校五四红旗团干部”，优秀学生干部奖学金。每当期末，大家都已投入紧张的复习状态，作为学生干部，更作为学生党员，源自于心底强烈的责任感，依然尽心尽力处理学生工作大小事宜，生活与同专业的人不在同一维度。白天奔走于教室与数统楼，晚上12点，甚至1点还在处理学生工作。尽管如此，她依然坚持再学习2小时。有时学习过于投入，不经意间见证了一次又一次从天黑到天亮的全过程。细心的你不难发现，每当晚上11、12点的时候，总能看到她在电梯口和来自于组织5个部门，40位成员谈心。家住长春市的她，有时却一个多月都没有回家，短短三十分钟的车程，有时却显得那么远，只能抽空给家里打个电话。然而，这难以想象的艰辛与忙碌，只是她生活的常态。王司宇的学妹对她颇有几分敬意：“她是我见过的学生党员中最具红色气质的优秀党员！”
在志愿服务方面，王司宇同志曾被评为“校2015年度最美志愿者”，“中国扶贫基金会三星级志愿者”，并在大二大三期间，在厚普公益学校担任高中组数学志愿教师，义务为贫困家庭的孩子们传授知识，在帮助他人的同时，也提升了自己。她还参加过善行100、ACM国际大学生程序设计竞赛亚洲区域赛长春站比赛的志愿服务等多项志愿活动。同时，她还组织过慰问抗美援朝老党员等党员实践活动。当老党员提及战场上的铮铮铁骨、顶天立地时豪情满怀；提及后来党对自己的关怀备至时难忍哽咽，她深受触动，感受到老党员对党的一片赤诚，更加明晰自己作为学生党员的职责。
“以我衣衫褴褛，换来繁花似锦。”这是革命烈士们曾经许下的承诺。而在当下，作为一名学生党员，王司宇同志不忘初心，牢记入党誓词，时刻铭记党员的职责与操守。即便再忙再累，她也甘之如饴。她始终告诉自己“拼搏到无能为力，坚持到感动自己”，这也是她几经挫折不断奋起，历经艰辛淬火成钢，不断前行的动力。
“乔木亭亭倚盖苍，栉风沐雨自担当。”党的理想信念不断激励她前行，她用自己的实际行动对“大学生党员”做出了很好的诠释。明责任勇担当，真正践行了一名党员的职责与使命，努力成为红色砥柱，先锋旗帜。
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>

	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
