
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>徐云月</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/xuyunyue.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>徐云月</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>音乐学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>就业/考研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>青春短暂，请记住最初梦想
徐云月,女,东北师范大学音乐学院音乐学钢琴师范专业2013级本科生。曾多次获得“一等奖学金”、“优秀学生荣誉称号”，雅马哈双钢琴比赛三等奖，在国家级比赛“珠江•恺撒堡钢琴”全国高等学校音乐教育专业本科学生基本功展示中表现突出，获得团体一等奖、个人全能一等奖、钢琴演奏单项奖、微课单项奖、歌唱与伴奏单项奖。其中钢琴曲《流水》清新、流畅的演奏风格受到评委会的一致好评。
梦想，从这里开始
她是大山里的孩子，家的那边全是山，基本上每隔几座山之间就会坐落着几乎人家，人家的外围会包裹着零零散散的一点土地，土地的外围就又是山了。四周的环山阻挡着那双想要眺望远方的眼睛。小时候的她，总是好奇：山的那边会是什么呢？她的父母都是当地的农民，母亲身体不好，只能操持一些家事，主要靠父亲一人劳动，由于家里的土地面积小，每年就只有不过万的收入。然而，如此出身的她，却与音乐结下了不解之缘。
她从小就对音乐有着一种特殊的情感，可高昂的课时费是这样一个没什么收入来源的家庭可望不可即的，更何况在她们那个山沟里怎么会有专业教钢琴声乐的老师？徐云月的大伯是村里学校的音乐教师，他发现了徐云月在音乐上的过人天赋，父母为了让她学上音乐，拿出春天买种子花费的钱为她买了一架银白色的电子琴，使她有机会接触音乐，成为了迄今为止村子里唯一一名学习音乐的孩子。这是她人生当中的第一台琴，她对音乐的梦想，也是从这里开始的。
翻过那座山
对于出生在农村的孩子来说，唯一能改变命运的，只有考上大学。没有伞的孩子，就要学会努力奔跑。去县里读高中以后，她成为了班里最不起眼的学生，家境不好，成绩一般，相貌平平……多方面的劣势使她一度自卑，甚至产生了辍学的念头。她下决心一定要扭转这种局面，徐云月利用课余时间一个人出去四处寻找高考音乐培训中心，终于在市里找到了一家可以做高考培训的学校。然而，从小没有经过专业的训练，没有艺术的熏陶，因此刚去时她成为了基础最差的一个。由于从小只有一点不是很专业的电子琴基础，当其他同学的手指能在钢琴上灵活自如的飞舞时，她连钢琴键都按不动；当其他同学能唱出中难度歌曲时，她连共鸣都做不到。但她从没有想过放弃，原因只有两个字“喜欢”，她说：“做自己喜欢的事情，再苦也不苦，再累也不累，还有什么能比做自己喜欢的事更幸福呢？”决心已下，咬牙也要坚持到底，她坚信，只要翻过那座山，就能看到大海！
徐云月学习音乐的学校距离高中有半小时的车程，她每天早上坐六点半最早的班车到达音乐学校，晚上坐最晚的九点半的班车回到高中的宿舍，除了中午吃饭以外，其余时间把自己关在琴房，忘我的练习，累了就趴在琴盖上睡几分钟起来接着练习，由于长期的保持一个姿势，日复一日，徐云月的肩膀、颈椎、手指都产生了不同的病变，母亲总是担心的叮嘱她：“没事多走动走动，别一整天坐在琴凳上。”她笑笑说：“我连这点苦都吃不得，还谈什么理想！”为了让父母宽心，她从不把在学习上遇到的困难回家讲，她知道，父母不懂反倒着急，凡是在学习上遇到的困难她都努力想办法自己解决，”能做到的事情，她从不麻烦别人。
功夫不负有心人，她越学越爱，渐渐丢弃了自卑。八个月的时间，她用自己的努力见证了一个奇迹——从培训学校的倒数第一变身成正数第一，提升速度令所有老师和同学震惊，自信心也增加了不少，最终以全校第一名的成绩考进了东北师范大学。回到家里，邻居们都纷纷来道喜，短短几天内，她成了全村的“名人”，成为全县人的骄傲。
改变，从相信可以改变开始
自入大学那天起，徐云月便发誓：一定奋斗到底，为了自己多年的音乐梦想，更为了为自己辛苦了半辈子的父母！大一开始，她便学着合理分配时间，在认真做好学习的基础上，为了锻炼自己，去参加各种帮助资助对象的“献爱心”活动，她说“自己是资助对象，更理解他们的需求，为其他资助对象服务的同时自己的内心也得到了快乐。”在社团还学会了手写海报、pop字体、制作电子海报、新闻稿等自己的专业学不到的知识，社交能力和知识技能都得到了很大提高。大家看着每天忙忙碌碌的徐云月，都感到十分不理解，她是这样说的：“能帮助别人的同时，又能学到平时没机会接触的知识，何乐而不为呢！”
大二至大三期间，为了锻炼自己的综合能力和学以致用，她多次参加演出、比赛，去其他学校展演。由于专业技能过硬，得到了很多家教的机会，并获得家长们的一致好评。她的出身使她比别人更懂得珍惜每一个能让自己得到锻炼和提高的机会。这么多年，音乐早已成为了她生命中不可缺少的一部分，她总是一整天一整天地待在琴房，全情地投入到乐曲中，甚至自我陶醉。她认为，作为一名学音乐的人，如果自己呈现出来的音乐不能感染到别人，那就是无效的表演，要想感染到别人，首先要感动自己，才能通过音乐把情感传递给别人。为了这个目标，她一直努力着。
她总说：“任何困难都不能阻止我对音乐的热爱，困难是可以克服的，我相信，是金子总会发光，但前提是必须做出百分之二百的努力。”2016年的暑假起，学院开始选“珠江•恺撒堡”全国高等学校音乐教育专业基本功展示的比赛选手，经过全院教师的严格考核和层层筛选，徐云月被选入比赛选手，即将代表学校参加比赛，她意识到自己肩上的重担，“出去比赛代表的是学校，不是我个人，老师们既然选择了我，我就有责任做好它，不让老师失望。”三个月以来，每天起早贪黑，反复的磨炼、推敲每一科目，这次比赛的项目几乎囊括了大学四年所学的所有知识，她非常庆幸自己能拥有这样的机会提升自己，这种集中式的训练，使她的意志和专业技能再一次得到飞跃提高。终于，在全院教师的悉心教导下，在众人期望的目光下，她为学院夺得团体一等奖、个人全能一等奖、钢琴演奏、微课、歌唱与伴奏四个单项奖，再创学校历史新高。其中，她演奏的中国乐曲《流水》的清新、流畅、婉转得到了评委会的一致好评，乐曲的情感拿捏得恰到好处。
“真正的无能为力是竭尽所能之后的不强求，而不是两手一摊的不作为。”是徐云月最喜欢的一句话，先天条件匮乏并不代表就没有反转的权力。如果你想为短暂的青春留下最宝贵的财富，那么请记得追寻最初的梦想！
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
