
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>杨秀云</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/yangxiuyun.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>杨秀云</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>地理科学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>北京大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>只有一个对手，那就是自己
杨秀云，女，中共党员，地理科学学院2013级本科生。回首三年时光，她遇到过来自家庭、外语、保研等多方面的困难，而支撑她一直坚持到最后、优秀到最后的秘诀就一个词：绝不服输！
出生寒门，面对困窘家境绝不服输
杨秀云出生于一个贫困的农村家庭，艰难的环境让她体会到生活的不易。她忘不了父亲因胃疼而坐立整夜，无法入睡时憔悴的面容；忘不了母亲因关节劳损而无法拿起一杯茶时颤抖的双手；忘不了姐姐因家庭困窘，选择放弃学业时的潸然泪下；更忘不了，家里人背着她到处打苦工赚钱却仍鼓励她：“钱不是问题，你安心读书就好，念到哪，我们供到哪”的声声叮咛。对家人的心疼与愧疚感伴随着她的学习生涯，她深知自己是家里唯一的希望，为了姐姐未曾完成的梦想，为了父母的期盼，她必须尽快成长起来、坚强起来。从此，在她骨子里多了一份自强、坚毅与担当，她下定决心，要用自己的双手改变家庭命运。怀揣着这样简单而又朴实的梦想，她不断拼搏进取，追求卓越。
勤奋、踏实可以说是杨秀云的代名词，一千多个日夜的拼搏让她收获可喜成绩。本科期间，她连续三年绩点过4、专业排名第一；曾获国家奖学金、国家励志奖学金、校长奖学金、学校励志奖学金、优秀学生干部奖学金，被评为校五四红旗团干部、爱心使者团先进个人、优秀学业学生百人团队成员，并多次获得优秀学生称号；曾任院学生会秘书长、GIS协会副会长、班级学习委员；曾参加国创、Esri竞赛和暑期社会实践项目，并作为优秀学生代表参加全国地理学联合实习。最终以推免第一名的成绩保送至北京大学读研深造。
小语种学生，面对外语“拦路虎”绝不服输
她的第一外语为俄语，其俄语成绩优异，中考满分、高考141分、大学俄语平均分96.75分，并一次性获得了大学俄语四六级考试优秀证书。只是，这俄语背后，承载了她太多太多不为人知的心酸。
小语种等级考试只有每年6月份开展一次，政策规定大一学生不具备考试资格，这意味着若要保研之前拿到四六级证书，大二下学期的四级和大三下学期的六级只许胜、不许败。然而小语种的学习资源着实有限，备考大学俄语公共四六级考试时，她没有词汇手册、没有听力材料、没有考试真题，“在夹缝中谋生存”的她最后只能将高难度的俄语专业四级与八级材料作为唯一复习资源，她经历过阅读题履做履错、听力题“还没开始，就已经结束”的复习低谷，绝不服输的她便反复练习，直到全部读懂、听懂为止。最终她取得了俄语四级88.5（百分制），六级73.5（百分制）的成绩。 
一名优秀的地理人，3S技术是必备工具，地理专业开设有ArcGIS、ENVI、C#编程等专业课，对于其他人来说，这或许并没有什么特别之处，但是对于一名从未接触过英语的小语种学生来说，学习它们无疑是一种挑战。课堂上常出现的情况：当其他同学已经跟随老师思路一步步的做出最终答案，开始下一内容时，她还在为刚开始的添加数据而苦苦挣扎，反复的在想、甚至是猜，老师说的英文究竟是哪一个。课堂上如此低的学习效率本应让她成绩落后，但是永不服输的她始终在坚持，“课上听不懂，那课下我就多练习、多做题。编程类的知识实在不理解，我就背下来，背到一定程度，心中的谜团自然就解开了”，杨秀云如是说。一向节俭懂事的她，为了不给家里增添负担，初来大学，她并没有自己的笔记本电脑，为了及时消化课堂知识，学院机房便成了她的第二寝室，一下课她便跑去那里勤加练习，并一个个的查找英语单词，专业词汇积累了满满两笔记本，经常在计算机前一坐就是一天，直到学院晚上关门为止。她知道，那里是她唯一可以课下练习GIS技能的地方。回到寝室，虽没有了上机练习机会，但她的“天然计算机”仍在高速运转，她在脑海里一遍遍回忆建模步骤、熟悉空间分析工具、背诵程序代码，梳理好操作流程后，她会把软件的各操作界面、各工具箱位置关系绘制成图，通过另一种方式训练自己。因没有计算机的支撑，课堂PPT无法及时复习，她便打印成纸质版，一遍遍的巩固与强化。其实她完全可以降低对自己的标准，选择汉化版的软件进行操作，避开英语障碍，但她绝不妥协，而是越挫越勇，坚持和其他同学一样，学习适用性更广、功能更齐全的英文专业软件。日复一日的积累与坚守，让她在如此艰难的学习背景下，仍取得了GIS专业第一名的成绩。
转专业后，面对巨大身心压力绝不服输
综合考虑个人兴趣与未来规划，她虽犹豫，但最后仍然选择了转专业，她立志要在更“接地气”的自然地理领域有所建树。面对全新的班级、全新的课程体系和转专业后繁重的课业压力她毫不畏惧，只因她深信：坚持就会看到希望。乐观热情的她很快便融入了新的班集体，她时常在想：自己是何其幸运，能有机会与两个专业的同学成为挚友。
转入了学院课程压力最大的地理科学专业，她不光要学习新课，还要补选大一时落下的课，大二那年，她共修34门课程，每天仅上课时间就达7个小时之久，几乎全天奔走在各间教室，同时她作为学生会秘书长，琐碎而又复杂的学生工作让她几乎再无法分身。那段日子，她经常熬夜做作业、处理学生会文件和实验数据，待准备睡时，窗外又近天亮；多少次匆匆赶去上课，课堂上饿得肚子直响时，她才意识到自己还没有吃饭；教室里、办公室里、校园的道路上总会出现她向老师同学请教知识的身影。“千淘万漉虽辛苦，吹尽狂沙始到金”，转专业后她的学习成绩仍稳居第一，并出色的完成了各项学生干部工作。
保研路上，面对无数质疑声绝不服输
保研在即，然而当她看到各大院校保研夏令营、复试流程中“英语四六级、英语面试”等要求，听到某高校招生老师所说：近十年我们没有收过小语种学生，她几度陷入绝望，仿佛自己被保研大军远远的抛在了后面，尽管自己很努力，但是客观条件已无法改变，面对外语，她有说不出的难过，她从未想过，曾经引以为傲的俄语会成为现阶段读研的一道门槛。外界对她保研的质疑声与叹息声充斥着耳畔，无数个难眠的夜晚，她不知哭了多少次。挣扎数日后,她想通一个道理：机会总是留给有准备的人，谁说自己不能实现梦想？关于明天的事后天才知道，万不能轻易否定自己。就这样，永不服输的她虽心理压力巨大，但仍在通宵达旦的复习专业知识、准备复试材料。她将北大作为自己唯一的外保志愿，有同学劝她：“拒绝了广散网式外保策略，你将承担很大保研风险”，但她认为：要做就做最真的自己，要外保就去最想去的学校。功夫不负苦心人，最终，目标坚定的她凭借扎实的专业基础、出色的俄语表达能力、过硬的综合素质获得老师们的认可，顺利保送至北京大学。  
“虽语种不同，但一切都是最好的安排，注定自己需要掌握英俄双语，本科前三年时间交给了学习、科研与学生工作，大四保研结束就是自己奋发学习英语之时，没到最后，一切都未成定局”杨秀云如是说。在很多人眼里已顺利保研的她应该过着尽情享受、尽情狂欢的大四生活，而她又何尝不想让紧绷了三年的神经稍微放松下，让疲惫了三年的自己好好歇一歇，但是永远追求完美的她却给自己的大四安排了满满的英语课，现在仍奋斗在学习第一线，从未停下前行的脚步。整个保研过程跌宕起伏，结果却又那样顺其自然，永不服输的信念，不仅让杨秀云实现了保研北大的梦想，更为其他立志深造的小语种学生起到了表率作用。 
回首过去的三年，让她难忘的是学校、学院对她的培养，而非那些光鲜耀眼的荣誉。即将告别东师，逐梦北大的她，将始终坚持：努力到无能为力，拼搏到感动自己的信条！不负母校栽培之恩！不负恩师教诲之情！
 </p>		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
