<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>燕妮</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/yanni.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>燕妮</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>历史文化学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送“1+3”研究生</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>成长的路上没有终点
一个人达到的高度，不是看他现在的高度，而是看他在原来的高度上又前进了多少。永远不要轻易说放弃，只要我们再坚持一下，或许下一个路口就是柳暗花明。 
永远不要轻易说放弃
1993年12月13日，她出生在黑龙江省齐齐哈尔市梅里斯区的一个小镇上。刚来到这个世界上的她还没来得及感受这个世界的美好，就先尝到了生活的苦涩。父母离婚，父亲不闻不问，不管不顾，母亲再嫁到更为偏远的农村，后又育有二子，生活贫困。因此她从小与年迈的姥姥、姥爷一起生活。虽然她的童年并没有像其他孩子那样，承载着满满的爱与关怀，但在姥姥、姥爷的抚育与关心下，她得以健康地成长。
直到2008年8月28日，星期四，她永远忘不了那天，那天的天空被乌云压得很低很低，压得她仿佛透不过气来，下午1:40，姥爷在家中因肺癌晚期去世！当时的她只感觉天旋地转，孤立无援，眼泪像倾斜的洪水一样顺着脸颊向下流淌，却哭不出声来。偏偏祸不单行，一直身体不好的姥姥更是因为姥爷的去世一病不起。马上就要初三开学的她，在这短短的几天时间仿佛瞬间长大了。随着开学日期的一天天临近，她开始犹豫要不要放弃学业。但生活总是在给你关上一扇门的时候打开一扇窗，镇政府的相关领导，和学校的老师了解到情况之后，主动提出帮助，就这样姥姥得以住院治疗，身体渐渐恢复。她也能够继续在学校读书。并且通过自己的刻苦努力，学习成绩在全年级一直名列前茅，并于2009年以优异的成绩考入了省重点高中-齐齐哈尔市第一中学的宏志班。
从农村走进城市，得以在省重点高中学习，她成为了全家的骄傲。但是这种自豪与喜悦，在入学后的第一次月考成绩下来的时候烟消云散。刚进入高中，她英语底子不好，一节英语课下来就像把她扔到另一个陌生的世界里煎熬了40分钟一样。她数学基础差，跟不上老师讲课的速度，做题做不明白，考试总是不及格，因此，数学课也就成为了她的噩梦。第一次月考她排在了年级200多名。当她拿到成绩单的时候，她哭了，那是她第一次因为考试成绩留下眼泪。她看到了自己与其他同学的差距，开始更加努力学习。为了保证白天在校的学习时间和学习效率，她从早上坐在座位上就很少走出教室，为了避免上厕所耽误时间，她每天几乎不怎么喝水，渴的时候就用水沾沾嘴唇，她每天强迫自己做一个半小时的数学题，并将不会的、做错的抄在笔记本上，到学校赶紧请教老师和同学。她每天早上坚持6点起床背单词，虽然说着一口东北大碴子式的英语，但是每天坚持朗读英语课文。就这样，经过她两年，700多天的坚持，学习成绩不断进步，年级前50，前20，前10，终于在大二下学期的时候，考了年级第二名！她的照片也被光荣地贴在了教学楼的一楼大厅的荣誉墙上！然而，时间转眼间来到了高三，面对综合的训练，以及高强度的学习，她的身体一再吃不消，经常生病，心态也越来越急躁、不安。果然，在2012年的高考时，她失利了。作为黑龙江省最后一批估分、梯度填报志愿的高考考生，她由于估分不准确，对填报志愿的预测分析不正确，第一志愿落空了！当录取结果出来的时候，她感觉这12年的寒窗苦读都白费了！当时的她心灰意冷，感觉愧对家人，愧对党和国家，愧对所有帮助、关心她的人。她和姥姥说她不想上学了，她想赶紧赚钱。然而，令她意外的是没有上过一天学的姥姥表示坚决地反对！最后在姥姥与妈妈还有继父的商量下，以及在学校的帮助下，2012年8月6日，她独自踏上了前往大庆的火车，在大庆实验中学开始了她一年的复读生活。复读很累，压力也大，她的生活被每天堆积成山的卷子以及各种各样的考试填满，但是她一如既往的坚持，终于在2013年以高出省重点线69分的成绩考入东北师范大学！
或许，家境的困难让她比其他孩子经历了更多的苦楚与艰辛，但是，在人生追求梦想的道路上，她永远没有放弃，不断发展自我的同时，她也不忘服务他人，回报社会，传递着爱与感动。
穷则独善其身，达则兼济天下
从穷乡僻壤到象牙塔，从面朝黄土的农村到车水马龙的城市，有的时候我们无法选择所面对的生活，但却可以选择面对生活的态度。来到大学的她，不忘初心，用实际行动承担着大学生应有的责任与担当，践行着“穷则独善其身，达则兼济天下”的家国情怀。
穷则独善其身。在大学期间，她申请了助学贷款，助学金，并且平时在学校勤工俭学，当同学们在一起商量着哪部电影好看，哪家馆子好吃的时候，她为了生活，四处奔波，给学生当家教来赚取学费和生活费，就这样他实现了经济独立。
她深知作为一名学生，学习是第一要务。当同学们睡懒觉的时候，她早早地起来到图书馆阅读老师布置的书目，当同学们休息、放松的时候，她独自坐在寝室走廊的台阶上熬夜背题，在前往学生家中做家教的公交车上，她总会从书包里拿出单词本背单词。就这样，她的学习成绩不断的进步，由年级的30多名到十几名，由学校励志奖学金、三等奖学金、二等奖学金到国家励志奖学金、一等奖学金，她用实际行动诠释着只要努力就会有收获。
达则兼济天下。她不忘发展自我的同时要服务他人。从年级团总支书记到年级长；从学院红烛协会会长到“朋辈导师团”常务副团长，从学院团委副书记到校学生会民族部部长，每天在学习，为了生计奔波的同时，她挤出时间，想尽自己的努力多为同学做些事儿。寝室的1楼到6楼，她每天走寝，传达通知，收材料，同学们遇到什么困难和问题，她总是跑动跑西地帮着解决，学弟学妹们的学习、生活遇到什么困惑，也总是会第一个就找她，她无论多忙也总是会耐心地帮着解答，传授经验。她希望能用自己的一些经历和经验真正的帮到身边的人。就这样，她连续三年获得优秀学生干部奖学金和校“五四红旗团干部”荣誉称号。她用自己的坚持不懈践行着大学生的责任与担当。
她深知自己的成长离不开党和国家以及社会好心人士的帮助，因此，她一直怀着这颗感恩的心，积极投身于志愿服务的工作中。她坚持每个月去敬老院看望老人，每个暑假去支教。还记得今年暑假，她独自乘坐火车去河南支教。当时由于多天的暴雨，火车在河北廊坊被困了近10个小时，随身带的食物都吃光了，火车上的饭菜和零食也都卖没了，车上的乘客开始陷入焦躁，她也开始变得紧张、害怕。就这样她独自坐了36个小时的硬座，到达河南开封的时候已是半夜23点。但支教地距离开封市还有近一个小时的车程，她便下了火车又坐了一个小时的出租车于近12点到达了支教的小学。在支教期间，她由于水土不服加之天气炎热身上起了很多的小红点，一出汗就又痒又疼，但是当她看到孩子们那一张张纯真稚嫩的笑脸以及一双双渴望知识的眼睛时，她选择了坚持；当她听着孩子们围绕在她身边声声的喊着老师老师的时候，她体会到了身为老师的责任；当支教结束，她收到一张张孩子们亲手做的贺卡，被孩子们抱着时，她留下了感动与不舍的泪水。当回到学校之后接到孩子们打来的电话时，她坚定了要成为一名人民教师的决心。
2016年9月份，当她面临着保研的多种选择时，她毅然放弃了直保，选择了保送“1+3研究生”。她希望可以以一名辅导员老师的身份，尽自己所能帮助到更多的孩子，她希望将她成长的故事，将她的所学、所感讲给她的学生们，践行“育人为本，德育为先”。
成长的路上没有终点，不忘初心，不辱使命。
			 </p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
