
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>叶挺铭</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/yetingming.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>叶挺铭</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>环境学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送中科院直博</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p> 脚踏实地，做筑“梦”的实践者
叶挺铭，男，中共党员，东北师范大学环境学院环境科学2013级本科生，现任环境学院本科生党支部副书记，曾任环境学院团委副书记。大学期间，他的学习成绩优异，综合绩点排名第一，综合素质突出。现已保送至中科院生态环境研究中心环境工程方向2017级直博生，在那里他即将开启下一步征程。
扎实基础，筑梦扬帆
从浙江到长春，18岁的叶挺铭只身一人跨越3000公里，来到东北师范大学，初来乍到，他也曾困惑环境科学作为一门交叉学科，该如何学习各门专业课。为此，他特意请教了许多位学院老师，老师的建议是打好基础，养成自学习惯。然而这对于刚入学的叶挺铭而言，首先远离家乡，从江南来到东北，生活上的巨大差异便是一项挑战，改变学习方式，学会从完全靠老师转变为完全靠自己，这更是一件不容易的事。幸运的是在老师的指点和同学们的帮助下，他的生活开始逐渐走上正轨。于是大一刚开始没多久，他认真钻研思考的身影便经常在图书馆或者自习室停留，或在攻克难题，或在阅读文献，每一份作业他都尽其所能去完成，挑灯夜读似乎成了他大学生活的常态。“他比谁都忙，又好像比谁都闲，闲是因为他每天也就做那么几类事，不是学习就是社团。”室友薛烨飞曾忍不住“吐槽”他，“你就不嫌单调么”。“学海无涯苦作舟嘛。”叶挺铭笑着回答。在叶挺铭看来，课业学习的乐趣与挑战在于不断的培养训练自己的思维，不断的在自我否定中挑战自我。
俗话说，一分耕耘一分收获，而他的努力带给他的回报便是综合绩点排名第一，也因此获得了国家奖学金、校长奖学金、一等奖学金、东师优秀学生、五四红旗团员等奖学金和荣誉称号。
“学习没有捷径，千里之行始于足下。努力很重要，但是也要学会停下脚步捋清思路，因为比努力更重要的是前进的方向，有了方向过后的努力才能真正的实现扬帆起航，学习如此，人生亦如此。”叶挺铭带着他明确的学习目标，在学习中不断追寻他的乐趣。
合力其为，精诚奉献
除了日常的学习，叶挺铭还积极组织参加各项学生工作和社会实践。作为环境学院团委副书记，他曾先后举办了社区、长春公园环保科普活动、东北师范大学首届环保公益项目大赛和亲近绿色•东师行等十余场大型活动，辐射人数达1000余人，“环保除了需要解决技术层面的不足，关键还在于转变群众的意识，尽可能的让更多的人认识到保护环境的重要性，这可能才真正算得上是保护环境，人人有责吧。”他带领着团委尽最大的努力走向社会，为环保知识的普及贡献一份力量。他还荣获了东北师范大学优秀学生干部奖学金、五四红旗团干部称号，这无疑是对他的学生工作的认可。
叶挺铭还曾担任副领队带领着丝路爱心支教团前往新疆五马场乡双语实验小学进行为期一个月的支教，支教期间组织了许多有利于孩子发展的活动，如主题朗诵比赛、趣味运动会等。活动受到了媒体的广泛关注，文艺演出时还接受了奇台县电视台的采访和报道。“这次支教是我大学生活中最令我难以忘怀的，每天给孩子们上科学课，普及科学知识，孩子们如饥似渴的追问我生活中的科学问题的情景都历历在目，虽然时间不长，但是我希望能给他们带去一些能够使他们终身受益的东西，比如当地孩子不注重卫生，于是我们通过发起社会捐赠，给他们分发卫生包，借此意在给他们带去一个爱干净的好习惯。”支教结束后，他还带领团队成员在新疆参与了“优秀大学生文明旅游背包客”活动，登上了中国青年报。虽然一个人的力量有限，但他始终积极带动身边的人一起努力，坚持不懈，努力为社会做贡献。
“‘三人行，必有我师’，我身边有很多优秀的同学，我并不认为我比他们优秀，但是幸运的是我们心中有着共同的方向，去促使我们聚在一起去共同努力去为这个社会做一些力所能及的事，然后在共事中相互学习，在相互学习中携手共进，共同成长。” 
科学严谨，逐“梦”启航
“在科研的路上，总是磕磕绊绊，没有一次便成功的数据，也没有一次便成功的方案。但是良好的自学能力让我阅读大量文献找不足，丰富的学生工作经历让我不断摸索找创新。”这是叶挺铭回忆起自己初次接触科研的感受。在大一下学期他便成功申请一项国家级大学生创新创业训练计划：《模拟太阳光降解典型的喹诺酮类抗生素研究》，但实验初期，实验结果不尽人意，实验条件难以控制，于是他不断的调整实验方案。该领域文章少就模仿相似类型文章，严格控制基本的条件，一次又一次的重复实验、创新实验，经过两个月的实验，才找到了合适的条件，制备的催化剂的降解效率高达95%。经过两年的实验，目前已撰写的《p-n异质结BiPO4/Ag3PO4的制备及其增强的模拟太阳光活性》文章投稿于被SCI、EI收录的《无机材料学报》。初投文章让他感受到做科研的乐趣，并从中受益匪浅，他通过总结和概况实验过程中阅读的大量文献，以一作撰写《光催化技术在处理抗生素废水研究进展》，拟投稿核心以上期刊。大二下学期他又申请了一项国家级大学生创新创业训练计划：《水网藻对富营养化水体中优势藻的抑制作用及其利用》，但实验开展的还是不顺利，藻的生长没有他所预想的那么好，导致他无法进一步测定数据。叶挺铭通过不断查阅文献，请教专业老师，设计实验方案，最终为藻模拟了良好的生长条件，实验得以成功进行，最后获得了优秀结题，并撰写商业计划书荣获了2016年“创青春”吉林省大学生创业大赛优秀作品奖，在东北师范大学“梦想青春•创享东师”青年创业博览会中进行路演展示。同时，他还与同学一起探讨钻研、创新改进，成功申请一项国家授权专利。
叶挺铭认定自己以后将成为一名环境科研工作者，致力于水质安全方面的研究，从源头保障每位中国人的健康。“我认为当一个人学问越大，那么他所需要回馈社会的便越多，当千千万万的有志青年共同回馈社会，这也是‘中国梦’实现的根髓所在，也许以后我并不能做到从源头保障每位中国人的健康，但是我想我会尽我所能使更多人受益，使社会些许改变，那么这也就够了。”
</p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
