
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>苑城睿</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/yuanchengrui.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>苑城睿</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>体育学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.htmlhtml"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>身心兼修 魂魄并铸
苑城睿 男 汉族 1996年5月出生 东北师范大学体育学院武术与民族传统体育专业2013级学生。
习武少年 志存高远
文能治国，武能安邦,武术是中华民族宝贵的文化遗产。习武之路任重而道远，苑城睿5岁起师从徐其成老师，15年勤学苦练。这些年中，他和专业队一起进行高强度训练的同时，为了兼顾文化课学习，父母选择让他就读于普通学校。每天他就像一只陀螺，三点一线，在学校、训练队和家之间来回穿梭。
习武对身体柔韧度的要求很高，苑城睿虽然爆发力强，但是身子硬，柔韧度不够，按照他初始的身体条件，有些高难度动作无法完成。为了克服这一难题，老师、父母共同帮助他，弯腰、压腿、负重、扎马、刺拳……每次都如“上刑场”一般。为了不被大家笑话，小小年纪，他紧咬牙关，强忍剧痛，不掉一滴眼泪。功夫不负有心人，在老师的耐心指导和自己的刻苦练习下，苑城睿的柔韧度有了明显改善。记不清多少次在滂沱的雨夜赶最后一趟回家的班车；记不清多少次挥汗如雨，肌肉痉挛，却还在赶写因为训练而落下的功课；记不清多少次训练后，极度疲乏已酣然入睡，手里还攥着笔……
尽管辛苦，他从未想过放弃，“故天将降大任于斯人也，必先苦其心志，劳其筋骨，饿其体肤，空乏其身，行拂乱其所为，所以动心忍性，曾益其所不能。”武德对他的教诲是支撑他一路走来的强大动力。“外练筋骨皮，内练一口气”。流血流汗不流泪，再苦再累也要坚持。在学校，他是品学兼优的好学生，在训练场上，他是英姿飒爽的习武少年。十余载寒来暑往，铸就了强健的体魄，十余载雨雪风霜，塑造了刚毅的品格。刀光剑影，斩获二十余枚奖牌，一张张从国内到国际的获奖证书，是对一个热爱武术孩子的最好的回报。
上下求索  信念执着
2013年，苑城睿以文化课第一名的好成绩考入东北师范大学，成为了体育学院武术与民族传统体育专业的一名学生。进入东师大这座神圣的育人殿堂，是他一直以来的理想和追求。扎实的专业课训练和深厚的理论基础让他对武术有了更深刻的理解，与此同时，文化课的学习加强了他的文化理论修养。“业精于勤而荒于嬉，行成于思而毁于随”，进入大学以来，他丝毫不敢懈怠，勤勤恳恳，努力钻研。
一次在观看电视转播乒乓球比赛时，苑城睿注意到，我国选手丁宁因英语沟通不畅只是用无数个“why”来质疑裁判的判决，显得无力又苍白。而另一位选手邓亚萍退役后从ABC开始学起，现在已经可以进行流畅的英语对话。这使苑城睿意识到学好英语的重要性。武术是中华瑰宝，而传承武术，让武术走向世界，是武术专业学生的重任。一直以来，英语是苑城睿的弱项，为了加强口语练习，他常常到学校没人的角落大声朗读，并努力克服自己的羞怯心理，与英语专业的学生对话，到英语角找留学生练口语。为备考英语四级，他买了大量书籍，并制定了严格的学习计划，坚持每日到图书馆完成英语学习任务，从单词到句型，从阅读到作文，摆在他面前的学习重任就像一块硬骨头，他就一点一点地啃。语言学习的过程往往很枯燥，在其他同学享受着休闲时光的时候，他却在图书馆里埋头苦读。作为一名体育生，他对自己的文化课成绩要求近乎严苛，他相信别人能做到的他一样能做到。第一次参加大学英语四级考试，他只取得了380分的成绩。沮丧之余，他继续努力。第二次参加考试，他依然没通过，然而他没有灰心，一如既往地复习练习，第三次，终于以435分的成绩通过了英语四级考试。也许，这个分数对其他专业的同学来说仅仅是飘过，而对于他，却是成功地挑战了自己。上半年，他又参加了大学英语六级的考试，尽管获得396分，没有通过此次考试，但他依旧信心满满，继续备考，期待着下次获得满意的成绩。
偌大的东师图书馆让他向往，让他敬畏。这座图书馆，是他汲取知识和力量的地方；是他思考人生的地方；是他追逐梦想，追逐希望的地方。每次在高强度的训练过后，他都喜欢来到这里，一个人静静地享受午后微醺的阳光，在图书馆的一个角落，看以前想看却一直没有时间看的书，和考研的师哥师姐探讨学术难题，思考他的大学生活，陶冶情操。他想用知识武装自己，充实自己。图书馆，让他徜徉书海，品味人生。
一分耕耘一分收获。大学里，他连续三年获得年级综合排名第一、连续三年被评为“优秀学生”称号、连续两年获得国家奖学金、一年校长奖学金、学有专长奖学金、教学技能奖学金。
作为武术专业的学生，他多次代表学校到各地做武术表演，传承中华文化。为了推广武术文化，他坚持带领全院师生在早操时间练习八极拳。另外，他还协助老师，在多场武术比赛中，承担执裁工作。“拳不离手，曲不离口。”习武之人，冬练三九，夏练三伏。一招一式，无不浸透着汗水，刀枪剑影，无不凝结着武术人的心血。进入大学以来，他连续两次获得“中国大学生武术锦标赛”陈式太极拳全国第五名的好成绩，在体育学院教学技能评比考核中获得了“年丰金哨奖”。此外，他利用业余时间，考取了全国武术段位制巡讲活动指导员国家资格证书、武术和跆拳道社会体育指导员国家资格证书、全国信息技术应用培训教育工程职业技能证书，获得了武术四段的殊荣。 大三的寒假，他有幸参演了“国家文化部艺术基金”组织的大型武术表演“武艺春秋”。为保证演出效果，整个寒假期间，他坚持每天早八点到晚九点三次在校训练，在春节期间回家休息一周后，又匆匆赶往学校排练，数九寒冬时节却经常挥汗如雨。台上一分钟，台下十年功。为学校赢得荣誉的那份自豪感，让他忘记了所有的辛苦和伤痛。 
  苑城睿深知作为一名未来的体育教师，必须掌握过硬的教学技能。他认真学习教学教法，苦练教学基本功。在2016年举办的东北师范大学“教师技能大赛”上，他表现出色，获得了体育学院“教师技能大赛”第一名、东北师范大学“教案设计、说课大赛”获优秀奖、东北师范大学“教师技能大赛”小组决赛获第一名、东北师范大学“教师技能大赛”总决赛获三等奖、最佳课堂组织奖的殊荣。
大学期间，他还竞聘进入院学生会，成为一名红烛志愿者。作为一名预备党员，学生会干部，他以身作则，积极为老师和同学服务。他甘为人梯，甘为红烛，在细微的琐碎小事中为他人带来便利，。在服务他人的同时，他体会到了为争取班级荣誉时，团队协作的乐趣，收获了个人的成长与历练，体尝了团队分享与协作的喜悦！
天道酬勤 扬帆远航
三年多的大学生活，让他感到忙碌与充实，体验到了付出与收获的快乐。感谢东师大给他学习的机会，感谢武术专业给他施展才华的舞台，感谢领导老师的辛勤培养，感谢同学们的团结友爱。
东师就像温暖的太阳，让每个人都沐浴着它圣洁的光辉。他所在的寝室多次被评为“优秀寝室”、“标兵寝室”。接受了《东亚财经新闻》的专访，新闻稿被刊登在头版头条。是东师的厚德载物，让我们厚积薄发。
“身心兼修 魂魄并铸”是东北师范大学体育学院的校训，更是一个习武青年一生追逐的目标。梦想的高度决定了生命的价值。每一次突破自我，都是为了让自己的青春拥有更绚丽的色彩。武功，一辈子修炼；武德，一辈子修行。既然选择了远方，便只顾风雨兼程！

 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
