
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>岳盈盈</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>		   
		     <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
				<img src="../public/images/pic/yueyingying.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>岳盈盈</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>经济学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>读研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p>                                                       非学无以广才，非志无以成学
岳盈盈,女,经济学院203级金融专业本科生，中共党员。在年级7人中综合排名第一，保送至中央财经大学金融学院。“全面发展，收获一个无悔的大学生活”是四年前岳盈盈为自己许下的诺言，四年后的今天，她从容兑现，无论是学习、科研还是实践，她都收获了一个全面发展的自己。
学习方面，岳盈盈本科期间曾获宝钢优秀学生特等奖提名、国家奖学金（3次）、优秀学生（3次）称号，她还在全国大学生英语竞赛中获得三等奖、美国数学建模大赛中获得三等奖；除了在学业上精益求精，在科研创新方面她更是付出大量心血并取得丰硕成果，大学期间，她曾成功申请三项国家级大学生创新创业训练计划项目，一项中央高校基本科研业务本科生项目，两项校级科研项目，发表过一篇核心论文和一篇国家级论文； 实践方面，岳盈盈曾担任校大学生创业中心副主任、院团委办公室主任等，曾获五四红旗团干部等荣誉称号。
学海无涯 天道酬勤
出色的完成学业是岳盈盈对自己的不变要求，自入学以来，她一直保持专业第一。“If you fail to plan，you will plan to fail”，她坚信制定合理的学习计划，安排好时间是实现有效学习的保证。初入大学时，因出于个人兴趣，她参加了许多社团和比赛，导致其不能有效遵守计划，觉得时间不够用，许多任务混杂在一起难以完成，“如何兼顾好学习与工作”成为一个困扰她许久的问题。经过一段时间的摸索与努力，她终于做出了高效合理的规划。岳盈盈发现若把该做的事情按轻重缓急分类统筹，然后按部就班，会省去很多不必要的烦恼，也能高效地完成看似艰巨的任务。比如，你今天有高数作业需要完成，有社团活动策划要写，明天有一个要去组织，那就先分一下轻重缓急，活动策划催的很急，并且寝室点就会准时停电，策划书撰写自然离不开电脑，那就应该完成受客观条件束缚最多的任务，完成策划书后应该去自习室完成高数作业。岳盈盈在学习上一直坚持“今日事，今日毕”的态度，知识学习尤其强调记忆的连续性，务必当天完成，而比赛可以在第二天中午准备。由于所学专业的特殊性， 需要阅读大量的专业书籍和杂志，时刻了解时事。从入学开始，岳盈盈就没有午休，没有闲逛，每次上课她总是第一个去，最后一个走，白天奔波于社团和课堂之间，她就挤出晚上时间读书，每天图书馆十点钟闭馆她才回寝，回去之后还要再去自习室学习到凌晨一两点，这个习惯她一坚持就是四年，寝室的人都说“图书馆与自习室是岳盈盈的第二个家”。四年过后，她把图书馆里的专业书基本看了个遍，甚至对图书馆中专业书籍的位置了如指掌，每次去图书馆找书时，甚至都不用机器检索，直接来到那本书所在的架子旁，目光在架子上飞快地横扫一遍后，便可以找到自己所需要的书籍。
辛勤与汗水终于浇灌出了理想之花，岳盈盈凭借着对学习的浓厚兴趣和自己的不懈努力，打下了坚实的专业基础，大三学年更是取得了平均学分绩点5.07的好成绩，先后三次获得国家奖学金、宝钢优秀学生特等奖提名等多项荣誉和奖励，连续三年被评为校优秀学生、多次评为五四红旗团员、五四红旗团干部。206年，岳盈盈更以优异的成绩和出色的表现被免试保送为中央财经大学金融专业硕士研究生。
科研创新 勇攀高峰
“纸上得来终觉浅，绝知此事要躬行”。学习充实大脑，而科研提高能力，随着知识的增长，阅历的积累，热爱钻研的岳盈盈内心总有一种探寻其中奥秘的欲望。大学期间，她充分利用师大提供的各种平台提高科研创新水平。作为科研小组的组长，她主持了一项国家级大学生创新创业训练计划项目《大众参与股权众筹影响因素调查研究—基于“大家投”平台的分析》，随着科研项目研究的步步深入，一些疑惑挥之不去：股权众筹作为一种新兴的互联网金融，大众对其认知度有多少？哪些因素对大众参与股权众筹有着至关重要的影响，又该如何定量分析？带着这些疑问，她和她的团队开始了进一步的研究。为了得到科学准确的研究结果,岳盈盈曾在一个星期内自学了空间计量建模方法,这是在研究生阶段才学的课程,为此她跑遍图书馆, 查阅大量英文文献,通过网络咨询远在美国的作过相关模型的老师同时自学软件编程,然而由于对软件操作并不熟悉,在输入数据建模后总是难以得到正确结果,看着满屏幕陌生的代码,她咬着牙,对照着教材一行一列地检查着错误,终于在第400多行的第30多列找到了错误所在,当正确结果输出时,她和她的团队喜极而泣。为了加快调研进度，疲惫的身体、微红的眼睛、挣扎的内心常伴随她度过一个又一个不眠之夜，整整一个星期,岳盈盈基本每天只睡一两个小时,就连吃饭洗漱时都在想着研究方法该如何改进,鲁迅把别人喝咖啡的时间用在写作上,而她是把自己所有的休息娱乐时间都用在了科研上，就连去年小年，岳盈盈为了赶进度都没有回家，当别人都回到家中和父母团聚时，她一个人默默地在图书馆整理几千份的调研数据、一遍又一遍地进行着实证检验，这期间有过失落、沮丧和孤独，但她知道她不能放弃自己的努力，更不能对自己“实现无悔大学梦”的诺言置之不理，她一直在坚持、在努力、在拼搏。成功不会亏待敢拼敢搏的勇士，终于她和她的团队用自己的努力出色地完成了此项课题，研究成果得到了老师的高度评价，项目也最终获得优秀结题。
除此之外，她还曾参与另两项国家级大学生创新创业训练计划项目、一项中央高校基本科研业务本科生项目立项，两项校级科研项目立项并优秀结项，也曾跟随指导老师进行省级科研项目的结项工作。上网查资料，请老师指导，到图书馆借阅书籍，自学数据分析软件，查阅前沿国际期刊……虽很忙碌，但时有收获和惊喜，尤其在完成一项任务的时候，岳盈盈有很强烈的成就感，正是这种成就感不断激励和鼓舞她继续向前。在这一阶段，岳盈盈协助老师在经济纵横（CSSCI）上发表一篇论文，同时也以第一作者身份在国家级期刊上发表另一篇论文。在这些科研项目中，岳盈盈深知学无止境，要想做好科研一定要不断钻研，同时科研是团队合作的结果，是集体智慧的结晶。她很庆幸，东北师范大学拥有这么多优秀的教师，是他们在她迷茫的时候点拨了她，她也庆幸，东北师范大学拥有这么良好的学习氛围，也正是在同学们的带动和竞争之下，她才拥有这么充实丰富的科研经历。
修身塑己  埋头苦干
适应时代发展，立志成为时代栋梁，就必须有十八般武艺，在学好专业知识与做好科研的同时，岳盈盈在学生工作中也做得十分突出，踊跃参加各项活动，她曾先后担任经济学院团委办公室主任、校大学生创业中心副主任等职务，既丰富了同学们的生活也锻炼了自己。
在担任学生干部期间，她充分结合学校、学院的实际情况，结合所在部门的职能，举办了一系列创业就业活动例如东北师范大学校园模拟招聘大赛、第七届巅峰营销大赛、第四届创业计划大赛等活动，让同学们在学习之余充实自我，增加求职创业经验，享受活动带来的喜悦之情。
 “非学无以广才，非志无以成学”这句箴言，她时刻铭记。回顾大学四年，一路走来，成长的串串足迹，遭遇的种种苦难，岳盈盈学会了从容面对，明白了不仅要时刻铭记内心理想，还要用勤奋与学识去实现理想。多少个日日夜夜孜孜不倦地埋头书卷，多少次挫折的历练，换来了她今天的全面发展，换来了无悔的大学四年！但成绩已属过去，如今的她，一定会十分珍惜进一步深入学习的机会，坚定理想，带着母校的期许与鼓励，在成长成才的道路上继续坚定向前！
			</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
