<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>孙铭徽</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/sunminghui.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>孙铭徽</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>外国语学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送北京大学研究生
</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p> 不经一番寒彻骨，怎得梅花扑鼻香
   孙铭徽，中共预备党员，东北师范大学外国语学院英语系2013级本科生。现任外国语学院首届基地班班长，已保送至北京大学读研。
连续三年获国家励志奖学金、校长奖学金及“优秀学生”称号；校级特别资助对象；参加国家社科基金、吉林社科基金和国家级大学生创新训练等科研项目，主持学院科研立项，在学术期刊发表过两篇论文。
生如逆旅，一苇以航
   父亲的滋味，她从小便不曾体会。偶尔提及时，母亲只是愤愤地说着“人心易变”。被父亲抛弃的经历，也为她的童年抹上了一层阴影。为了养活这个家，患有严重心脏病和腰椎疾病的母亲，同时兼职三份工作：给牛奶公司打工，天不亮就起床去偏僻的小区送奶，营养不良的她却不舍得买一袋来喝；白天去洗车场当擦车工，冬天那皲裂的双手显示出这是一种怎样的折磨；到了晚上又会去酒店打杂。而母亲拖着病体所挣得的微薄工资，也仅仅勉强让全家人支付房租、填饱肚子。初中以前，她所拥有的最贵的衣服就是小学校服。然而，祸不单行，高二那年，姥姥突发脑出血，中风偏瘫在床，生活无法自理；去年姥爷又被诊断为肝癌晚期，做完手术后更是虚弱，至今仍靠价钱高昂的药物维持生命。
但是，她相信，物质上的贫困，永远无法磨灭精神上的丰盈。在国家助学金政策的支持下，她顺利完成高中学业，并在高考中取得了全市第五十名的好成绩。 6000元的国家助学贷款，也让她离梦想更进了一步。
博观约取，厚积薄发
坚持和恒心可以克服学习上的困难，而身体上的病痛却反复的折磨她，让她苦不堪言。高考之后，母亲决定带着一直在强忍腰痛的她去大医院进行检查，结果显示生理曲度变直，椎管继发性狭窄，腰椎多发性末梢神经炎。雪上加霜的是，大夫说她的骨质密度很低，稍不留神就可能会骨折。在家里躺了两个月之后，她毅然决定上学，只因不忍让刚刚燃起的希望因病痛而破灭。
由于小时候学习条件有限，接触英语较晚，家里又没有钱支付补课班的费用，所以她的英语口语非常不好。刚上大学，从来没有学过英语音标的她，上语音课恍如听天书，被室友抱怨到听她的发音就是折磨。不会发音，就一遍遍跟着录音练习；舌头不灵敏，就风雨无阻的等在外教门前。终于，她的语音终于有了质的飞跃，大二参加了全国英语口语测评考试并通过。
凭着这份勤奋刻苦、认真钻研的精神与扎实的专业基础，大二学年，她得到了承担导师的国家社会科学基金部分工作的机会。那段日子，长春异常的寒冷，寒风肆虐，而她的腰疼病恰恰在这个时候加重了。时间紧，任务急，白天课程全满，晚上整理并转写学生口语语料，到了周六日又要去做四个家教。同学甚至开玩笑的说，如果周末能见到她就是奇迹了，因为她不是在做家教，就是在去做家教的路上。由于学生水平不同，她拿到的学生口语语料质量也是参差不齐。一遍两遍没听懂，就再听三遍四遍；转写细节繁琐，就列清单确保每个步骤无误；几百份的语料，每一份都重复着“听懂-转写-检查-标注-再检查-导出”的过程；“累并快乐着”是她当时最真实的写照。与此同时，她还利用空闲时间与学院顶级语言学教授交流，定期阅读英文专著和学术论文，旁听硕博论文开题和答辩会。
语言学基础打牢之后，她便更多的参与到老师的研究项目中去。她协助老师完成吉林省社会科学基金项目，并作为第一作者在学术期刊发表论文。同时，她和同学们申请到国家级大学生创新训练计划，历时一年，从选题到最后的结项，她们四个人团结一致，甚至在大年二十九的晚上，她们还在视频总结现有研究的不足，讨论研究的下一步走向。最终，凭借她们的不懈努力，该项目收到评委认可，被评为“优秀项目”，并发表论文。
在学生工作上，她被推选为外国语学院首届基地班班长并担任至今，和学院的老师、同学们一起从容面对新成立的基地班所面临的“阵痛”：成立之初的基地班，由于没有过多经验可以借鉴，出现了选课、学分、教师配备、学习任务分配等各种问题，一方面有些同学对基地班认识不深，存在疑惑和顾虑；另一方面基地班任课教师对基地班学生的具体需要也欠缺一定了解。所以课上课下都存在一定的沟通合作等问题。作为班长，她深知自己责任重大。在学院领导和辅导员的帮助下，她组建了首届基地班班委会，班委之间分工明确，而班级的学术科研氛围也越来越浓厚。最终，班级的20人中，10人成功保研至北京大学、南京大学、北京外国语大学和中国人民大学等各大高校。
在社会实践上，在埋首书本苦学理论之后，她明白理论与实践的有机结合非常重要。作为队长，她带领团队完成“城乡高中英语教师教学方法对比研究”项目，与团队中其他八位队员，克服物质上的困难，深入到黑龙江省、四川省、山西省、河南省和河北省等七个省市的城市和农村学校中去，与高中英语教师近距离接触，深入观察，利用录课、问卷调查、访谈等多样化方式探究城市高中与农村高中英语教学方法的特色，团队一行人劲往一起使，最终她们被评为2015年度校暑期社会实践优秀团队。
师大的恩情，让她没齿难忘，也给了她继续向前的勇气与力量。
选择远方，风雨兼程
得知取得保研名额后，她马不停蹄奔赴各大高校。最终，她以总成绩第一的身份获得厦门大学外文学院“优秀营员”称号；获得中国人民大学推免资格；北京外国语大学总成绩第三名；以及中国文科最高学府----北京大学的录取通知。得知好消息的一刹那，她的泪水夺眶而出，天知道，这份沉甸甸的荣誉，凝聚了多少人的汗水与艰辛，又让多少个期待的面孔感到欣慰。
犹记得去北大参加保研考试前夕，接连两个月的高强度复习让她的椎管再度发炎，甚至一度出现了跛行的情况。不知道吃了多少止痛药之后，刚刚好转，却又因为大幅降温而感冒高烧。她所报考的北京大学外国语言学及应用语言学专业，全国保研只招收4人，而这个专业每年在世界范围内招收的研究生数量也不过8人。身体的病痛和精神的高压一度让她想要放弃。但是她永远忘不了在这个她最脆弱的时刻，学院老师打来电话问她保研进程，并细心嘱咐她面试时候应该如何穿衣、如何与老师沟通。而接到从家中打来的电话，远在家乡的母亲、姥姥、姥爷焦急的声音中所饱含的关切更是藏不住。那一刻她泪如泉涌，因为她知道她不是一个人在战斗，为了那些爱她关心她的人，她必须勇敢的踏过前方的所有荆棘。
古语有云，天将降大任于斯人也，必先苦其心志，劳其筋骨，饿其体肤，空乏其身，行拂乱其所为，所以动心忍性，增益其所不能。她不知道自己最后是不是能达到“增益其所不能”，但她明白，能够到达金字塔顶端的只有两种动物，一是雄鹰，靠自己的天赋和翅膀飞了上去，有另外一种动物，也到了金字塔顶端，那就是蜗牛。她相信蜗牛绝对不会一帆风顺的爬上去，一定会掉下来，再爬，掉下来，再爬。但是，蜗牛只要爬上了金字塔顶端，它眼中所看到的世界，它收获的成就，跟雄鹰是一摸一样的。所以生命的起点由不得自己选择，但是生命的终点是自己决定。
未曾清贫难成人，不经打击老天真。自古英雄出炼狱，从来富贵入凡尘。The world has kissed her soul with its pain, asking for its return in songs. 生活以痛吻她，而她报之以歌。无数次，当黑夜来临时，她的眼前便会浮现在冬天母亲那双由于擦车而皲裂的双手。是的，她曾因出生于单亲贫困之家而抱怨、而落泪，但是，她永远相信梦想的力量，相信努力的意义，相信命运给了她一个比别人低的起点，不是嘲笑她，更不是抛弃她，而是给她机会，让她用尽这一生，去奋斗出一个绝地反击的故事！
			</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
