<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>张皖雄</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="#">网络投票</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhangwanxiong.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>张皖雄</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>传媒科学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>1+3支教团</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>志愿服务、品德高尚</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>没有梦想，何必远方
    张皖雄，男，汉族，中共党员，传媒科学学院2013级本科生，传媒科学学院第13届学生会主席，东北师范大学第41届校学生会宣传部副部，东北师范大学第18届社团联合会常务副主席，保送东北师范大学第19届研究生支教团。
笃行坚毅，做尽责的传媒人
回望大学，一路遭遇过很多坎坷，偶尔也会面对一些质疑，身边很多朋友常常会问他：“你学传媒的专业以后能干嘛呀？去电视台无非也就是跑龙套送盒饭吧”，“现在的媒体，只会炒作！”......面对形形色色的问题，不禁使张皖雄感到迷茫，甚至有时怀疑学习专业的意义何在？而一次特殊的活动，让他对自己的选择更加坚毅！
大二时担任校学生会宣传部副部长的他，参与组织了“守望星——关爱自闭症儿童”活动，并拍摄公益短片，短片讲述的是一群自闭症儿童的日常生活，还有一直默默坚守这些孩子的家长、老师和热心群众。他说：“这些孩子看上去同正常的小孩儿并没有什么差异，只是语言、交流有些障碍，兴趣范围有些狭窄、而且有的“高功能孤独症”儿童，其智商跟正常孩子比没有任何区别，甚至强于后者，给我印象最深的是在幼儿园有个小男孩，他的智商超高，可以说是神童，随意问他任何一年的某月某日，他都会在几秒钟内准确告诉大家那天是星期几，除此之外，这孩子还在数学方面有很高的天赋。”这些孩子不被大众所熟知，却又对生活充满了无限希望。他发现，孩子们最纯真的模样、家长们殷切的期望、爱心人士无私的奉献，这些都可以通过他的镜头、用蒙太奇方式让更多的人关注、关心、关爱这一弱势的儿童群体，他突然对所学的专业有了更真切的体悟！短片在长春电视台等主要媒体及活动现场播放，并收到了长春市朝阳区人民政府的感谢信，这让他发现，能用自己的镜头去捕捉那些容易被人们忽视和遗忘的瞬间，用蒙太奇的手法去讲述身边最平凡、最真实的故事，用最直接、最通俗易懂的方式去传播正能量。能将自己的专业知识，化作公益的力量，并将它传播出去，感染别人，这正是作为一名传媒人，一名当代大学生，最有意义的事！
无悔青春，做奔跑的少年
   如果用一个词来概括张皖雄的大学四年，就是“奔跑”！他常说：“路虽远，行者将至；事虽难，做则必成。”连续三年专业成绩排名前10%的他，还不忘提升自己的科研能力，组织参与5次校级科研项目，并主持“电影中主题曲的运用研究——以日本电影为例”的国家级大学生创新创业训练计划项目，先后在国家级、省级刊物上发表论文3篇。在大学期间，参与拍摄影片、纪录片等专业性实践10余次，并在本专业联合创作中担任制片人。四年来，奔跑于图书馆、教学楼，立项、结项评审会和各个拍摄地点的他，忙得不亦乐乎，但却在“奔跑”中感受成长的快乐。各项学生活动中，也都有他忙碌的身影，从默默无闻工作的小部员，到敢于担当的学院学生会主席，再到追求卓越的学校社团联合会常务副主席，他在“奔跑”中，在风雨兼程中收获满满。
大学四年，他在不停地奔跑着，从院学生会到校学生会，再到校社联，岗位在变，但他服务同学们的心却始终没有变，他只是坚持，为大家多做一点，再多做一点，甘做沉默的砥柱，坚毅执着地寻求方向，他——是一直在奔跑的少年！
曾几何时，他认为“顺利毕业”、“多拿奖学金”、“当学生干部”就是大学里最值得骄傲的事，在担任学生工作期间，他更加了解身边这些优秀的东师学子！自强不息、热衷公益、扎根基层，支边从教，一个个平凡的故事、一例例身边的典型，让他逐渐明白和坚定，大学——不应是为了一张满意的成绩单，一摞闪亮的获奖证书，一个高薪的就业机会，而是在大学四年的时间里，做有价值的事，不计较得失，不在乎名利，只为若干年后无悔于自己对青春的奋斗和坚持！
无论是书本学习、专业实践，这些宝贵的经历也让他对公益事业有了更加深刻和全面的认识，然而当和很多人谈论起这些问题的时候，大家给他的反映是：哎呀中国这么大，总有人会站出来献身的......是啊，中国这么大，每当他听到别人的这种回答，就好像心弦被拨动一般，他在心里面对自己说：中国这么大，我要站出来，回报学校，回报社会。
立志从教，圆最初的梦想
“大学之道在明明德，在亲民，在止于至善。”从最开始对专业的质疑，到参加公益活动，将自己的所学运用到实际中，感到快乐，并一直乐此不疲的坚持着，这一路走来，跌倒过，站起过，质疑过，坚持过……最终收获的是感恩的情怀。可能受工作，学习或是家庭的影响，他有一个教师梦，并且一直坚持离这个梦想近一些，再近一些。四年的努力，张皖雄的综合成绩在本专业72人中名列第6，而他却毅然决然地放弃了直保的名额，选择保送研究生支教团。很多老师和同学都在问他“为什么”，而他的回答却只有一句：“因为梦想，所以坚持！”
出身于教师家庭的他，从小对教育事业耳濡目染，“勤奋创新、为人师表”的校训，也深深地流淌在他的血脉里，冯志远老师是东师人的骄傲，也同样是张皖雄所准寻的方向。四年学生干部的历练、自身的专业技能、承担的社会责任和对教育事业的热爱，当面临毕业去向的选择时，他好像一时变成了莎翁剧中的哈姆雷特，碰到了To be or not to be——that is the question，在人生的岔路口上，他放弃了安逸的保研生活，而是选择到祖国最需要的地方，当面临很多人的不解时，他仍坚定的相信自己的选择是无怨无悔的，大学前三年，让他深知作为一个传媒人，更是一名东师人，一直感染着他的是一种传承，那就是东师精神，这让他明白自己的使命，尽自己所能去帮助那些被人们忽视的群体，用自己的语言和方式，让更多的人关注那些山区里的孩子，这才是他一直追求的奔跑的方向！每当夜幕降临，仰望星空时，他就会想到在世界的某一个角落，还有一双双渴望知识的、纯真的目光同样也在注视着这片夜空。他不禁对自己提出了更高的要求，渴望阅读更多的经典来陶冶和提升自己，渴望将心灵沉淀、做一个更有内涵的勇者，渴望用一年不长的时间，做一生难忘的事情，用心灵选择，让青春无悔。
地平线的那一端是太阳的梦，长成参天大树是小苗的梦，秋实成熟是花儿的梦，为明天的辉煌而拼搏是东师学子的梦。
有梦才会有远方，才会有为目标和理想奋斗的勇气。“现在，青春是用来奋斗的；将来，青春是用来回忆的。”支教助学，他已准备好，接受这神圣的使命！
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
