<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>张  仲</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhangzhong.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>张  仲</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>化学学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>没有伞的孩子必须努力奔跑
   张仲，男，化学学院2013级的本科生。曾连续获得三年国家奖学金；曾任专业课课代表以及厚普公益学校初中化学组教师，聘期三年；曾以坚韧的毅力、乐观的精神战胜病魔肺结核……自始至终，艰苦奋斗，自强不息，三年来一千多个日子的坚持都源于他深知：没有伞的孩子必须努力奔跑。
家遭巨变 贷款入学 树立理想 励志成才
三年前的初秋，他背着书包，拿着奋斗了三年而得到的大学入取通知书，身负贷款来到了东北师范大学。回想三年高中生活里发生的点点滴滴，他的心里没有好奇、没有幻想，只有一个念头——好好学习、出人头地。
高中三年，往事不堪回首。家遭巨变，父亲创业屡败屡战，家无余财以致房无一间、地无一垄。那年，父亲没有工作，靠开三轮车拉脚求生计，每天接送他上下学，他不曾自惭形秽；那年，他在家看书，手指冻得没有知觉，却也不曾抱怨；那年，家里借钱过年，除了春节的一些必需品外，只给他买了几个苹果；那年，家里桌上两样饭菜，他吃一样，父母吃一样；那年，他身患肺结核，在家养病两个月，回到学校只能坐在最后一排，却在那年期末考得班级第一名；那年，他学习和父亲干活共处一室，干活时嘈杂的声音是他学习的一种陪伴……他深知自己是一个没有伞的孩子，只有努力奔跑才能不被淋湿，只有好好学习才能改变命运。他相信，虽然自己不能决定自己的出身，但是可以决定自己的未来。
三年一日 艰苦奋斗 刻苦学习 不忘初心
进入大学的三年来，一千多个日子，每天除了上课和必要的活动，都会泡在图书馆，即便是寒暑假，他也未曾放松。看似乏味单调的日子对他来说这却是一种充实、踏实。
大一时，每当写作课下课后，他总是跑到图书馆在别人吃晚饭的时间，再预习一遍《大学物理实验》，担心不会操作而不能顺利完成实验。实验下课后，他又匆匆回到图书馆学到九点，才会收拾书包来到北苑食堂买一份早已变凉的饭菜，胡乱吃过，再回宿舍。大二时，那年冬天很冷，他因劳累过度结核病复发，所幸发现较早没有发生什么大事。他坚持打针吃药很久，却还是保持一往无前的初心继续奋斗，没有丝毫松懈。
三年来，他付出了很多。但是天道酬勤，他收获了他曾经不敢想象的成绩。高等数学100分、大学物理、结构化学各98分、物理化学96分……三年的国家奖学金、三年的优秀学生荣誉称号……英语等级证书、计算机二级证书、教师资格证笔试面试的通过、从大一的一纸入党申请书到现在中共党员……从对实验的一无所知到现在的SCI论文第二作者在投……他无论从思想上还是知识和能力上， 都取得了很大的进步。如今，他正以坚定的信念迈向他人生的下一步——保送东北师范大学化学学院。很多不理解他为什么会留下，但是他心里清楚，心存感恩的人才会走得更远。
餐厅实践 志愿厚普 经济独立 自强不息
身负贷款来求学的他，深知自己的压力很大。为了减轻家中经济负担，在辅导员老师的帮助下，成功申请了中国肯德基曙光基金，获取助学金两万元，同时参加肯德基餐厅实践，挣得的工资也为家里减轻了很大的负担，基本上经济独立。另外，在课外时间还会进行一些家教工作，在锻炼自己的同时也补贴了一部分自己的生活费。
除了努力学习和工作，他还是东北师范大学厚普公益学校初中化学组的一名志愿教师，三年来周周备课以及八节正课让他知道了生活中志愿奉献的快乐与意义。当他捧着三年的聘书结束了这段志愿生活，心里还时常想起当年的孩子们，或许他们现在也发生着他身上类似的故事，书写着他们自己的人生篇章。
工作之余，他还是一个人爱生活的人。他喜欢读书，甚至偶尔还能写下一两句诗。记得一次黄昏雨后，天空一片金黄，面对此景，心胸为之一开，精神为之一振，于是写下了下面四句：楼外连珠雨意浓，廊前烟柳醉其中。云开万里金光软，人间空巷仰天宫。表达自己也想独步天宫，人间万姓仰头看的豪迈胸襟。除此之外，他还喜欢书法，小楷的帖子临摹起来也是一丝不苟、笔笔精工……
三年来，在学习上，他解开了多少习题他早已经不记得，他为同学们解答了多少疑问，他也不记得了。他只知道，解开大家的疑团就好像扫除乌云再睹青天，大家高兴，他也高兴……
如今，往事如风早已经远去。留下的只是岁月涤荡过的澄澈而坚定的心灵。三年来艰苦奋斗、自强不息，使他在今后的人生路上步伐更加坚定、理想更加崇高。在他的心里，他永远铭记：没有伞的孩子必须努力奔跑。
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
