<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>张茜</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhangqian.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>张茜</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>文学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>就业</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
			<p> 天寒路远，以梦为马
张茜，女，文学院汉语言文学公费师范2013级本科生。三年专业排名年年级第一，学分绩点4.38。曾获国家奖学金、校长奖学金（两次）、叶圣陶奖学金、明德奖学金（两次）、优秀学生（3次）、五四优秀志愿者、五四红旗团员、五四优秀团干部等称号、东北师范大学2015年“优秀学生百人团队”称号、公派海外留学奖学金、社会工作奖学金、美德风范奖学金、教师技能奖学金、东北师范大学第二十三届教师技能大赛二等奖等。曾任厚普学校语文教师、文学院红烛副会长、台湾东吴大学崇德志工社老师、明日乡支教老师等。
之所以选择公费师范的专业，她说，我愿意做一个点灯的人，做一个浇灌梦想的人，愿意做一个传递知识的人。
学高为师
因为对于教育的热爱，她勤奋努力，只争朝夕。
“学霸”，是大学里面大多数同学对她的称呼，叫的人很轻松，只是一个代号，而被叫的人却知道这个称呼的背后是什么。
谁也不能随随便便成功，它来自彻底的自我管理和毅力。文学院的专业课尽管不像理工科挂科率那么高，但是要想取得优秀、要想保持第一，还是很难的。文学院的专业课很灵活，既要求对于课堂上老师讲授的知识熟练掌握，还要求拓展知识面，延伸知识深度。一个问题，既要知道古今中外的人都是怎么理解它的，又要对于这个问题有着自己独特的见解，同时还要知道这个问题它背后联系着什么其他的问题。比如，很短的一个问题：你怎样理解“作者已死”？这个问题绝对可以专门写一本书论述，那么你如何在有限的时间内调动你所有的知识，又怎样筛选重组，同时还要突出你自己对于这个问题的见解，最后还要书写工整、详略得当。专业课能够保持极高的优秀率，所凭借的是大量的阅读和坐定冷板凳的决心，而这一切正是源于张茜对于自己“够狠”，她始终坚信，如果足够努力，又不比别人傻，凭什么不能成功？
大一学年的时候，她曾经摔伤过一次，医生建议卧床休息一个月。她只休息了两个星期，每天借舍友的笔记，自学专业课程，在老师不作要求的情况下完成作业。大二社团常常需要写策划，凌晨三点写完，七点赶去上课。大三在台湾修宋词研究，对于词的押韵和乐调一窍不通的她，再加上繁体字的书写障碍，硬是每天早上五点起来自学，最终取得了96分的成绩。大学四年她待过最长时间的地方就是图书馆，大多数时间都是寝室—教学楼—图书馆三点一线。哪怕是冬天最冷的时候，也坚持从三舍赶去图书馆。她见证了图书馆从学期初的清冷到学期末的爆满，见证了大量图书从无到有，见证了现当代文学作品从三楼中间书架移到了后排书架。在图书馆里，她最常做的就是一边看书一边做笔记，要不就是绕着走廊默默背书。因为勤奋，所以突出。
早起读书，她见过晨光里静静开放的荷花；挑灯复习，她见过夜空中缓缓落下的雪。老师要想给学生一杯水，自己得先有一桶水。她愿意为了这“一桶水”，只争朝夕。
因为对于教育的热爱，她充分感受和领悟本来完全不感兴趣的知识，享受学习。
她阅读费劲的大部头书籍和理解基本的政治观点的能力，还有她对颜色与形状、旋律与和声的敏锐性，都得到了提高和深化。正是抱着这种态度，她对待每一节选修课都特别认真和享受。现代美学创意课上，她用精致的幻灯片和独特的美学感觉展示自我；应用摄影课上，她背着大单反在烈日下取景；现代小说课上，她特地冒雨参加台北市作家沙龙。在台湾国立图书馆参加华文论坛的时候，她彻夜阅读了与会作家的作品，涉及文学、历史、政治、哲学，几乎一夜未眠，第二天却仍然心智高昂，听到会议上大家侃侃而谈，听到其他听者精彩的发言，一边做笔记，一边默默地思考，她想，原来学习这么有趣。
因为对于教育的热爱，她结识到志同道合的朋友、见识到更多优秀的人才并努力向他们靠拢。
在大二的时候，和一群志同道合的同学一起参加大学生科研项目，他们对于近二十年来反映在文学作品中的我国城乡问题十分感兴趣，以自1995年以来的六届鲁迅文学奖获奖短篇小说中的有关城乡题材的作品为例，通过分析这些小说的叙事情节、隐含作者、叙述视角来透视其中的思想价值，并且把握住时代脉搏，和社会大背景以及主旋律相接，发挥文学在社会中的指导价值。选题《鲁迅文学奖城乡题材短篇小说的思想价值初探——从叙事情节、隐含作者、叙述视角入手》被批准确立为东北师范大学2015年度“中央高校基本科研业务专项资金”本科生一般培育项目并顺利结题。
身正为范
因为对于教育的热爱，她用足够的时间和实践去认真思考人生怎样度过，怎样的人生是有意义的。
尽管学习已经如此紧张，张茜还是参与了各种志愿实践活动。大一刚入学，她就加入了文学院红烛志愿者协会。三年来，从一个普通的社员到副会长，不变的是红烛“燃烧自己，奉献他人”的志愿者精神。她还记得那些熬夜写策划的日子，一个电脑的电量都不够用，必须要再背出一个电脑来，有时候写策划到凌晨三点，第二天七点再早起去上课。大二开始成为厚普公益学校的语文教师并获得了“优秀教师”的称号。两年来没有周末休息，一遍遍写教案、每周集体备课，最终成为了她最美好的回忆，最难得的经历。大二暑期，她随明日乡支教团远赴河南平顶山郏县王平庄小学进行为期二十天的支教。她是一年级的班主任，第一次当班主任，累。早上不到六点起床，中午牺牲午休陪孩子们，晚上最后一个走出教室。大三上学期，她到台湾东吴大学公费交流学习。在台湾期间，别人在环岛游，而她却在崇德志工社为台北市士林中学的孩子们上课。
因为对于教育的热爱，她有机会释放自己的能力，用实践去检验她的梦想。
在学校的教师技能大赛上她以苏轼的一首《定风波》获得了二等奖，很多人都夸她讲课讲得真的很棒，好像蕴涵着很大的能量，在讲台上一下子全都爆发了出来。她是这样说的：“为了讲一堂课，我可以查阅几十篇论文，翻看几十篇优秀课例，观看各种教学视频，改写数十遍教案，连续几个星期练习，直到把这篇课文烂熟于心。”
今年九月份她去内蒙古实习，实习学校的指导老师这样评价她说：“我真的很心疼你，因为教师这个职业太辛苦了，可是我又真的很感动，年轻人对教育有着这样的热心，让我觉得后继有人。”
回眸过往，独上高楼，上下求索，寻梦。放眼今朝，穿漫漫长路，不悔衣带宽。一路走来，天寒路远、诸多不易，但是以梦为马、不忘初心！
</p>
			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
