<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>郑媛渊</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhengyuanyuan.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>郑媛渊</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>商学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>留校读研</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>志愿服务、品德高尚</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>饮水思源情系志愿
郑媛渊，来自商学院2013级人力资源专业，现任东北师范大学红烛志愿协会第二十三届副会长，保送至东北师范大学商学院企业管理专业。
曾获国家励志奖学金，学校励志奖学金，“美德风范”奖学金，“优秀学生干部”奖学金，连续三年被评为“优秀学生干部”，并获得“五四优秀团干部”，“优秀志愿者”荣誉称号。作为项目核心成员，所参与的“笨小孩”“仲夏的希望”两志愿项目，均获得第二届中国青年志愿服务项目大赛银奖。所发起的“美丽说”关爱女性志愿服务项目，在第三届吉林省青年志愿服务项目大赛中获得了第一名。
心怀感恩，结缘红烛
她，一个来自四川农村平凡的女孩，父母都是小镇的普通工人，从小父母就教育她“做人要朴实，做事要踏实”。父母的艰辛让她深知只有知识才能改变命运。2013年，参加高考，这是很多寒门子弟能打开出路的唯一方式，而她所在的县城每年只有20人能读一本大学，可想这其中的艰难。厚积薄发，天道酬勤，她最终成了那20名优秀者其中的一员。当知道自己被东北师范大学录取时，她和父亲都双双留下热泪。一个从来没有出过省的女孩，就这样独自一人跨越半个中国，从一个偏远的小山村来到这片广阔的黑土地上，开始了她全新的大学生活。
父亲患肝炎已经20余载，母亲身体孱弱，上大学的她不希望父母再为她过多辛劳，所以她申请了国家资助。再回想起2008年家乡发生的汶川大地震， “一方有难，八方支援”的精神也深深地震撼着她。作为一名受助者，一名资助对象，她深知自己受助于国家，自己也应有所为而回馈社会。怀着一颗感恩心她来到了红烛志愿者协会，加入青年志愿者这个大组织，并开始了她的志愿生涯。
不忘初心，坚守志愿
狄更斯曾说“世界上能为别人减轻负担的都不是庸庸碌碌之徒。”三年，她做过几百张志愿表格，写过大大小小的策划上百次，无数次在志愿后方和一线奉献自己的力量。不是没有想过放弃，谁都有心灵脆弱，精力疲惫的时候。但想起社区书记说过的“东北师大的孩子就是不一样，连志愿服务都做的这么好”；想起社区妈妈们和她一起做活动时，流下的感动的泪水；想起农村小朋友说过的“老师，我以后要像你一样优秀，也要读东北师大”……她又像有了前行的无限动力。
三年，她努力成为一名创新，纯净，优秀的青年志愿者，累计志愿服务时数超过1200个小时。将专业学习与志愿服务的融合起来，创建东北师范大学志愿者的绩效考核机制，填补了志愿者绩效评估的空白。携手朝阳区区团委推进绿色长春项目，植树造林，宣传环保文化。参与赛会服务，校庆典礼上，她作为首席志愿者，服务教育部领导，展现东师学子风采。
三年的学生工作，三年的志愿服务，让她在众人中脱颖而出，被选为第二十三届红烛的副会长。变化的是身份，不变的是坚守志愿的心。现在的她不仅是一名志愿者，更是更多志愿者的引领者，肩负着更多的责任。一个人可以走的很快，但一群人可以走的很远。她带领着志愿者们冒着寒风，坐着公交去往各个社区服务点，给社区的人带去温暖和感动。她并无所求，只想将自己接受的帮助与感动传递下去。希望下一代志愿者能心存善良，热心助人；希望贫困的小孩能志存高远，奋发图强；希望孤独的老人能感受到社会及中国新青年的关怀；希望特殊的残障人士能积极乐观，励志向前。
一路前行，终有收获
总会被问到学生工作、社会实践与学习冲突的问题。哪有什么天才，谁不想一边去逛街吃东西，一边学习工作样样不落。无非是把别人放松休息的时间，一一利用，白天奔走于活动之间，夜晚自习苦读，整理各种策划文案。是付出总有收获，利用专业知识创建志愿考核机制的同时，不仅从中得到专业理论知识的实践化发展，而且对相关理论知识有了更深层次的理解，最终也使她的专业成绩稳居前列。谁说鱼与熊掌不可兼得，找对方法，用心领悟，方得始终。
2015年，她作为项目组的核心成员，参与“仲夏的希望”农民工子女大学体验课堂项目的开展。带领百名农名工子女走进大学，她用自身成长的故事告诉孩子们，用拼搏与奋斗敲开梦想的大门。同年12月，此项目参加第二届中国青年志愿服务项目大赛，最终斩获银奖。
大二，一个偶然的机会，她认识了一个朴实的农村妇女，因为丈夫糜烂的生活致使她患上艾滋病。病痛，流言，巨大的心里与经济压力，使她在万般无奈下选择了自杀。从那时起，“女性”“社会”两词深深地烙在郑媛渊的心中。因此，她发起了“美丽说”关爱女性志愿服务项目。从女性的家庭，生活，健康多方面来关爱女性。意在走进女性，关爱女性，提高女性的生活幸福感。跨越长春市7大区域，她联合包括东风社区，农大社区在内的21个社区，共同来开展此项目。带领社区女性进行美容操的学习和表演，开展亲子运动会，邀请广场舞老师给社区妈妈们免费教学，给社区女性发放与女性利益切实相关的法律小册，为社区女性群众讲述健康常识并提供免费基础体检。整个项目的受益女性超过800人，受到社区及学校的高度赞扬。而此项目也获得了吉林省青年志愿服务项目“邻里守望”类的第一名。
手执红烛，继续前行
今年八月，中国志愿者协会首次提出“智慧的志愿者”这一概念。基于现实的情况，想为中国志愿服务的基础理论研究尽绵薄之力的她，放弃了保送研究生支教团的机会，决定深入探索女性权益保障。问及原因，她说：“支教确实是大学生投身公益事业的最大方式，但我更希望能利用自己的专业所学，为志愿服务、公益事业做更多的贡献。”她的话，更让人看到了一名当代大学生志愿者拥有的理性及专业价值。
她没有做过什么轰轰烈烈的大事，但每一份工作她都兢兢业业，每一次任务她都勤勤恳恳，每一次志愿服务她都用心付出。她做的事就像小水滴一样，一点一滴，悄然汇聚，最终蜿蜒地流过他人的心田，滋润着每一个受助者
三年多的志愿服务工作经历，让她明白平凡的付出与收获，也会让生命的颜色变得明亮绚丽起来。承担一份责任，给与一份关怀，收获一份感动。她始终坚信，即使不为人知，没有机遇闪现，她曾经做过的这些，也是她青春最美的光芒。手执红烛，继续前行，心存感恩，心怀志愿，这就是郑媛渊。
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
