<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>周子琳</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhouzilin.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>周子琳</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>物理学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保研至北京航空航天大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>以梦为马，奔驰在科研的马拉松
周子琳，女，21岁，中共党员，东北师范大学物理学院2013级本科生。她学习成绩优异，三年专业成绩在92人中名列第一，曾连续2年获国家奖学金，多次获校级奖学金、“优秀学生”称号等诸多荣誉；她竞赛表现出色，曾在物理专业的最高赛事——中国大学生物理学术竞赛中斩获“最佳女生奖”（近200名选手中仅3名）的殊荣，大一时便带领团队取得数学建模竞赛吉林赛区一等奖和校一等奖的不俗成绩；她科研能力突出，其带领本科生团队做出的研究成果曾获全国高校物理实验研讨会三等奖，并以第一作者公开发表了3篇文章，其主持的国家级大学生创新训练项目亦取得优秀结项；她还积极参加学生工作，从物院学生会副主席到党员工作站骨干，从6门课程的课代表到低年级生专业课助教，她始终坚持在不同的岗位上锻炼自己，服务他人。现如今，周子琳已保送至北京航空航天大学——师从“长江学者”郭林教授，继续从事她热爱的纳米科学研究。
孜孜以求 乐在学中 
虽然人们往往调侃物理专业是“课程难度大，男生打天下”，而周围学物理的女同学们毕业后大多选择去中学当一名光荣的物理教师，可周子琳却立志一心做科研。这个儿时仰望星空便好奇宇宙有无边际的女生说，她发现科研是她最大的梦想和乐趣，她应该勇敢逐梦。
谈及学习历程，周子琳十分感激学院在她刚入学时就为新生举办了好几场讲座，帮助她迅速适应了大学的学习生活。她还记得当时台上优秀的学长学姐们仿佛发着光一样侃侃而谈,给她带来的巨大震撼：深刻的专业知识、各种科研训练、国家奖学金、还有机会参加全国专业竞赛去和其他重点高校的同学探讨学术、碰撞思想！她发现大学里原来有那么多值得追求的目标，很快便走出了迷茫，全身心地投入到学习中去。     
为了给今后的科研事业打下坚实的基础，大一伊始，周子琳便坚持自学，赶在老师授课进度的前面，将学习内容提前完成，课堂上做到了“游刃有余”。课后周子琳便爱在图书馆4楼与书本里的物理学大师们对话，愈发为“物理之美”而由衷赞叹。连续三年的十一长假，当周围的同学们或回家过节或结伴旅游，周子琳都沉浸在图书馆四楼，每天学习不少于10个小时。尽管物理专业课程学习难度极大，但正确的学习方法加上发自肺腑的热爱，让周子琳三年来取得各类奖学金7项，并以优异的成绩在专业92人中排名第一。
竞赛争锋 不让须眉
“纸上得来终觉浅”，周子琳很注重锻炼自己的科研实践能力，并多次在学科竞赛中取得骄人成绩。其中，最让她难忘的便是代表学校参加第五届中国大学生物理学术竞赛（CUPT）的宝贵经历。CUPT从题目到模式均来自国际青年物理学家锦标赛， “从大一刚入学时，参加CUPT就是我的向往。所以尽管我听说过CUPT的难度，17道问题完全源自生活且未有定论；尽管我知道学院从来没有大一即能参加CUPT的先例，但我还是抱着尽力一试锻炼自己的心态报名了。”备战校内选拔的一个月里，周子琳抓紧一切时间看英文文献、做实验、进行数值模拟，不断找老师请教讨论，几乎天天过着“晚二朝七”的生活。她笑着说自己那时完全沉入其中，无时无刻不在思考物理的奥秘，经常梦见自己设计的实验成功了。“不疯魔，不成活”，从全英文的笔试到模拟对抗的复试，周子琳通过层层选拔，以出色的表现征服了评委，成为了物院第一位大一即取得CUPT参赛资格的选手。
此时距期末考试只有短短一个月，周子琳不敢过多喜悦驻足，就投入到繁忙的备考中。期末考试一结束，周子琳又立刻全身心投入到了8月末的全国比赛中。她为了不让自己成为团队的短板，从来都是到得最早、学得最久、问得最勤的那一个；饿了啃面包，实在困了便蜷在实验室的沙发上打个盹儿。
“苦心人，天不负。”夏季最热的时候，在华中科大的竞赛场上，泱泱男生中周子琳宛如一朵铿锵玫瑰，她胸有成竹地与来自北大、清华等38所重点高校的优秀选手展开了自由而激烈的学术辩论，赛出了水平，赛出了东师女生的风采，从近两百名优秀选手中脱颖而出获“最佳女生奖”的殊荣，成为东北师范大学第一位并且参赛多年来至今仍是唯一在此赛事中获得个人奖项的学生。 与此同时，期末成绩公布，周子琳以专业课电磁学99分、热学97分、高数96分的绝对高分，为自己一年来披星戴月的付出画上了一个圆满的句号。
屡败屡战 小有收获
然而比起学习和竞赛上的顺利，周子琳说她的科研之路却并非坦途。大三期间，无数人都为繁难的专业课忙得焦头烂额，周子琳还同时担负着多项从大二就开展的科研项目。朋友戏称她是“过着本科生的生活，操着博士生的心”，她笑说，“还做着青年学者的梦呢。”肩负着专业课和科研双重压力，她经常通宵达旦地做实验，也积极向研究生师兄师姐请教，可是在长达小半年的时间里，却得不到任何进展。那半年的时间里她经常晚上一个人跑到物院前面的学林里徘徊，反思原因。
如今回想起来，周子琳却十分感激那段最失落的时光，她说正是那半年磨练心智的过程，让她真正意识到很多困难和问题的所在；面对科研的顺利或失败，也渐渐能以一颗平常心去看待。她也庆幸自己在最艰难的日子也从未放弃过梦想，而是以梦为马，屡败屡战。
“功夫不负有心人”，周子琳找到了一个突破口，其他几个项目也渐入佳境。在物理学院徐海阳教授的指导下，她带领团队成功制备了基于氧化石墨烯的阻变存储器，通过掺杂改性让其从存储密度、读写速度和耐久性等方面大大提高了传统硅基存储器的性能。难以抗拒的渴望科学新发现的冲动激荡在她年轻的胸腔，给予她彻夜不眠工作的旺盛精力。在贾艳副教授的指导下，周子琳和她的两位室友许嘉琪、赵容共同完成的关于线偏振光的反射特性的研究工作也取得了重要进展，并以本科生的研究成果在第九届全国高等学校物理实验教学研讨会上荣获三等奖；周子琳还把对做过的实验、做过的习题而产生的探索整理成文，以第一作者在《物理实验》等国家级期刊上发表了3篇论文。
勇于承担 乐于分享
周子琳不光是学业科研上出类拔萃，她在学生工作、志愿服务等其他方面也一直走在前列。周子琳任职物理学院第48届学生会副主席期间，创办了分别针对公费师范、物理学和电子电气三个专业的科研学习型社团：物理学院教师技能协会、物理竞赛协会以及电子科技爱好者协会，协会成立一年来承办了多项国家级竞赛的培训及选拔工作。作为低年级学生的专业课助教，周子琳在为学弟学妹们答疑解惑之余，还很乐意和他们分享交流学习经验；三年来她还担任过6门课程的课代表，曾给少数民族的同学们进行课后辅导，曾为参加吉林省高中生物理学术竞赛的高中生们做讲座，鼓励他们勇敢追求自己的科学之梦。
“全面发展”，熟知周子琳的人们做出这样的评价。从学习到竞赛，从科研到学生工作，都有她优异突出的表现。如果说追求卓越是她的处世态度，那么逐梦科研则是她决定一生追求的事业。
如今，在徐海阳教授的推荐下，同时以在推免生复试中第一名的优异成绩，周子琳保送进入北京航空航天大学，师从纳米材料领域的泰斗——“长江学者”郭林教授，继续从事她所热爱的纳米科学研究，追求着对微观世界的极致认识。
千锤百炼，全面发展。周子琳的科研梦想在东北师范大学里生了根，发了芽，开了花。回首四年，静湖畔的日日夜夜如清风拂面，无声记录下她拼搏的青春；展望未来，“勤奋创新”的校训也必将继续激励她在科研的马拉松里不懈奔跑。从东师出发，她的逐梦之旅才刚刚开始。
 </p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
