<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>周惠容</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhouhuirong.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>周惠容</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>马克思主义学部</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送中山大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>学习典范、科研精英</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
			<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			
		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p>平凡的理想，不平凡的追求
—— 可以复制的理想与成才
理想与成才，是一代代东师学子的不懈追求。但只有高远的理想可以成才吗？平凡的理想，不可以成才吗？成才不可以被复制吗？马克思主义学部2013级周惠容的故事将告诉你：平凡的理想，也可以成才；她的成才，可以被复制。
平凡的理想，寓意不平凡的追求
她拥有一个最朴素、平常的成才理想——成为一名优秀的青年马克思主义者。但也恰恰是这平凡的理想，却蕴含了并不平凡的追求。它的不平凡之处在于，想要成为一名优秀的青年马克思主义者，其核心在于要做到全面发展。于是，她努力在各个领域寻求突破，不问成绩但求精彩。因为她相信，人生只需要负责精彩，上天会负责安排。
 她生长在拥有“全国扶贫第一村”的闽东山城，是曾任地委书记的习近平同志打赢脱贫攻坚战首发阵地。为感恩党中央对家乡脱贫致富的关切与牵挂，她积极靠近党组织，并成为年级第一个入党积极分子，现已成为一名中共党员，曾作为优秀代表参与全国“两学一做”基地示范班培训。她是本专业国家奖学金的唯一获得者，并作为学校唯一代表受邀参与全国大学生社会工作论坛，并在全球比较研究会会长常向群教授及前日中社会学学会会长陈立行教授的联名推荐下，以拔尖成绩保送中山大学。她曾多次主持国家级大学生创新项目、马克思主义学部本科生科研项目，参与国家社科基金项目、吉林省社会科学项目、吉林省科技厅软项目，发表过两篇省级期刊（其中1篇为RCCSE核心，另1篇被《长春社会科学》全文转载），即将出版15万字个人专著，曾获2015年吉林省社会学年会优秀论文二等奖（参赛本科生最高奖项）；作为2013级年级长，她参与、策划校级精品活动“征途杯”马克思主义理论学习宣传体验教育实践活动，并作为学生代表在学部特色学生工作总结与拓展会上进行汇报，讲述如何将鲜活的时代精神和社会元素融入校园，让马克思主义理论实践鲜活化；曾任行知学社副社长的她，敏锐意识到在对传统经典文本的学习中还需要引入最前沿、最热潮的教育载体，因此携同社员引进MOOC作为理论教育的线上载体，共同解读马克思主义经典原理。此外，她还是校级辩手、首届女生风采大赛总冠军、第五十届田径运动会女子3000米季军，一个敢于寻求全方位成长的东师姑娘。
她所取得的成绩并不耀眼，但她所涉猎的领域却是全面的。她相信只有这样的成长，才不会变成单向度的人；只有这样的成才，才能够成为一个有理想、有道德、有知识、有灵魂新时代的青年马克思主义者。
她的成才是可以复制的
以往社会中树立的成才典型与模范标杆，要么是牺牲生命舍己救人，要么是天赋异禀在某个领域做出重大贡献，都是走向神坛的精英式成才，离普通人的现实生活遥不可及，是不可复制的理想与成才。但在这个中国梦是每个人的梦的时代，我们追捧与打造的典型人物不应当是“高大全”，而是有理想、有生活、用不平凡追求演绎平凡人生的普通人。她就是一个这样的普通青年学子，她的成才之路并没有多么与众不同，她的成才可以复制。
     首先，大学需要活出一种状态。大学的成长，可以没有明确的指向，也可以没有既定的轨道，但不能没有积极向上的状态。她的状态是，敢于全面尝试。有人说，谁的青春不迷茫？而她要说，在尝试中的青春不迷茫。大学未必从开始就要想清楚未来要做什么，而是要知道自己想要成为一个什么样的人。而只有在不断尝试中，才能校准自己的定位。不要害怕尝试失败，因为人注定会经历失败，关键在于失败后要走出来。她的大学，就是从尝试开始的。从迎新晚会、中秋晚会到大学生艺术团期末汇演，从运动会、辩论赛、演讲比赛、摄影大赛、女生风采大赛到生活艺术品大赛，哪里有活动，哪里就有她的存在。积极踊跃的尝试，不仅让她斩获了第三届“我的中国梦”校级辩论大赛最佳风貌、“征途杯”团队竞生素质拓展大赛一等奖、党史知识竞赛一等奖、摄影作品征集比赛一等奖等诸多荣誉，也让她不断反思与检视自己，在多向度的成长中寻找心之所向。
    其次，大学需要活出一种格局。这种格局是干活往前冲，利益往后退；这种格局是，永远多做一些义务之外的事。她在正式进入年级工作体系之前，她号称是“体制外的年级长”，因为凡是年级组织的活动她都积极响应，凡是年级安排的任务她都冲在第一线，不打折扣地配合年级工作。而从学生会秘书处干事、学研部副部长到2013级年级长，她将青春的热血献给了学部工作，但从来没有申请过任何一个学生干部的相关奖项，但问耕耘，不问收获，也正是愿意为他人付出多一点点的奉献精神，让她拥有扎实的群众基础，连续三年全票当选优秀学生。
全面发展的成才追求，是快乐的
 人生来就是受苦的，受的苦越多，成长也就越多。她始终对这句话深信不疑。因此，她的快乐并非是吃饱穿暖后，闲看庭前花开花落的初级享乐，而是不怕吃苦、苦尽甘来后带来的内心充实与精神昂扬。她坚信，如果走的很辛苦，那是代表在前进。
所谓容易，都是建立在不容易之上。2014年7月，她追随学部“信有所属、农情觅意”学生暑期调研团队来到吉林省吉林市龙潭区乌拉街镇所辖的三个村开展实地调研活动，针对农村思想信仰问题，在田间地头、在村支部、在农民家发放问卷。本以为是轻松差事，但在遭受农民们的诸多拒绝后她开始感到灰心丧气。被误解为邪教残余而被轰出家门，被怀疑为党中央视察小组而拒绝受访，甚至被放出目露凶光的大黄狗而狼狈出逃。但她相信，所谓的容易都是建立在不容易之上的。她一遍又一遍地掏出学生证解释身份，一声又一声地恳求相信他们的调研初心。苦心人，天不负，他们的诚意最终感动了村支书，村支书答应为他们做好村民们的思想工作，并允许他们进行入户调查。最后，他们满载而归，调研团队还凭此研究一举夺得了新奥“家曦杯”课外学术科技作品竞赛三等奖、暑期社会实践优秀奖的佳绩。
大学不仅仅是来奋斗的，更是来战斗的。2014年12月，她以本科生负责人的身份投入到“纪念丁克全先生诞辰100周年暨社会学学科发展与理论创新高端论坛”的筹备工作当中，参与整理丁老著作稿三十余万字。因起早贪黑地对着电脑校稿，一向身体素质好的她因用眼疲劳而导致角膜溃疡，当天就被送进医院。但她并不就此中断工作，她认为眼睛用不了，还可以用脑袋。她在病房中完成纪念文章的构思与框架，在出院后恢复战斗状态，投入文章的撰写，终于赶在《丁克全先生诞辰一百周年纪念文集》（东北师范大学2015年版）出版前如期交稿。
如果你不曾在深夜痛哭过，不足以谈大学。2016年9月，以中山大学为推免目标校并为之苦战八个月的她，看到中山大学公布推免信息时百感交集。中山大学一改以往招生方式，将时间推迟至10月中旬，这意味着它将是全国最晚推免面试的社会学类院校。如果她一意孤行，她必须放弃前期所取得所有的offer，单枪匹马地承担一切后果：如果面试失败，她将保研失败。这是一场智慧与勇气的硬战，战还是不战？那一夜，她彻夜未眠，她痛苦流涕。可是倔强如她，她还是决定迎难而上放手一搏，为冲刺中大而奋战到底。眼看着年级其他保研同学都尘埃落定，她承受着巨大的心理压力，坐上长达36小时的长途火车只身前往羊城，在佼佼面试者当中杀出重围，这一战，她赢得惊心动魄，气壮山河。
    她是就是这样一个普通女孩，家境普通，资质平庸。她无法诉说身残志坚、逆境成才的感动中国故事，也无法演绎保送常青藤名校的学神传奇。但平凡如她，恰恰是代表着这个校园、这个社会的大多数。她在为平凡的大多数代言，为普通如你我的东师学子发声：平凡的理想，可以成才；她的成才，可以复制。
 </p>		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
