<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>朱丹炜</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		   <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhudanwei.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>朱丹炜</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>政法学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>保送至南京大学</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>思想进步、全面发展</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p> 超越自我，全面成长
     朱丹炜，女，政法学院国际政治专业2013级本科生。曾任东北师范大学模拟联合国协会会长，学习委员，曾获国家奖学金，亚洲模拟联合国大会“最佳立场文件”奖，校“十佳学生社团干部”，在专业学习与各项实践中表现突出。
“What Northeast Asian countries should do is to reach consensus on preventing a further escalation of the Peninsula crisis as soon as possible”朱丹炜正站在普林斯顿大学的讲台上用英文发表自己的对朝政策演讲，这是今年4月她赴美参加“中美联盟”国际学术会议的片段之一。作为唯一一名来自中国大陆的本科生，她在这次会议中与来自世界各地的优秀青年共同享受着思维碰撞带来的无尽乐趣。而就在三年前，孤身一人前往美国开会，全程以英文发言对她而言还是一件根本无法想象的事。在师大的三年时光里，她在挫折中发展自我，在挑战中书写青春，摸索出了适合自己的成长道路。
在自我超越的道路上不断拼搏
带着对国际政治专业的好奇她步入大学的校门，然而艰涩的专业理论与庞杂的知识谱系很快让她意识到自己的无知与捉襟见肘。不服输的她决心奋起直追，用勤奋弥补与优秀的差距。课后她把时间贡献给了阅读，寝室里桌上、柜中、床上耸起一座座“书山”，晚上熄灯后拿起手电筒她照样能读得入迷。炎热的暑假为了节约用电，她经常栖身肯德基、麦当劳看书学习，一待就是一下午，人声鼎沸的嘈杂环境对她没有构成丝毫影响。从政治哲学深刻的价值原则到国际政治宏大的思维方式，从先秦诸子的悲天悯人到近代西方的呐喊解放，文字下一个个具象化的灵魂跨越时空呼之欲出，每每读至精彩处她总会心一笑，仿佛与大家们心意相通，又完成了一次知识的颠覆与重构。为了获取多元化的阅读体验，同时也为了带动国际政治专业同学们的读书热情，她积极参与国政读书会，把它当做图书馆以外第二个精神天地。三年来，每周一次的读书会她风雨无阻，在这里她与其他成员交流、分享、争辩，多维国际视角与扎实学科素养背后是每周数以万字中英文文献的积累与贯通。
研究国际政治一个必备的基本功是英语。然而第一次参加模联英文会议的窘迫经历给了她惨痛的教训。为了提高阅读能力，她坚持每天研读国际政治专业的英文期刊与书籍，每天背400个英语单词；为了拓展国际视角，她长期收集联合国会议文件，形成了自己的迷你文献库；为了体会英语的地道表达，她参加了长达一年的字幕组志愿翻译工作，将国外网站的优秀视频翻译成中文。一个个苦读英文材料的深夜换来了她英语水平的直线提升，三次负责政法学院英语学术讲座的口译工作，担任“冷战中的东北亚”国际学术会议的英文翻译，她的自如发挥获得了来自Queen’s University, Kettering University等多所国外高校教授的大力赞许。
以自信与勇气开拓国际舞台
为了提升自己在国际政治领域的实践能力，大学伊始她就投入到模拟联合国活动的锻炼中。2014年，初生牛犊的她参加第十一届中国模拟联合国大会，但差强人意的表现令她陷入到深深的沮丧与苦闷情绪中。凌晨两点的宿舍走廊上，脸上还挂有泪痕的她一遍遍背诵着手中的英文材料，近一个月高强度的自我练习终于让她渐渐摆脱阴影。第二年，她带着上次的遗憾参加了北京大学亚洲模拟联合国大会，与来自全国的优秀大学生同台竞技，为各自的“国家利益”奔走呼号。会前的充分准备为她在会上的灵活反应与出色表现打下了坚实的基础。经过四天紧张的斡旋谈判，她参与编写的国家援助方案以全场最高票数通过，并一举拿下了“最佳立场文件奖”，这是时隔三年之后东师学子的再一次获奖。
三年的蛰伏与积累为的是有朝一日的最美的绽放。2015年暑假，她参加了由北京大学与美国芝加哥大学联合举办的“国际关系理论与方法”研讨班，最新的学术研究动态、多元的学术交流背景极大扩充了她对于国际政治的理解。起初，全英文的授课环境让她感到有些吃力，教授们脱口而出的专业词汇她竟茫然不知，课下中外学者们的自如沟通更是让她挫败不已。然而，她并不是一个轻易认输的人：为每天的课程录音，课后反复听、记；查找大量相关英文期刊与材料进行阅读，经常熬至两三点才睡。正是这样奋斗的日子让她体会到了学习的真正乐趣，也让她明白了学习国际政治专业的真正目的——不是为了获取知识显摆自己，而是出于对国家、对世界的美好期愿致力于人于世界的和谐共存、长远发展。
今年四月的普林斯顿之行再一次让她意识到了自己的渺小，与世界顶尖大学学生的差距给了她再次超越的空间。期间她与来自哈佛、哥伦比亚等大学的学生就中美两国的误解与未来前景展开了激烈的争辩，迥然不同的文化背景并没能阻挡他们相互了解的脚步，尽管观点各异、理念不同，但包容与理解让他们感受到了文化与思维碰撞的魅力。在这次会议中她还有机会与大名鼎鼎的中国问题研究专家傅高义教授探讨了当前朝鲜半岛危机的解决方案。令她吃惊的是，年近九旬的傅高义教授仍然保持着惊人的记忆力的异常活跃的思维能力，他为她所提出的政策方案给予了详尽的评价与建议，并分享了他自己关于半岛问题的思考。老先生对学问孜孜以求的大家风范让她深受触动，至今一直激励着她在学术的道路上不断探索。
工作实践中为他人亮起明灯
东师模联协会是她的第二个家，自2015年出任协会会长以来，她用勤恳的工作态度与灵活的办会思路为协会发展开辟出新的道路。第九届东师模联大会上统筹着会议各项进程的她是那个最忙碌的人。从与酒店商家的据理力争到会务用品的设计制作，每一个环节她都全力以赴，只为办出一届高水平的模联会议。经历过与酒店协调失败的愤怒沮丧，面临过会议突发状况时的心急如焚，所有的困难她都咬咬牙坚持了下来。最终这次会议成为协会历史上规模最大的一次活动，吸引来自全国二十余所高校近两百名大学生的参与，还收到了北京大学国际关系学院院长贾庆国教授发来的贺词。此外，参与东北高校模联的联合建设、编写东北模联通用学术手册、首创“培训+大会”形式的长春市首届模联训练营……她鼓励协会成员大胆革新，成果丰硕。就在今年，模联协会以出色的成绩勇夺勇夺校“十佳社团”之冠，而她本人也被评为校“十佳学生社团干部”。回顾一年的奋斗历程，她深切感受到协会工作对自己能力的塑造。无论是学术上的精益求精、组织上的统筹规划，还是人际交往中的倾听与互动，工作中她不断发现问题、不断更正不足，以自我超越的态度迎接挑战。
学习与工作之余她还肩负起给高中生的模联培训任务，这带给她书本知识所没有的全新体验。东师附中、吉大附中、哈尔滨三中、沈阳二中……短短半年，她的足迹遍布东北三省十余所学校。就在同学们商量周末如何休闲时，她已背起书包急匆匆赶往下一所学校，为那里的孩子讲授模联知识。她用自己参加模联会议的亲身经历以及自己的专业知识，为学生们展示这一活动的无穷魅力，帮助他们快速适应角色扮演、亲身体验纵横捭阖的国际政治。有时同一天好几个城市间的奔波让她根本顾不上吃饭；有时连续三个小时的授课下来她已没气力说话。然而，在与学生的互动中她收获了宝贵的教学经验，孩子们十足的创意与活跃的思维也令她受益匪浅。今年二月，她以带队老师的身份带领高中生前往美国参加芝加哥大学模拟联合国大会。十四天的朝夕相处，从会议指导到“生活管家”，她用细心的呵护和高度的责任感与学生们建立起深厚的友谊，孩子们至今仍亲切地称她为“姐姐”。在她看来学生们真诚的笑容与模联场上傲人的表现是她独一无二的记忆财富。

成长的路上亦歌亦泣，每一种滋味都尝过方明白奋力的珍贵。享受吃苦的过程是为了更好地完成自己，朱丹炜以自我超越的态度迎接挑战，未来她将用孕育于师大的理想前往南京大学实现自己更高的追求！
</p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
