<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta http-equiv="x-ua-compatible" content="IE=8" />
<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
<link rel="stylesheet" href="../public/css/introduction.css" type="text/css">
<title>朱岳涵</title>
</head>
<body>
     
</head>
<body>
	<div class="header">
		<img src="../images/in-background.png">
	</div>
	<div class="in-nav-home">	
		
		<ol class="breadcrumb">
		    <li class="glyphicon glyphicon-home" style="color:#572703;"><a href="../index.html">首页</a></li>
		    <li><a href="../last.html">终极答辩</a></li>
		    <li class="active">成员简介</li>
		</ol>
	</div>
	
	<div class="content">
		<div class="in-photograph">
			<img src="../public/images/pic/zhuyuehan.png" width="170" height="210"/>
		</div>
		<div class="page-header in-intro">
  				
  				<h1>成员介绍 <small> members introduce</small></h1>
		
			 
			<table class="table table-striped in-intro-content">
   
			  <tbody>
			    <tr>
			      <td>姓名：</td>
			      <td>朱岳涵</td>
			       
			    </tr>
			    <tr>
			      <td>学院及专业：</td>
			      <td>信息与软件工程学院</td>
			       
			    </tr>
			    <tr>
			      <td>毕业去向：</td>
			      <td>就业</td>
			       
			    </tr>
			    <tr>
			      <td>类别：</td>
			      <td>艰苦奋斗、自强不息</td>
			       
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="in-other ">
			
			
		<ul>
				<li class="in-other-content" >其他成员</li>
			 	 <li class="in-other-content"><a href="guoyanbing.html"   >郭艳斌</a></li>
			 	 <li class="in-other-content"><a href="yueyingying.html"  >岳盈盈</a></li>
			 	 <li class="in-other-content"><a href="zhangqian.html"  >张茜</a></li>
			 	 <li class="in-other-content"><a href="linke.html"  >林  可</a></li>
			 	 <li class="in-other-content"><a href="chengjunming.html"  >程钧铭</a></li>
			 	 <li class="in-other-content"><a href="lvtianjiao.html"  >吕天骄</a></li>
			 	 <li class="in-other-content"><a href="zhouhuirong.html"  >周惠容</a></li>
			 	 <li class="in-other-content"><a href="xufei.html"  >徐  飞</a></li>
			 	 <li class="in-other-content"><a href="liuminghao.html"  >刘明昊</a></li>
			 	 <li class="in-other-content"><a href="zhouzilin.html"  >周子琳</a></li>
			 	 <li class="in-other-content"><a href="liujuan.html"  >刘  娟</a></li>
			 	 <li class="in-other-content"><a href="yetingming.html"  >叶挺铭</a></li>
			 	 <li class="in-other-content"><a href="yuanchengrui.html"  >苑城睿</a></li>
			 	 <li class="in-other-content"><a href="mengxiangyun.html"  >孟祥云</a></li>
			 	 <li class="in-other-content"><a href="zhudanwei.html"  >朱丹炜</a></li>
			 	 <li class="in-other-content"><a href="baochongqing.html"  >包崇庆</a></li>
			 	 <li class="in-other-content"><a href="wangsiyu.html"  >王司宇</a></li>
			 	 <li class="in-other-content"><a href="shenfangyu.html"  >申芳瑜</a></li>
			 	 <li class="in-other-content"><a href="wangtianzhuo.html"  >王天卓</a></li>
			 	 <li class="in-other-content"><a href="houwenyu.html"  >侯文宇</a></li>
			 	 <li class="in-other-content"><a href="zhengyuanyuan.html"  >郑媛渊</a></li>
			 	 <li class="in-other-content"><a href="zhangwanxiong.html"  >张皖雄</a></li>
			 	 <li class="in-other-content"><a href="yanni.html"  >燕  妮</a></li>
			 	 <li class="in-other-content"><a href="zhangmingwei.html"  >孙铭徽</a></li>
			 	 <li class="in-other-content"><a href="xuyunyue.html"  >徐云月</a></li>
			 	 <li class="in-other-content"><a href="zhuyuehan.html"  >朱岳涵</a></li>
			 	 <li class="in-other-content"><a href="zhangzhong.html"  >张  仲</a></li>
			 	 <li class="in-other-content"><a href="yangxiuyun.html"  >杨秀云</a></li>
			 	 <li class="in-other-content"><a href="mayingcai.html"  >马英才</a></li>
			 	 <li class="in-other-content"><a href="maimaitiming.html"  >买买提明</a></li>
			 	  
			 </ul> 
			

		</div>

		<div class="in-report">
			<h1>理想与成才报告 <br><small> Report on ideal and success</small></h1>
			<h3>仰望星空盼楚天、脚踏实地励栋才</h3>
<p> 当你一无所有之时，你便会无所不能
朱岳涵，男，汉族，中共党员，信息与软件工程学院软件工程专业2013级本科生，非资助对象，现任拥有四亿用户的上海触宝科技信息有限公司产品经理一职，曾任东北师范大学校学生会体育部副部、软件学院学生会主席、软件学院2013级年级长，东师后勤网络工作室创始人兼总负责人。
	绝境中成长，向命运搏击！大学的三个春秋，朱岳涵经历了太多，母亲突发心脏病离世的痛苦尚未消逝，父亲便查出肺癌晚期，面对突如其来的家庭变故，他没有颓废，而是明确自己的优势与不足，利用优势做到精致。他自立自强，创立东师后勤网络工作室，为学校信息化建设奉献出软件学子的赤忱。他可以接受命运带来的伤痛，但他永远不屈服于命运的不公，他敢于向命运搏击出属于自己的碧海蓝天！
路漫漫其修远兮，吾将上下而求索
	“不登高山，不知天之高也。”，初入大学，他便播下梦的种子。他积极参与各种学生工作，提升组织能力，服务同学。成功竞选年级长的他，每次活动都会冲到最前头，以身作则带动同学。寒风凛冽的雪地里，有他因扫雪的汗水；欢笑轻松的舞台上，有他默默组织的身影；活泼有趣的春游时，有他忙前忙后的声音。他想要把自己的一切献给同学：为了让大家看到一场精彩的演出，他在零下二十多度的雪地里搬回演出服装；为了圆满举办年级活动，他提前一周就做好准备与宣传。黝黑的皮肤、强壮的身体都是他学生工作出色的象征。他带领2013级同学拿到优秀班级、优秀团日等诸多荣誉，他沉浸在这匆忙而又充实的大一生活中。
丈夫非无泪，不洒离别间
	“宝剑锋从磨砺出，梅花香自苦寒。”大二上学期，当他还洋溢在春节的喜悦和鞭炮的轰鸣声时，母亲突发心脏病去世，他搂着冰冷的身体，承受着巨大的悲痛。但他并没有因此放弃自己，而是更加努力地向天边的母亲证明“小儿立志出乡关，学不成名誓不还”。在大二下学期初，他在老师的关怀和同学的鼓励下，重新振奋自己，积极参加竞选，成功当选校学生会体育部副部、软件学院学生会主席。也正是在担任院学生会主席期间，他因思想积极表现突出，光荣地加入了共产党。他严记入党誓词，他不想让自己闲下来。运动会期间，他每天早上五点钟便陪着太极拳团队训练，晚上又再去操练方阵队伍，用学习和学生工作填满自己的一天。他没有时间思念和低迷，他用每天的激情、责任和果敢向天边的母亲证明自己。这一年，他成功了，校运会他带领学院取得全校第五、净月第二的学院历史最好成绩；“阳光杯”羽毛球赛，软件学院荣登榜首！“学士杯”足球赛，软件学院荣获净月冠军，全校第二；他带领学院队伍在各个校级活动中展现了软件风采。他重新振奋了自己，慢慢走出阴霾，他享受着每一天的阳光和雨露。
千磨万击还坚劲，任尔东西南北风
看似渐渐消逝的乌云背后，又迎来了晴天霹雳的巨变。2016年初，他父亲被查出肺癌晚期。看着日益消瘦，只能靠高额医药费维持生命的父亲，他不知多少次躲在被窝里哭泣。但他深知自己是家里的男子汉，绝不能倒下。他毅然决定挑起家庭的重担，放弃攻读研究生，选择就业，成为这个“屋漏偏逢连夜雨”家庭唯一的脊梁。他开始为他的求职积极筹备，他与四个学院的同学联手，成立了东师后勤网络工作室，带领团队建设了东师后勤财务报账系统、东师后勤服务监督平台、东北师范大学罗格斯大学纽瓦克学院门户网站、东北师范大学思想政治教育中中心门户网站、东北师范大学校社联门户网站、法律援助等十余个大小网站系统，为东北师范大学信息化建设做出了突出的贡献。
功夫不负有心人，他的精心准备也为他取得了百度、京东等几家公司的实习资格，但由于实习工资低，难以负担父亲每天近一千元的医疗开销，他登上了“非你莫属”求职节目的舞台。舞台上他的自信从容和乐观向上，深深打动了在场的十余位老板，最后在留灯的七家公司中他选择了触宝科技的产品经理职位，并拿到月薪五千加的实习工资待遇。上海对于这个小伙子，注定是孤独的前行，但他没有忘记在他那最伤痛的时候学校学院给予他的关怀，他在暑假开始便带领一批学弟学妹进行专业知识的学习，用项目带动教学，学弟学妹专业知识得到了极大的提升。工作期间，他仍每周定期监督学弟学妹们的学习内容，并给予指导帮助。他想倾尽自身所学回报给他力量的东北师范大学。“春蚕到死丝方尽，蜡炬成灰泪始干”，他不是春蚕，但他想用自身的力量，为学校点亮他自己的光明，他激励着在迷茫中学子们选择坚强地前行，他鼓励着学子们哪怕在苦难中也要挺起胸膛！
	时光一去不复返，岁月中苦难的磨砺让他变得成熟。朱岳涵深知，他如今所取得的小小成就离不开软件学院这片沃土给予的悉心栽培；离不开东师这个舞台给予的广阔天地；更离不开老师同学这些可亲可敬的人给予的信任与帮助。
“当你一无所有之时，你便会无所不能！”这是他的座右铭，也是他平凡但不平庸之路的写照。他可以接受命运带来的不公，但他绝不屈服命运给予的平庸！相信朱岳涵同学在未来的IT岗位上也能继续顽强拼搏、砥砺前行、无悔付出，用责任、热爱与坚韧继续书写美好的人生蓝图，继续传承软件精神与东师血脉。
</p>			
		</div>
	</div>

	 <div class="footer">
         <img src="../images/in-footer.png">
	</div>
	 <script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
