@charset "utf-8";
/* CSS Document */
p{
	line-height: 30px;
	text-indent:42px;
}
#right{
height: 1400px;
width: 780px;
margin-top: 10px;
	}
#right1{
	height: 48px;
	width: 780px;
	background-image: url(../images/xch_08.jpg);
		}
#right2{
background: url(../images/xch_09.jpg) repeat-y;
height: 1000px;
width: 780px;
font-size: 14px;
			}
#right21{
margin-left:20px;
				}
#right11{
background: url(../images/xch_12.jpg);
height: 48px;
width: 780px;
		}
#right12{
background: url(../images/xch_14.jpg);
height: 48px;
width: 780px;
		}
#right13{
background: url(../images/xch_13.jpg);
height: 48px;
width: 780px;
		}
#right14{
background: url(../images/xch_14.jpg);
height: 48px;
width: 780px;
		}
#right15{
background: url(../images/xch_15.jpg);
height: 48px;
width: 780px;
		}
#right16{
background: url(../images/xch_16.jpg);
height: 48px;
width: 780px;
		}
#right17{
background: url(../images/xch_17.jpg);
height: 48px;
width: 780px;
		}
		#right18{
background: url(../images/xch_18.jpg);
height: 48px;
width: 780px;
		}
				#right19{
background: url(../images/xch_19.jpg);
height: 48px;
width: 780px;
		}
