@charset "utf-8";
/* CSS Document */
#left{
height: auto;
width: 300px;
margin-top: 10px;
margin-left:0px;
margin-right:5px;
	}
#left1{
background: url(../images/xch_02.jpg);
height: 48px;
width: 320px;
	}
	#left3{
background: url(../images/xch_03.jpg);
height: 52px;
width: 320px;
	}
	#left2{
background: url(../images/xch_05.jpg) repeat-y;
height: auto;
width: 320px;
		}
		#left21{
margin-left: 100px;
			}
			#left4{
background: url(../images/xch_05.jpg) repeat-y;
height: 117000px;
width: 320px;
				}
				a{
text-decoration: none;
color: #000;
				}
a:visited {
color: #000;
text-decoration: none;
}
